[2017-01-20 00:41] no-stack-dub-sack opened #17 "issue w/ drum machine tests"
as pointed out by a camper during QA, the tests for the drum machine are dependent on the drum pads being in the right order. I think a quick change to the user stories will fix this, we need to require the drum pads be in a specific order

[2017-01-20 00:42] no-stack-dub-sack opened #18 "calculator tests need error messages"
this was one of our first projects, and we were not being as thorough at the time. Explicit error messages are needed

[2017-01-20 03:34] #17 closed

[2017-01-20 03:34] #18 closed

[2017-01-29 05:25] no-stack-dub-sack opened #22 "replace input[type=checkbox] w/ # toggle"
This issue was originally opened on FCC main, see it [here](https://github.com/freeCodeCamp/freeCodeCamp/issues/12837)

[2017-01-29 05:29] no-stack-dub-sack opened #23 "css pollution issues"
The project's CSS could use a bit of a refactor to prevent CSS pollution in both directions, both the project's CSS affecting the test suite, and the test suites CSS affecting projects, will need to take a look and see what other improvements can be made like in #22

[2017-01-29 05:38] no-stack-dub-sack opened #24 "add "report bug" link"
These projects have not been super thoroughly QAd and I anticipate a decent amount of issues - I think there should be a link somewhere so that people can report bugs in the right place, otherwise I fear they will likely get reported on the main repo and tracking will be a bit more difficult

[2017-01-29 20:55] #24 closed

[2017-01-29 20:59] christophherr opened #26 "[Random Quote Machine] Random timeout of tests 7, 8 & 9"
#### Issue Description
Tests are failing randomly with the message:
Error: timeout of 4000ms exceeded. Ensure the done() callback is being called in this test.

[code]

Just before submitting the issue, I ran the tests again and test 7 failed (see screenshot):
[code]

#### Browser Information

* Browser Name, Version: Chrome, 55.0.2883.87 m (64-bit)
* Operating System: Win10
* Mobile, Desktop, or

[2017-01-29 21:08] christophherr opened #27 "[Random Quote Machine] Layout Test 1 failing"
#### Issue Description
Layout test 1 -  The #quote-box wrapper element should be horizontally centered
seems to be failing when a scroll bar is visible.

On my 13.3" display, there is always a scroll bar in editor view. The test never passes when run in editor view.
In Full Page view, the test passes as long as there is no scroll bar.

clientWidth does not take a scroll bar into account and might

[2017-01-29 21:36] chznbaum opened #29 "[Survey Form] Add user story/unit test for submit button"
#### Issue Description
The survey form test suite will indicate a project passes all tests even if they do not include a submit button for their survey.

#### Browser Information

* Browser Name, Version: Google Chrome version 55.0.2883.87 (64-bit)
* Operating System: Ubuntu Linux 16.04 LTS
* Mobile, Desktop, or Tablet: Laptop

#### Your Code

[code]

#### Screenshot

![screenshot from 2017-01-29

[2017-01-29 22:44] no-stack-dub-sack opened #30 "clicking test case "arrow button" takes user nowhere"
#### Issue Description

These buttons take the user to a blank page within codepen. To go back you'd have to right click within the preview window, rather than use the browsers nav buttons, because then you'd be going back not in the preview but for the whole page:

![image](https://cloud.githubusercontent.com/assets/18563015/22408651/630de7c0-e64a-11e6-8147-7d79b6b67f5e.png)

[2017-01-29 22:46] no-stack-dub-sack commented on #29
@chznbaum nice catch! Open to making a PR to fix your discovery? If not, no worries, figured I'd give you the first right of refusal though. If so, check out the contributing guidelines so you have a good idea of whats going on. Thanks!

[2017-01-30 00:10] no-stack-dub-sack commented on #23
@QuincyLarson So I've taken a look, and I think with the fix made from issue #22, the one about the `input[type="checkbox"]`, there are no other rules from the test suite's CSS that will pollute a projects CSS, however, enforcing the reverse is quite the challenge.

If a user adds global styles to their projects using the `*` selector or something like:
[code]
or:
[code]
Any rules like these have

[2017-01-30 15:30] christophherr commented on #27
@no-stack-dub-sack
What I have found so far:
Function testHorizontallyCentered expects delta to be between < 3 and > -3 to return true.
[https://github.com/freeCodeCamp/testable-projects-fcc/blob/master/src/project-tests/quote-machine-tests.js#L14](https://github.com/freeCodeCamp/testable-projects-fcc/blob/master/src/project-tests/quote-machine-tests.js#L14)

When a scroll bar is visible on my 13.

[2017-01-31 19:42] QuincyLarson commented on #23
@no-stack-dub-sack one thing you could do is set all the CSS properties specific to your test result box to !important which would make them harder to accidentally override.

[2017-02-02 01:59] no-stack-dub-sack commented on #23
@QuincyLarson I've already done this for most of them, however, the bigger problem is properties that we are not setting at all. In order to prevent those from being overridden, I believe we'd have define every single property as its default and then use `!important`

[2017-02-02 02:10] no-stack-dub-sack commented on #27
@christophherr nice investigative work! Hmmm, the only issue I see with changing the delta to your suggestion, I guess, is this solution covers your display, but will this also cover another display where the delta is greater that 8.5. Also, how large can we make the margin of error, before it's possible to fool the test even if the element is not horizontally centered.

I wonder if we can brainst

[2017-02-02 02:30] no-stack-dub-sack opened #31 "[markdown previewer] tests 3, 4 (and 7?) fail in vue.js implementation"
When implemented with vue.js, the markdown editor does not pass all tests even though it functions according to specs.

Thanks @christophherr for reporting this! I've forked your pen to preserve this issue in case you change or delete it.

### Pen:
http://codepen.io/no_stack_dub_sack/pen/bgvoMa

[2017-02-02 02:43] no-stack-dub-sack commented on #31
Hey @QuincyLarson, @christophherr reported this issue on the forum, and it's an interesting one. I know we discussed when this was being developed, that testing implementations in jQuery, React, and vanilla would cover about 90% of campers - well... here's one of our 10%!

Problem is, i have no idea what's going on under the hood in Vue.js - so I'm at a loss on how to test for what it's doing.  I

[2017-02-02 04:35] no-stack-dub-sack opened #32 "[tribute page] layout test 2 fails when using bootstrap CSS"
thanks to @rmdawson71 for reporting this issue!

For some reason, bootstrap effects the width calculation made in layout test 2. Adds an extra 10px. Even though image is centered within parent, test fails. Forked @rmdawson71's pen to preserve this issue: http://codepen.io/no_stack_dub_sack/pen/dNmZrd (test should pass once issue is fixed though).

I confirmed bootstrap being the cause by taking th

[2017-02-02 04:45] #32 closed

[2017-02-03 15:45] DarrenfJ opened #34 "Tribute Page beta challenge id="img-div" not recognizing child id's "image" and "img-caption""
for @no-stack-dub-sack

#### Issue Description
original ticket here: https://github.com/freeCodeCamp/freeCodeCamp/issues/13065#

pen here:  http://codepen.io/DarrenfJ/pen/jAxadd

Fails last 3 tests. Seems to not recognize that the id's img-caption and image are inside the div with id img-div. This was confirmed when I commented out 2 lines that linked to a youtube vid between the div img-div and t

[2017-02-03 19:24] QuincyLarson commented on #31
@no-stack-dub-sack I agree with your suggestion. I think we should lock these threads and encourage people to click the "report bug". I can make the announcement.

Other than Choropleth, are there any other challenges which no one has attempted a QA build yet? I can tweet links to them and probably get people working on them immediately.

[2017-02-03 19:26] QuincyLarson commented on #23
@no-stack-dub-sack it sounds like we've covered MOST of the bases, and can let this go. As long as we have some basic text, like the text you proposed, that notifies campers that their CSS can break the tests, I think we're OK. At the end of the day, there's only so much we can do to prevent them from doing these things.

[2017-02-03 19:28] QuincyLarson commented on #23
@no-stack-dub-sack I checked your PR and it didn't have your note about global style rules so I reopened this issue. To be 100% clear, I agree that a note about global styles is good and we should have one. Your verbiage above is sound. Once you've added it, I think we can close this issue.

[2017-02-03 22:45] no-stack-dub-sack commented on #34
@DarrenfJ you can go ahead and re-fix your pen if you'd like - I've forked your project [here](http://codepen.io/no_stack_dub_sack/pen/oBdmZO) to preserve the issue. Thanks for reporting this! I'll look into this and should be able to fix.

[2017-02-03 22:55] no-stack-dub-sack opened #35 "[beta] modify freeCodeCamp ISSUE_TEMPLATE.md"
@QuincyLarson I wanted to run this by you - I had a thought about adding a comment to the FCC proper issue template about the testable projects since there have been a couple of issues opened in the wrong repo regarding the test suites.

I've added a "report bug" link to the project, so hopefully people will use that, but in case they go straight to FCC main repo - I thought maybe a comment near t

[2017-02-04 00:59] #34 closed

[2017-02-04 01:20] no-stack-dub-sack commented on #34
@DarrenfJ Thanks again for pointing this out - I've fixed the tests so now [the broken one](http://codepen.io/no_stack_dub_sack/pen/oBdmZO?editors=1111) that I forked to preserve still works. The issue was that the test was previously assuming `id="image"` & `id="img-caption"` would be a direct descendents of `id="img-div"`, so it was checking for their direct parent, expecting it to be "img-div"

[2017-02-04 20:46] SehrOne opened #37 "[markdown previewer] Wrong Error-Messages from test Nr. 6"
#### Issue Description

The last 3 error-messages all say `write some markdown representing an <h1>` instead of the correct messages:
`write some markdown representing an <blockquote>`
`write some markdown representing an <img>` and
`write some markdown representing bolded text, <strong>...</strong>`

This is quite confusing, I forgot the space between the \> and the actual blockquote text.
The er

[2017-02-05 15:24] QuincyLarson commented on #35
I agree - if you can confirm the URL where issues should be created and the wording, we can add it to the top of the issue template on freeCodeCamp's main repo. That is where people are most likely to read it when they're opening an issue.

[2017-02-05 16:36] no-stack-dub-sack commented on #35
@QuincyLarson Ok, great - I can do that. The only other thing I might like to do, is maybe include whatever API that FCC uses to collect browser / OS info and populate it into the issue in this repo as well to make that part easier for campers and since that is likely a very relevant part of these issues.

Do you know where I can learn more about that? Not totally necessary but would be great, as

[2017-02-05 16:45] no-stack-dub-sack commented on #31
@QuincyLarson Only one person each have done both the [bar chart](https://forum.freecodecamp.com/t/bar-chart-project-with-testable-user-stories-guinea-pigs-needed/71909/4) and the [tree map](https://forum.freecodecamp.com/t/tree-map-d3-project-with-testable-user-stories-guinea-pigs-needed/78623/2) (and both unsuccessfully in terms of passing all tests), and no one has done the other 2 D3 projects,

[2017-02-05 16:50] no-stack-dub-sack commented on #23
@QuincyLarson Are you referring to the note to campers that I included a screenshot of above? That note will not appear in the PR as it is a comment left directly in the codepen boilerplate (the only effective place to leave it and guarantee that campers see it). It is included in the boilerplate found here: http://codepen.io/freeCodeCamp/pen/MJjpwO

If this is what you meant, I think you can go a

[2017-02-05 16:52] no-stack-dub-sack commented on #37
@SehrOne Ahh! Thanks for pointing this out! Nice catch, I can go ahead and fix this.

[2017-02-05 17:20] #37 closed

[2017-02-05 19:46] SehrOne opened #39 "[Tribute Page] Typo in Test Nr. 6"
#### Issue Description

Test Nr. 6 includes the HINT from Test Nr. 7

#### Screenshot

![bug](https://cloud.githubusercontent.com/assets/20795864/22629302/9e37d33a-ebe3-11e6-9ca3-ad00a14e7fba.jpg)

[2017-02-05 20:18] chznbaum commented on #29
@no-stack-dub-sack Sorry for the delayed response. I'm out of town and have had less time than usual lying around. I'll need to pass for now just for lack of time, but thanks!

[2017-02-05 23:05] DarrenfJ commented on #34
Thanks for pointing that out and glad I could have been some help.. 😃

[2017-02-07 02:45] no-stack-dub-sack commented on #39
@SehrOne Hey, nice catch yet again! Would you like to take a stab at fixing this?

[2017-02-07 06:25] SehrOne commented on #39
@no-stack-dub-sack Thank you, I´d like to fix it myself.
I`ve never contributed before so I´ll first have to set up everything locally.

[2017-02-07 07:57] QuincyLarson commented on #23
@no-stack-dub-sack OK - thanks for pointing this out. Yes - I'm glad campers will see that comment right in the boilerplate.

[2017-02-07 07:57] #23 closed

[2017-02-07 08:01] QuincyLarson commented on #31
@no-stack-dub-sack OK - I'm locking these threads now. I think with the volume of people who will be working through these soon, you should get issues for both Choropleth and Scatterplot. I'm going to announce these prominently once we iron out a few more issues, then leave them in beta for a few weeks with people working through them.

[2017-02-07 08:10] QuincyLarson commented on #35
@no-stack-dub-sack here's an example of a URL that helps pre-populate these issues:
[code]

Here's the actual code we currently use:

[code]

[2017-02-07 10:52] SehrOne commented on #29
If nobody is already working on it, could I give it a try?

[2017-02-07 16:19] Enikol opened #41 "Pomodoro Test Suite Bug"
#### Issue Description
I somehow broke the Pomodoro test suite. I ran it on a nearly finished project, it gave me 21/25 passed tests, I change one symbol in my code ( wrote "<" instead of "<=") and ran it again, and it gave me '"before each" hook' and '"after all" hook' errors (screenshot below). I changed the code back just to be sure, but it still gave me this errors. I reloaded the page, closed

[2017-02-08 18:17] christophherr commented on #27
@no-stack-dub-sack From testing on a few different display sizes (15.6", 19" and @Enikol 24"), it seems that as long as the aspect ratio stays the same, 8.5 is the value when a scroll bar is visible (e.g. 17px being the scrollbar width).
We could check if a scrollbar is visible and change the delta range accordingly.
There is a problem when the browser window is zoomed in or out. I´ve seen variati

[2017-02-09 00:06] #39 closed

[2017-02-09 00:09] no-stack-dub-sack commented on #27
@christophherr I believe it's the only test that looks for centered on the entire page - others test for centered within other elements.

Maybe we can go ahead and change the delta to 8.5, and put a note in the unit test copy that says "(be sure your browser is not zoomed in or out when running this test)" or something like that.

Thoughts?

[2017-02-09 00:09] no-stack-dub-sack commented on #29
@SehrOne All yours! PM me on gitter if you have any questions when coming up with the new test.

[2017-02-09 00:13] no-stack-dub-sack commented on #35
@QuincyLarson Ok, thanks - let me take a look at this and see if I can dissect it to pull out only the relevant parts and make this work

[2017-02-09 15:16] elrolfe opened #42 "[Tribute Page] Layout Test 2 fails when the wrapping div (#img-div) is padded more than 5px"
#### Issue Description

It appears that the testing code isn't taking left and right padding of the wrapping div (#img-div) into account when checking for a centered image.  The test code allows for +/- 10 px in it's test for centering, so if #img-div is padded by 5px or less, the image position falls within the allowed variance.  However, when the image is padded by more than 5 px, then while the

[2017-02-11 01:52] christophherr commented on #27
@no-stack-dub-sack Sounds good to me, especially if it´s the only test of its kind.
It's probably not ideal from an a11y (accessibility) point of view.
I'll submit a PR over the weekend.

[2017-02-11 22:58] #29 closed

[2017-02-11 23:45] no-stack-dub-sack commented on #42
@elrolfe Thanks for reporting this! Someone actually brought this to my attention a while ago and I totally forgot to fix it. Appreciate the reminder, and if you see this more than a few hours from when I'm leaving this comment (the time it will sometimes take for the changes to propagate through the  GitCDN), you should be able to go back to 10px margin and the tests should pass.

Thanks again! 😄

[2017-02-11 23:45] #42 closed

[2017-02-13 02:53] christophherr opened #47 "[Technical Documentation Page] Test 4 passes without content"
#### Issue Description

Working through the unit test in sequence, I only got test 1 & 2 to pass but test 4 shows as passing as well.
Not having read test 3, I added `<div>s` right after the `<section>s`.
It could be that it just came up because I don't work through all the user stories before testing but use the tests to find out the next user story...
Maybe the test should explicitly check for `

[2017-02-16 16:36] jake-steele opened #48 "Test Suite is adding space at the top of the webpage in Personal Portfolio"
#### Issue Description

I am not quite sure at what point the issue occurred, but for some reason the "the height of the welcome section should be equal to the height of the viewport" test will not pass for me on the Personal Portfolio project. When I hide the navbar (visibility: none), I can see that there is space above the welcome section when there should not be (I had originally done nothing

[2017-02-18 17:54] jredick18 opened #49 "fCC JS Tribute Page Test"
#### Issue Description

When I run the JS Tribute Page Test, I get a failure for #2 of the Layout (The <img> element should be centered within its parent element.).

#### Browser Information

* Browser Name, Version: Google Chrome, Version 56.0.2924.87 (64-bit)
* Operating System: Chrome OS
* Mobile, Desktop, or Tablet: Desktop

#### Your Code

...

<style>
#img-div {
  margin: -5px;
  margin-top:

[2017-02-19 03:22] christophherr opened #50 "[Drum Machine] Test 3"
#### Issue Description

The test fails if the letters are inside p tags.
span tags work.
A bit unexpected (even though the text mentions "inner text").

Also wanted to mention that Test 3 pretty much expects a qwerty keyboard layout.
Doesn't make much sense on my qwertz keyboard to use z,x,c for the bottom row.

#### Browser Information

* Browser Name, Version: Chrome 56.0.2924.87 (64-bit)
* Oper

[2017-02-19 03:29] christophherr opened #51 "[Drum Machine] Test 7 - Description typo?"
#### Issue Description

The description of the test says

The period in front of display makes it look like it is a class, but display is an id.
(And the test expects it to be an id, too)
I guess the period could just be removed.

[2017-02-19 18:24] no-stack-dub-sack commented on #41
@Enikol Hmmm... this is interesting, especially considering it was working previously. Can you point out to me where you made that change in you code so I have a better chance of diagnosing this correctly? This test suite in particular has been a bit difficult from the get go to get right... thanks!

[2017-02-19 20:23] no-stack-dub-sack commented on #41
@Enikol Ok, so quick update, I'm thinking it is not where you changed that symbol that was the cause (which would have struck me as very odd). This perhaps was happening for a while but went unnoticed because you had been playing with the timer as you made it? Because when you run the timer first, then run the test suite, it runs - not sure why yet.

It's passing 23/26, there is something off with

[2017-02-19 21:42] no-stack-dub-sack commented on #41
@Enikol edited comment above (tagging you again in case you saw it before I edited it)

[2017-02-20 00:04] Enikol commented on #41
@no-stack-dub-sack Thank you so much! I really need to learn check the console more often)
(Also, thank you for accurateInterval dependency, I saw it on example project and couldn't resist, because I've already tried to make a timer in plain JS with setInterval and it was really painful)

[2017-02-20 01:55] no-stack-dub-sack commented on #41
@Enikol No prob! Also going to push some changes soon that will throw better errors. I'll let you know when so you can see. Locally, if I run your project against the tests as it was before you fixed it, much more helpful errors are thrown!

[2017-02-20 02:03] #41 closed

[2017-02-20 02:06] no-stack-dub-sack commented on #41
@Enikol Ok! Depending on when you read this, try out switching your pen back and see the new, more helpful errors! If you see this soon, you will need to replace the gitCDN link in your pens JS settings with this link instead since the changes take a while to propagate down to the production CDN: https://rawgit.com/freeCodeCamp/testable-projects-fcc/master/build/bundle.js

Let me know if you think

[2017-02-20 15:29] Enikol commented on #41
@no-stack-dub-sack Checked it out, new errors are really helpful! Thank you!

[2017-02-20 16:51] #27 closed

[2017-02-20 16:52] no-stack-dub-sack commented on #51
I think it was probably meant to be a `#` instead of a `.` like you said... this could be fixed pretty easily. You want it or should I?

[2017-02-20 16:54] christophherr commented on #51
@no-stack-dub-sack I can do it later today.

[2017-02-20 18:06] no-stack-dub-sack commented on #50
@christophherr that really is unexpected, I had been under the impression that `innerText` would target the text content of the inner most node. Very strange. Looking into alternatives

[2017-02-20 18:31] no-stack-dub-sack commented on #50
And yeah, to your other point, I have to admit I never once even came close to thinking about that in designing these tests

Not sure what the best thing to do about it is though. I have to think on that one

[2017-02-20 18:41] no-stack-dub-sack commented on #26
@christophherr You still getting this same issue? We can try just increasing the timeout length

[2017-02-20 18:42] no-stack-dub-sack commented on #51
@christophherr Actually, don't worry about it - I'm making the fix for the other issue you opened, so might as well just fix this as only one keystroke

[2017-02-20 18:43] christophherr commented on #51
@no-stack-dub-sack Thank you!

[2017-02-20 18:52] no-stack-dub-sack commented on #50
Ok, so both tests 3 and 4 were failing for me when I made this change to my project, and I figured out why. In mine at least, the problem has to do with react and how babel compiles a <p> element vs. a <span> - I THINK (but not totally sure). Ultimately, I believe a span is kept inline, while a <p> ends up on a new line, and innerText was picking up these newline characters, i.e. `\n`. So in the e

[2017-02-20 19:05] no-stack-dub-sack commented on #49
@jredick18 can you please post the link to your pen so I can check it out?

This test has been giving me a lot of problems, and thought we just had the last of them fixed... guess not!!

[2017-02-20 19:22] #50 closed

[2017-02-20 19:22] #51 closed

[2017-02-20 19:23] no-stack-dub-sack commented on #50
@christophherr Ok, the changes should be live in a few minutes on the DEV cdn and a few hours on the PROD cdn - can you check and let me know if this fixes the issue on your end and if not re-open?

[2017-02-20 19:35] jredick18 commented on #49
@no-stack-dub-sack sure thing, I'm going to tweak a few things before submitting but I just wanted to make sure I was passing the tests.

Thank you!

[2017-02-20 19:38] no-stack-dub-sack opened #54 "[D3: Tree Map] issue w/ test #8"
copying the issue that was raised on the forum by @leonfeng here so it can be addressed:

### Original issue

### @Christian-Paul's response:

[2017-02-20 19:39] no-stack-dub-sack commented on #54
@Christian-Paul do you want to take a stab at implementing your suggestion above?

[2017-02-20 19:54] christophherr commented on #50
@no-stack-dub-sack
Thank you!
The test is passing with `p` tags now. (using vanilla JS)

Regarding the keyboard layout, QWERTY is by far the most common.
I´m not sure if a change would be necessary or even more confusing.
(Looks like `ert - dfg - cvb` should be the same for QWERTY, QWERTZ, AZERTY and QZERTY.)

[2017-02-20 20:15] AdventureBear opened #55 "Original intent of Doping in bike Racing is lost with these axes."
#### Issue Description

There is no technical issue, but the axes if this beta scatterplot are "default", ie time and year.  But the data is much better visualized and impressive by sorting the finishing times by place, so that the sheer penetration of doping is seen.

There are other intersting things that can be seen from the date along x axis though, such as the slowing of times as the dopers g

[2017-02-20 20:51] no-stack-dub-sack commented on #47
@christophherr thanks! I've identified the problem and am making a PR, your separate pen was very helpful. I just added a couple other layers of checks, to be sure that the headers are there, that the headers have actual text, and that the sections have IDs before proceeding with the main check, Basically, the tests previously were recording a blank string as id name and inner text, so with nothin

[2017-02-20 20:56] #47 closed

[2017-02-20 20:58] no-stack-dub-sack commented on #55
@AdventureBear I'm cc'ing @Christian-Paul and @paycoguy who created this project and tests to get their opinion on this one. I'm a little out of the loop when it comes to the D3 projects. Thanks.

[2017-02-20 21:04] no-stack-dub-sack commented on #49
@jredick18 try re-sizing your browser window to different sizes, running the tests in full page mode, and running the test in full page mode at different browser widths - the test is usually passing for me, but at certain widths, it's ever so slightly off by one PX (looks like a need to afford an 11 px delta, not 10).

Every time I get the test to fail, it's always by one PX, which is strange, bec

[2017-02-20 21:16] no-stack-dub-sack commented on #49
@jredick18 ok, I just made a quick PR, I can no longer get the test to fail on my end (also in chrome), so if it still fails for you, it is a different problem. Let me know how you make out on your end!

Thanks again for reporting this and project looks great by the way!

[2017-02-20 21:18] no-stack-dub-sack opened #58 "[TEST_SUITE] Browser incompatibility"
A **major** issue right now with this project is that the test suite only runs in Chrome. This is not cool. If any visitors have any ideas on how to fix this, please feel free to check out the repo and comment here.

# Thanks!!!

[2017-02-20 21:20] no-stack-dub-sack commented on #48
@jake-steele can you post a link to your actual pen? That would be super helpful! Thanks!

[2017-02-20 21:25] jake-steele commented on #48
@no-stack-dub-sack Sure thing! [Here](http://codepen.io/jake-steele/pen/RKeeNx) it is!

[2017-02-20 21:31] jredick18 commented on #49
@no-stack-dub-sack alright so I opened it up and tested, everything checks out! Yes I noticed the number the px were off by and every time they were slightly different. Thanks again!

[2017-02-20 21:32] no-stack-dub-sack commented on #48
@jake-steele Have you changed something? I'm seeing 11/11 tests passing beautifully! Nice looking portfolio by the way 😄

[2017-02-20 21:37] jake-steele commented on #48
@no-stack-dub-sack Nothing has changed too much, I don't think... I just re-opened to double-check (I've been moving through the other challenges in the mean time) and it still only says 10/11 passed for me! Hmmm.... I was able to "cheese" the test suite in the past to pass the test, where if I set the height of the #welcome-section to something less than 100vh and scaled the viewport to certain s

[2017-02-20 21:38] Christian-Paul commented on #48
@jake-steele @no-stack-dub-sack

Are each of you seeing a horizontal scrollbar? I believe that's the source of the issue.

[2017-02-20 21:40] no-stack-dub-sack commented on #48
Hey @Christian-Paul! Long time no talk, and thanks for chiming in! Ummm, no I see no horizontal scroll in my version of chrome.

@jake-steele  my monitor is 15.4-inch (1440 x 900)

[2017-02-20 22:14] jake-steele commented on #48
@Christian-Paul Very nice catch! I **AM** seeing a horizontal scrollbar on my monitors, so that seems totally plausible!

All of the sections are set to "width: 100vw;", though, so I'm not quite sure why it's got a horizontal scroll bar? Unless it's a scroll bar to see what's hidden behind the vertical scroll bar. Is it typical that I should have to set width to <100vw total?

[2017-02-20 23:26] Christian-Paul commented on #48
@jake-steele Thanks! It looks like you're right about what's happening; the horizontal scroll bar exists to show what's hidden behind the vertical scroll bar. I don't think it's typical to set the width to less than 100vw. In my experience, I usually allow the element width to be set automatically. However, you can set max-width: 100% in each element with width: 100vw and that should fix it. Alter

[2017-02-21 00:08] christophherr commented on #26
@no-stack-dub-sack
I ran the tests several times during the last few hours and they took between 3001ms and 3005ms.
I might have just hit slow connections before.

[2017-02-21 02:50] Christian-Paul commented on #48
Hi @no-stack-dub-sack. Yeah, it's been a while!

I found a fix for this issue. If we use `window.innerHeight` instead of `document.documentElement.clientHeight`, we'll have the true value of the viewport's height.

As I said before, `document.documentElement.clientHeight` subtracts the height of the horizontal scrollbar, however, `window.innerHeight` doesn't do that, so it will work whether or not

[2017-02-21 02:57] Christian-Paul commented on #54
@no-stack-dub-sack Sure! Which one do you think seems more suitable? Altering test 8 to check for more than one legend item, or checking all children of the legend element for fill color data? Or both?

[2017-02-21 05:17] AdventureBear commented on #55
Great, 8; there is a compelling reason to change the challenge that's fine, but aside from what I already wrote, sorting and using that as an axis is another small js challenge

[2017-02-21 05:18] AdventureBear commented on #55
Better yet, can we add a transition?

[2017-02-21 18:43] jake-steele commented on #48
@Christian-Paul @no-stack-dub-sack In case anybody else runs into the same issue: setting width for all full-width objects to 100% instead of 100vw **removed the horizontal scroll bar from the bottom and allowed the tests to pass.** This should suffice for people who don't want (or didn't intend to have) a horizontal scroll bar but do want to pass the test for completion's sake. ;)

Thank you both

[2017-02-22 03:04] no-stack-dub-sack commented on #48
Sounds perfect! Thanks @Christian-Paul!

[2017-02-22 03:07] no-stack-dub-sack commented on #49
@jredick18 No prob! Glad it's working - this test has been extremely finicky, so hoping this is the last I will have to see of it! Closing the issue since it looks like this PR did the trick.

[2017-02-22 03:07] #49 closed

[2017-02-22 03:10] no-stack-dub-sack commented on #54
@Christian-Paul Well, not sure I guess, because it seems like the variable, as you mentioned, is if libraries do not allow for campers to add class names. If we think this might be the case, it seems like the latter suggestion may be a safer bet.

[2017-02-22 18:25] paycoguy commented on #55
@AdventureBear

I understand what you're saying and thank you for being the one that created this graph.

The reason I changed the way the data was visualized was mainly from a scatterplot perspective.  When I think of a scatterplot, I think of something like this:

http://bolt.mph.ufl.edu/files/2012/07/images-mod2-scatterplot4.gif

Here, we have variables and we want to see if there is a correlat

[2017-02-23 01:20] no-stack-dub-sack commented on #55
@paycoguy @AdventureBear I understand what you're saying here @paycoguy ☝️ and agree that this is a better example of an actual "scatter" plot in the end. The original visualization does not necessarily speak to the value of a scatter plot itself.

@AdventureBear The idea of a transition is pretty badass, and would certainly show multiple perspectives on the same data, however, our goal in revampi

[2017-02-23 02:48] AdventureBear commented on #55
Sure I understand the reasoning between the way I did the original graph
and the discussion about a true scatterplot.  My gut tells me though that
this data is not a good set for a scatter plot with the given information.
  The year is kind of an arbitrary value creating more noise than anything
else for the dataset as a whole.

The nature of bike racing influences the times up the alp d'heuz so t

[2017-02-24 02:57] christophherr commented on #58
Microsoft Edge (and IE 11) error out on line 268 of bundle.js.
![edge error](https://cloud.githubusercontent.com/assets/8683126/23288562/67cff268-fa12-11e6-954b-faf37a5d7347.png)
Commenting out the line `button.classList = ['fcc_foldout_buttons'];` resolves the error and doesn't seem to have an impact on the display of `fcc_test_button` in either Edge, Firefox or Chrome locally.

[2017-02-24 03:28] christophherr opened #59 "Tests and Vue.js"
#### Issue Description
As mentioned on the Forum and in issue #31, tests are failing when using Vue.js.
The issue is that Vue updates the DOM asynchronously.
[https://vuejs.org/v2/guide/reactivity.html#Async-Update-Queue](https://vuejs.org/v2/guide/reactivity.html#Async-Update-Queue)

Here is an example test from the official docs:
https://vuejs.org/v2/guide/unit-testing.html#Asserting-Asynchronou

[2017-02-25 22:55] no-stack-dub-sack commented on #26
@christophherr interesting... well, we'll leave this open for now in case it gets reproduced later by you or someone else

[2017-02-25 23:52] no-stack-dub-sack commented on #58
@christophherr so removing that will have an impact if you try to rerun the tests - the class names for the button won't reset, and even if some tests fail (or pass) the next time around, the button will retain the indicator color of whatever it was at the finish of the first run through of the suite

This also does seem to be the problem in Safari as well. However, I think there will be other pro

[2017-02-26 01:18] #58 closed

[2017-02-26 01:44] christophherr commented on #58
@no-stack-dub-sack
Wow! The class / color changes of the button never really registered in my brain before.
Sorry about that.
Nice, elegant solution with the helper function.
I like it much better than my first idea of using classList.remove()

[2017-02-26 02:09] no-stack-dub-sack opened #61 "[D3: Tree Map]: Does not display in Safari"
@Christian-Paul, @paycoguy Hey guys, so... we finally got the test suite running in browsers other than Chrome - but now, we're discovering that individual projects not seem to have little eccentricities of their own.

Tree map is one - (most) tests fail and visualization does not show up at all in Safari. Haven't yet tested in FireFox and don't have a PC for IE or Edge. Can either of you investig

[2017-02-26 02:18] no-stack-dub-sack opened #62 "[Product Landing Page]: Cross-browser issue (safari)"
Safari Version 9.1.2 (11601.7.7)

See below image - test number 5 failing. This seems to be because the `NodeList.forEach()` method is not supported in Safari versions pre-10.X.X, so... will need to either go about this test another way, or add a quick alert as a stop gap using the global `alertOnce` utility function.

![image](https://cloud.githubusercontent.com/assets/18563015/23336460/3f361790-

[2017-02-26 02:29] no-stack-dub-sack opened #63 "[Test Suites] Cross-browser issue - Safari - test modal won't open"
Safari Version 9.1.2 (11601.7.7)

This is an issue across several (most) test suites - some of the suites that it affects have other problems, and some pass all tests, except for this: **the test modal that displays the individual unit tests and their statuses DOES NOT open**.

This is definitely the case in pre-10 Safari, but not sure about FF or IE or Edge.

Occasionally, it will work, but most

[2017-02-26 02:32] no-stack-dub-sack opened #64 "[Scatter Plot] Cross-browser issue - tests failing - Safari"
Safari Version 9.1.2 (11601.7.7)

@paycoguy, @Christian-Paul Passing 11/15 tests, no errors being thrown, cannot troubleshoot issue because test modal won't open (see #63)

[2017-02-26 02:49] no-stack-dub-sack opened #65 "[Drum Machine] Cross-browser issue - Safari / IE - tests failing"
Safari Version 9.1.2 (11601.7.7)

There's 2 issues here - first, the test modal does not open (see #63), second, similar to #62, we have NodeLists returned by `querySelectorAll()` that we are trying to iterate over with `forEach()`. This method is not supported on NodeLists in pre version 10.X.X Safari browsers or ANY Internet Explorer browser versions (not sure about Edge).

We will likely have t

[2017-02-26 02:52] no-stack-dub-sack opened #66 "[Markdown Previewer] Cross-browser issue - Safari - tests failing"
Safari Version 9.1.2 (11601.7.7)

2 tests failing, but as of yet unknown as to which ones, as test modal will not open in Safari (see #63) - once this is resolved, we should be better able to troubleshoot this issue.

**EDIT:** was able to coerce the modal into opening, so it seems this is the same issue as #62 & #65, cannot use `forEach()` method to iterate over NodeLists. Tests 7 & 8 failing

[2017-02-26 03:53] christophherr commented on #63
I had no issues with the modal in the latest versions of Firefox (51.0.1 (64-bit)) and Edge (38.14393.0.0).

[2017-02-26 04:30] #62 closed

[2017-02-26 04:30] #66 closed

[2017-02-26 20:11] no-stack-dub-sack commented on #59
@christophherr Yeah, I agree. I think the best thing for now will be to put an alert that will warn users of this. I wonder if there's a way to detect Vue.JS? That way we could warn only when it's appropriate

[2017-02-26 20:13] no-stack-dub-sack commented on #65
Added a polyfill which takes care of one part of this issue, although now there are new issues unrelated to NodeList forEach. Seem to be timeout issues on Safari - I think this might have to do with the audio WebApp API because the reaction time from when you trigger a drum pad to when the audio plays is a little slow. Tried just increasing the timeout but that does not seem to do it

[2017-02-27 03:17] Christian-Paul commented on #61
@no-stack-dub-sack I just tested it on edge and IE. the visualization doesn't show up on either. The modals show up on both, but the styles are messed up on IE.

The reason the chart doesn't appear is because of how the data selection works. We set the chart to check the url to decide which dataset to display, but it looks like IE/Edge doesn't support this method.

`new URLSearchParams(window.loca

[2017-02-27 04:00] Christian-Paul commented on #64
@no-stack-dub-sack Passes all tests on Edge (38.14393.0.0)

Passes 13/15 on IE11 (11.576.14393.0). It appears that our mouseover solution doesn't work properly on IE. The mouseover tests on this and other D3 projects are failing.

[2017-02-28 01:40] #54 closed

[2017-02-28 01:42] #48 closed

[2017-02-28 11:25] tom-p-uk opened #70 "D3 scatter plot - test #8 failing"
#### Issue Description

Built this graph today but it's failing one test when it shouldn't be.

It's failing test number 8 of 15. I checked out the criteria for the test by visiting the test JS file [here](https://gitcdn.link/cdn/freeCodeCamp/testable-projects-fcc/1de9ee9c2350f4e1963bc061bba7ffc56221e4cc/build/bundle.js) and then did a little bit of debugging.

It turns out that my scatter plot fa

[2017-03-01 01:23] no-stack-dub-sack commented on #70
@paycoguy @Christian-Paul ☝️

[2017-03-01 10:43] tom-p-uk opened #71 "D3 Heat Map - Test #9 Edge Case"
#### Issue Description
I raised a similar issue yesterday with the scatter plot project, but the same problem appears to be happening with the heat map project I built today, too. It's failing a test because apparently the cells don't line up with the appropriate y-axis values, when they clearly do just by looking at the graph, or by checking out the attributes of the relevant svg elements using C

[2017-03-02 18:22] paycoguy commented on #61
@no-stack-dub-sack I have updated my codepen to make the TreeMap appear on Safari, IE, Edge, Firefox, and Chrome.

http://codepen.io/paycoguy/pen/JWXXmq

[2017-03-02 18:27] paycoguy commented on #70
@tom-p-uk Thanks Tom for building these D3 projects!  I believe we can validate the scatter plot whether the axis values are ascending or descending.  It'll just make the code a bit more complicated.

[2017-03-06 00:31] SUD0-LEE opened #73 "Build a Tribute Page - Bootstrap Issue"
**Issue Description:**

Bootstrap add-in from CodePen will not give the same results as the tribute page example provided by Free Code Camp

In the Codepen tribute page example of Dr. Norman Borlaug, the Bootstrap add-in you have is:

-  https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css

Which is not the default bootstrap add-in that Codepen provides, which is:

- https://cdnjs

[2017-03-06 23:44] sue888 opened #74 "Flexbox solution fails unit tests - tech docs project"
The testing for this doesn't allow for flexbox configuration, since the contents of the flexbox need to be wrapped in a div with position set to fixed for it to work, and this causes the following conditions to fail:

CONTENT
 9. The first element within the navbar should be a <header> which contains text that describes the topic of the technical documentation.
(failed because first element was th

[2017-03-07 05:07] matthewsecrist opened #75 "Unable to choose test suite with Materialize CSS"
#### Issue Description

When using Materialize as the CSS framework on Codepen, I am unable to select what test suite to run. Works fine when I remove Materialize.

#### Browser Information

* Browser Name, Version: Chrome 56.0 or Safari
* Operating System: MacOS Sierra
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

<img width="367" alt="screen s

[2017-03-13 02:03] daveyx opened #76 "typo in weatherapp example on codepen"
#### Issue Description
in the switch-case it checks "dizzle", but should be "drizzle"

#### Challenge Name
Show the Local Weather
https://www.freecodecamp.com/challenges/show-the-local-weather

#### Your Code / Link to Your Pen
http://codepen.io/freeCodeCamp/pen/bELRjV?editors=1010

[code]

[2017-03-13 15:14] paycoguy commented on #61
@no-stack-dub-sack I submitted  PR https://github.com/freeCodeCamp/testable-projects-fcc/pull/72 a week ago.  Do you have any questions about it?

[2017-03-14 02:45] daveyx commented on #76
fixed by fcc already:
http://codepen.io/freeCodeCamp/pen/bELRjV

[2017-03-14 02:45] #76 closed

[2017-03-15 16:14] aaronRhodebeck opened #77 "Tribute Page tests 1 & 2 do not match HTML5 elements taught in course"
#### Issue Description

Content tests 1 and 2 test for document.getElementById(), could test for document.getElementByTagName(). This would match the syntax of using `<main>` and `<title>` tags as taught in the course work.

[2017-03-15 16:19] aaronRhodebeck commented on #77
I looked at trying to fix this and submit a pull request myself, but I am very new at this and it seems there are a lot of moving parts in submitting breaking changes. I would be happy to make the changes and submit a pull request if someone is interested in helping my make sure that I have all the files and tests in the proper place for my pull request.

[2017-03-17 11:35] nicolasmdf opened #79 "Tests wont run on Pomodoro"
#### Issue Description
The test suite does not run on the forked pen for the Pomodoro Clock. I tried forking it several different times and it never runs, no matter what is written into the editor. Testing other projects works fine for me and the tests on the example pomodoro also work fine.

#### Browser Information

* Browser Name, Version: Chrome 56.0
* Operating System: Windows 7
* Mobile, Des

[2017-03-19 13:03] alberto-marin opened #80 "The <header> element with id="header" should always be at the top of the viewport."
#### Issue Description

When running the test in codepen I get the message "The <header> element with id="header" should always be at the top of the viewport." The header is already at the top.

#### Browser Information

* Browser Name, Version:  Google Chrome 56.0.2924.87 (64-bit)
* Operating System: macOS Sierra 10.12.3 (16D32)
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

 h

[2017-03-20 03:07] kev0587 opened #81 ""The <header> element with id='header' should always be at the top of the viewport" step failing when using Bootstrap class navbar-fixed-top"
#### Issue Description
For the Build a Product Landing Page project, it states "use whichever libraries you need".  I decided to use Bootstrap and gave my navbar a class of "navbar-fixed-top".  When I was finished with the project and ran the tests, the "The header element with id='header' should always be at the top of the viewport" step kept failing even though I had the fixed navbar nested with

[2017-03-20 03:15] kev0587 commented on #80
@alberto-marin,

You're getting this error because as you scroll down on your page, everything nested within your header element is not always shown at the top of the viewport.

Try figuring out a way to always have your navbar displayed at the top of the viewport, even when scrolling to the bottom of the page.

[2017-03-20 10:02] alberto-marin commented on #80
Oh my! Thank you so much. I did a wrong interpretation of the message. I fixed it adding to the #header:
position: fixed;
top: 0;
background-color: #fff;
width: 100vw;
and giving some space to the top of the #main

Thank you

[2017-03-20 10:02] #80 closed

[2017-03-20 19:21] aaronRhodebeck opened #82 "Product Landing page layout tests #2 & #3 not recognizing CSS rules in local development"
#### Issue Description

Tests pass on [CodePen](http://codepen.io/arhodebeck/pen/oZEEPd), but do not pass with the same code in local environment. CSS stylesheet is linked and working, same code in both places, and those two tests are the only tests not passing. GitHub repo of page is [here](https://github.com/aaronRhodebeck/FCCampProductLandingPage)

#### Browser Information

* Browser Name, Vers

[2017-03-21 16:12] CollinPerkins commented on #82
@aaronRhodebeck I am having the same problem. I have no issues with the rest of the tests.

[2017-03-21 21:37] Christian-Paul commented on #81
@kev0587 Thanks for the detailed bug report!

While technically the old test was working properly (the header element in your project wasn't at the top of the viewport, though the nav element was), the test should definitely be changed to accommodate for how bootstrap and other libraries achieve this.

I don't want to check for library specific classes, since we'd have to take every popular librar

[2017-03-21 21:59] no-stack-dub-sack commented on #82
@aaronRhodebeck @CollinPerkins Just curious - if you add a second flex rule and a second media query in your local environment, do the tests pass?

This could be something to do with the way the total css is ultimately looped through in codepen vs. locally. We are testing that 2 rules exist, because at least in the codepen environment it also loops through mochas css rules.

p.s. glad you are test

[2017-03-21 22:00] no-stack-dub-sack commented on #81
@Christian-Paul are you going to take this one on?

[2017-03-21 22:05] #64 closed

[2017-03-21 22:08] Christian-Paul commented on #81
@no-stack-dub-sack Yup, working on it now

[2017-03-21 22:10] no-stack-dub-sack commented on #79
@nicolasmdf just to be clear, you're forking this pen  http://codepen.io/no_stack_dub_sack/pen/peLdwR
and tests will not run? Do they run on the example before you fork it? This is very odd, certainly a new one, and I am not having the same problem. Can you reproduce today?

[2017-03-21 22:21] no-stack-dub-sack commented on #77
@aaronRhodebeck using getElementsByTagName as you suggest would not be the best solution, because that would grab every element with that tag name, and we'd have to narrow it down from their. Probably the solution is a lot simpler, as I do see your point.

We could simply change the instructions to the following:

- `1. My tribute page should have a main element with corresponding id="main", which

[2017-03-21 22:22] no-stack-dub-sack commented on #77
FCC_Global.assert(document.querySelectorAll("#main div, #main a, #main h1, #main img").length, 'div with id="main" must contain other elements');

You would also need to change the reference to `div` in this line to "element"

[2017-03-21 22:29] nicolasmdf commented on #79
@no-stack-dub-sack I will do it tonight and see what happens from the same computer and a different one. They do run on the example before forking, but not on the forked empty template OR the forked example when emptied out.

[2017-03-21 22:30] no-stack-dub-sack commented on #73
@SUD0-LEE Thanks for your comment, things are changing pretty rapidly in the tech world though, and there is no way for us to update the video each time codepen moves to a new bootstrap release. A very important skill in software dev is troubleshooting, so it's great you figured it out on your own though! On the other hand, freeCodeCamp has a pretty solid support community, so please check out our

[2017-03-21 22:39] no-stack-dub-sack commented on #73
@SUD0-LEE Also, we didn't specify the difference in the video, becuase the difference did not exist when the video was made. Again, these things change very quickly, and a big point of these projects is to go out there, research the libraries, learn about what's current, and trouble shoot. That being said, a hint might not be a bad idea. Since this issue applies to the main production FCC, please

[2017-03-21 22:39] #73 closed

[2017-03-21 22:39] Christian-Paul commented on #82
@no-stack-dub-sack Just did some probing and I think I found the problem.

The CSSStyleSheet object's cssRules property has a value of null when testing locally. Interestingly, the cssRules property fills out properly when testing it in the development environment.

I believe this is happening because of this security feature:
https://bugs.chromium.org/p/chromium/issues/detail?id=143626

I'm not s

[2017-03-21 22:43] no-stack-dub-sack commented on #74
@sue888 it's a good point, but we've been struggling to account for everything with these. Hard to be completely agnostic with the way people implement these projects when it comes to testing.

@QuincyLarson what do you think? We've been running in to plenty of similar issues that in one way or another limit people, finding it tough to keep up. "Perfect" may be more unattainable than usual for the

[2017-03-21 22:46] no-stack-dub-sack commented on #79
@nicolasmdf Ahhh, I see what you mean now. Nice catch! Let me look into this, I think I know what the problem is

[2017-03-21 22:57] no-stack-dub-sack commented on #79
@nicolasmdf Yup! I broke it inadvertently in one of my last PRs - thanks for pointing this out! Fixing now

[2017-03-21 23:03] nicolasmdf commented on #79
@no-stack-dub-sack Very glad to be helpful, thanks a lot for your hard work!

[2017-03-21 23:06] Christian-Paul commented on #82
@no-stack-dub-sack If the user puts the styles in the same file as their html, the tests can access the css and work properly. They could either use a bundler (probably overkill for such a small/early project) or include the css in a style tag in the html (not the best practice).

Barring that, I think we'd have to scrap those tests and check for responsiveness some other way.

[2017-03-21 23:18] #79 closed

[2017-03-21 23:20] no-stack-dub-sack commented on #55
@AdventureBear A little late in getting to this, but if you want to fork the repo and add the data set and make sure everything still works with the tests, I see no harm in that, and would only strengthen our example. Up to you and whether or not you'd like to take the initiative to do that here

[2017-03-22 02:17] AdventureBear commented on #55
the night I wrote this I started to collect all the data but ran out of
steam. What's the timeline on this right now ?

On Tue, Mar 21, 2017 at 7:20 PM, Peter Weinberg <notifications@github.com>
wrote:

--
-----
Suzanne Atkinson, MD
Clinical Instructor of Emergency Medicine
University of Pittsburgh School of Medicine
Emergency Resource Management, Inc.

Head Coach & Founder
Steel City Endurance Co

[2017-03-22 17:22] aaronRhodebeck commented on #77
Thanks for being so helpful! I submitted the pull request changing the instructions.  I am currently going through the full beta version of the site, so I will absolutely help out when I find issues, hopefully fixing them myself.

[2017-03-22 20:21] aaronRhodebeck commented on #82
After doing a little more testing, it is definitely due to the cross-site scripting security features in chrome.  Ironically, you can use Firefox and the cssRules come through for any local stylesheets, however, the external stylesheets throw security errors.  And it's a mute point because at the moment, none of the layout tests work in Firefox.

This code will push media queries to the array in F

[2017-03-23 00:33] no-stack-dub-sack commented on #82
@Christian-Paul ughhh... this project is turning out to be a nightmare in some ways. Accounting for everything is going to be like nearly impossible. Not sure what the best fix is here. Perhaps your suggestion from above about putting the css in the HTML itself for those specific projects - not sure where the best place to indicate that would be.

Have any other thoughts on testing responsiveness

[2017-03-23 00:43] #81 closed

[2017-03-23 00:45] no-stack-dub-sack commented on #55
@AdventureBear None. lol. Ongoing dev. Take your time - none of this will be official until beta is rolled to production, if you get to it, we can review at that point, if you don't no biggie!

[2017-03-27 23:19] #77 closed

[2017-03-27 23:21] #35 closed

[2017-03-28 08:09] Lakston commented on #55
I just finished this one and agree with @AdventureBear (I just created a topic on FCC forums about it).

[Here](https://lakston.github.io/d3-scatterplot-doping/) is my version of it with the test suite included (I obviously can't pass the test because I do not respect the axes suggested by the challenge).

I chose ranking / time behind fastest athlete because that's the data I had in hand, it pres

[2017-04-06 14:41] Lakston commented on #71
I did not encounter this problem, finished project can be seen here : https://lakston.github.io/d3-heatmap/

[2017-04-06 15:34] Lakston commented on #61
Everything works for me on FF, Chrome, Canary and Safari, testable project here : https://lakston.github.io/d3-heatmap/

So I guess we can close this ?

[2017-04-13 03:50] bobbidigi opened #86 "rule 3. header"
#### Issue Description

3. The first element within each .main-section should be a <header> element which contains text that describes the topic of that section.
wc3 validation problems section lacks heading. Consider using "h2"-"h6" elements to add identifying headings to all sections.
#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your

[2017-04-26 06:21] kevcomedia opened #87 "Test Suite overrides page margin"
#### Issue Description

The test suite overrides the project's `<body>`'s margin and sets it to 0. [Example](https://codepen.io/graycoatkev/pen/YZmzbv?editors=1100).

#### Screenshot

![image](https://cloud.githubusercontent.com/assets/17902987/25417863/ed8dadae-2a79-11e7-869c-0e5517532b93.png)

![image](https://cloud.githubusercontent.com/assets/17902987/25417892/23f9439e-2a7a-11e7-8f2c-f3e57cacc

[2017-05-02 22:28] no-stack-dub-sack commented on #87
@kevcomedia Thanks for pointing out this issue. I did some investigating, because this was news to me, and it turns out it is not the test suite itself, but Mocha's CSS which is overriding this rule in your example:
[code]
This may be because we have mocha css hard coded into the project in order to keep everything bundled nicely for campers, I suspect that if mocha was pulled in as a CDN, the ord

[2017-05-02 23:55] no-stack-dub-sack commented on #86
@bobbidigi Thanks for reporting this issue, however, I would fundamentally disagree with the W3C Validator in this case. Perhaps it has not been updated to reflect the new HTML5 standard, but considering the element that in question is a `<header>` element, I would say that the section most certainly does not lack a heading, it just lacks a heading that the validator expects.

Part of the purpose

[2017-05-02 23:55] #86 closed

[2017-05-02 23:58] no-stack-dub-sack commented on #55
@Lakston but what about the argument the data is not "scattered" in the original presentation? I tend to agree that while the data is more readable in the older presentation, the current version is a more accurate picture of a scatter plot, and a scatter plots point, is not necessarily to have the most easily readable data, but to show a scattered relationship

[2017-05-03 07:51] kevcomedia commented on #87
If the css is hard-coded, maybe it can be removed? It's the only (simple) selector in the mocha css that doesn't target any class or id, and it doesn't seem to serve any real purpose. And it might trip other campers later on, especially when beta goes live.

[2017-05-04 01:38] no-stack-dub-sack commented on #87
@kevcomedia You know, I thought of this yesterday just after leaving the comment as I looked closer at the code. I would agree &mdash; so far as I can tell, in this instance it seems to serve zero purpose, and it definitely may help more inexperienced campers especially.

Feel like making a quick PR? Again, thanks for bringing this to my attention.

p.s. and sorry for the late reply, I've been ver

[2017-05-04 08:51] kevcomedia commented on #87
There you go 🙂
If something's not right let me know. And I don't mind the late reply at all 😃

[2017-05-04 22:01] sa-mm opened #89 "Pomodoro Async Test Question"
#### Issue Description

My Pomodoro Clock project is failing all of the async tests at the moment. I'm sure there are problems with my code, as it's in very rough shape at the moment. However, it's odd that it's failing all and only the async tests (11, 19-26).

I'll focus on tests 11 and 19.

11. This test gives the following error:

[code]

I'm not sure what to say about that. Looking at the [te

[2017-05-05 01:17] #87 closed

[2017-05-05 01:27] no-stack-dub-sack commented on #89
@sa-mm This is one of the few suites I did not write, so this is just speculation without diving in further - but your app seems to be functioning exactly as it should, except for one small thing - when you reset, or change the session time, it is a whole number rather than `25:00` - between each test, the reset button is being called, and that expects values of 5, 25, and 25:00 respectively for b

[2017-05-05 01:28] no-stack-dub-sack commented on #89
That could also explain the `match` issue, there's no colon for the regex to match

[2017-05-05 01:29] no-stack-dub-sack commented on #89
But then, it should be calling `getSeconds` when the timer is paused, so not sure...

[2017-05-05 01:30] no-stack-dub-sack commented on #89
Also, I do see some helpful errors in some of the other failing tests, perhaps try addressing those first and see how it changes the other failing tests

[2017-05-05 15:16] sa-mm commented on #89
@no-stack-dub-sack Thanks for the reply! Changing the timer text to 25:00 instead of 25 helped. The tests also want me to start counting down from say, 25:00, instead of 24:59. This was the cause of several of the errors.  I now have all of the tests working expect 11. It fails the first time I run it but passes after that.

In fact, the same is true for any of the tests that make use of promises.

[2017-05-05 16:41] sa-mm commented on #89
OK, got it. Thanks for the help!

[2017-05-05 16:42] sa-mm commented on #89
Closing it.

[2017-05-06 00:28] no-stack-dub-sack commented on #89
@sa-mm Glad to help! What did you have to end up doing to get everything working? Any suggestions on how we can change the user stories / test case instructions in a way that would have helped you get this right the first time around? I'd like to learn from this and improve if possible, this has been one of the trickier projects to test from the get go and I anticipate we will continue to run into

[2017-05-06 00:30] no-stack-dub-sack commented on #89
@sa-mm Also, kudos for going straight up vanilla JS! And glad to see you running the suite outside of codepen.

[2017-05-07 02:26] sa-mm commented on #89
Thx!

One thing might be to explicitly state that the value of 'time-left' should start with the format 'mm:ss'. It seems that some of the tests rely on that, but that initial value differs from that of the [non-beta example](https://codepen.io/freeCodeCamp/full/aNyxXR) of the project. That might trip up some people as they move to the new version. Also, fwiw, I spent a lot of time looking at the

[2017-05-08 02:11] no-stack-dub-sack commented on #89
@sa-mm

I agree with this feeling quite strongly, and have had these exact same concerns for quite some time as we've worked on this (which is why I'd like to try to get them as smoothed out as possible), but all things considered, Quincy determined that this was the best course of action to keep things consistent, to help eliminate the need for Core Team member review (as we grow in active user b

[2017-05-08 02:12] no-stack-dub-sack commented on #89
Nope, not intended 😄 . Albeit a bit distracting, this is not necessarily a bad thing either &mdash; extra exposure to testing and things like promises can't hurt!

[2017-05-14 20:49] GregoryGoncalves opened #90 "javascript calculator problem"
(for some reason the pre-filled information report had no data filled in, so i deleted it, i'm using linux, chromium and desktop, if you need specific versions just ask)

Adapting the calculator project to fit the tests gave me the following problem: http://imgur.com/a/PvmhE

The test suite is able to successfully clear the screen and do operations, but it still doesn't pass the test. I tried rend

[2017-05-14 20:54] GregoryGoncalves commented on #90
Sorry, it was my mistake, ID in wrong div.

[2017-05-14 20:54] #90 closed

[2017-05-15 16:04] GregoryGoncalves opened #91 "Tooltip error, treemap project"
Information wasn't previously filled in, i've tried this on Chromium and Firefox. Using Fedora.

The following error happens on my treemap project:
`Error: Tooltip should be hidden when mouse is not on an area`

However the project is behaving correctly, i don't have enough information to debug it. I tried removing the animation time to fade and show the tooltip, it didn't work.
Here is the codepe

[2017-05-15 23:41] no-stack-dub-sack commented on #91
@GregoryGoncalves Thanks for reporting this issue.

@Christian-Paul @Paycoguy Any ideas as to why the tooltip tests are failing here? They do seem to be behaving correctly.

[2017-05-15 23:57] #89 closed

[2017-05-16 16:44] paycoguy commented on #91
I can look at this tomorrow

[2017-05-17 00:56] wjhurley opened #94 "Random Quote Machine CodePen does not work"
#### Issue Description

After clicking on the link for the Random Quote Machine example (https://codepen.io/FreeCodeCamp/full/ONjoLe/), you arrive at a broken app. The "New Quote" and Twitter buttons do nothing. You can reproduce it by either going directly to the link I provided for the CodePen app or by clicking on the link from the FCC page https://www.freecodecamp.com/challenges/build-a-random

[2017-05-17 15:01] paycoguy commented on #91
@GregoryGoncalves
It looks like the entire svg element has the id of "tooltip".  The tooltip_block in line 37 should be the one with id of "tooltip".   Once I made this change, all the tests passed.  Let me know if you have any questions with this.

Thank you so much for testing out these project for us!

[2017-05-17 15:38] felixmuecke opened #95 "Missing test concerning negative results (Test of JS Calculator)"
#### Issue Description
Ok so this is not exactly a bug report, just a suggestion to add another test to the JS Calculator Test.
Here is the mistake my code produced that was not caught:
1) enter 5-9, press equal
2) -4 is displayed
3) proceed to add +5 so -4+5 is displayed in the formula window, press equal
4) result is -9 due to the way the evaluation works in my code (will fix this :) ). this mis

[2017-05-17 16:16] GregoryGoncalves commented on #91
@paycoguy
Thanks a lot, i hadn't noticed.
The error message could be improved, however, for situations where the ID isn't in the correct place, aka if the element with "tooltip" id doesn't have the necessary fields as it's children.
I'll close the issue since it's solved, thanks a lot for your time.

[2017-05-17 16:16] #91 closed

[2017-05-19 01:29] no-stack-dub-sack commented on #95
@felixmuecke hmmm... this is a nice catch. Thanks for reporting this. We don't need an additional test case I don't think, just more stringent tests for test # 9. Maybe a few more calculations to make sure things are working as expected.

Your calc also produces the same incorrect result when you do not evaluate after entering`5-9`, i.e. `5-9+5` still equals `-9` when it should be one. So perhaps

[2017-05-19 02:02] #95 closed

[2017-05-19 02:06] no-stack-dub-sack commented on #94
@wjhurley hmmm, try again maybe? The app is definitely not broken. New quotes and twitter buttons both work fine for me! It could be that the API that's being used to fetch the quotes was experiencing some down time.

Let me know if this is solved on your end as well.

Thanks.

[2017-05-19 09:47] felixmuecke commented on #95
glad i could help and thank your for all your great work, am really enyoing freecodecamp!

[2017-05-19 23:56] no-stack-dub-sack commented on #95
@felixmuecke thanks!

[2017-05-20 00:27] wjhurley commented on #94
My fork worked when I originally submitted this issue. That was why I created the fork, to show the solution to the problem. The app does work now. That is because someone fixed the code. The JSON.parse() function is now wrapped in an if statement and a Tumblr link has been added.

[2017-05-20 00:59] no-stack-dub-sack commented on #94
@wjhurley yup, you're right. The pen was recently edited. Something must have changed with the API because this app had been working for over a year just fine prior to this. There is one more place where the code needs to be updated on freeCodeCamp's CodePen, so thanks for pointing this out.

[2017-05-20 00:59] #94 closed

[2017-05-20 12:25] diomed opened #97 "The height of the welcome section should be equal to the height of the viewport. test fails"
#### Issue Description
I've done Portfolio challenge.
And even tho I've asked around and looked at example,
to see what I did wrong looks like I did nothing wrong,
yet fcc validator doesn't seem to let me pass.

#### Browser Information
* Browser Name, Version: Google Chrome
* Operating System: Windows 10
* Mobile, Desktop, or Tablet:  Desktop

#### Your Code / Link to Your Pen
http://codepen.io/d

[2017-05-23 12:46] christophherr commented on #75
This is due to Materialize setting `select` to `display: none;`
Even if that is corrected, the select field doesn't look good because Materialize additionally applies
[code]
Looks like `#fcc_foldout_menu select` would have to "counter" those styles.

[2017-05-23 16:55] christophherr commented on #97
Hi,
the reason the test fails is the padding on `.box`.
It adds 80px to the "height" of the element and the test is checking against the viewport height.
@no-stack-dub-sack
Do you think that extending the error message with something like "Please check if you added padding to `#welcome-section`" would help?
Or would you allow the "extension" of the viewport height by adding any padding to the test

[2017-05-23 17:06] diomed commented on #97
thanks @christophherr

[2017-05-24 10:25] benjaminadk opened #98 "."
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2017-05-24 19:05] paycoguy commented on #98
Can you provide a link to your codepen project?

On May 24, 2017 3:25 AM, "Benjamin" <notifications@github.com> wrote:

[2017-05-24 21:25] benjaminadk commented on #98
ive removed the link to tester but here is my codepen
[link](http://codepen.io/benjaminadk/pen/Kmrdpj)

[2017-05-31 01:00] no-stack-dub-sack commented on #97
@christophherr Hey thanks for looking into this!

Yeah, I like the second solution better, have you played around with this at all yet? What if padding is defined with clockwise notation instead? This may affect this solution...

[2017-05-31 01:11] no-stack-dub-sack commented on #98
@benjaminadk I've tested this out with your pen, and it seems to be working fine. This may seem like a silly question, but when you copied the link into your technical documentation project, did you press the "Run" button if you have that setting enabled?

[2017-05-31 02:26] christophherr commented on #97
@no-stack-dub-sack  My pleasure.

When I looked at it, I only did some quick console.logs and it picked up padding-top and padding-bottom.
Here's a fork of diomed's pen with padding in clockwise notation and console.logs:
https://codepen.io/c-herr/pen/oWKgzv

If you want, I can run it through my local test suite tomorrow and, if it holds up, submit a PR along the lines of `window.innerHeight + par

[2017-06-01 04:13] no-stack-dub-sack commented on #97
Hey @christophherr, here's what I mean with clockwise notation: https://codepen.io/no_stack_dub_sack/pen/jmgoNv

Where clockwise notation (or even explicitly written notation, i.e. `padding-bottom`, `padding-top`, etc.), can make a difference with this example is when the top padding is different from the bottom padding. When you compute the style and then parse, you only end up with the first num

[2017-06-01 13:38] christophherr commented on #97
@no-stack-dub-sack  Yeah, that will get really messy...
Not to mention what happens when the padding is subtracted from the height with something like `height: calc(100vh - 80px)`

The different CSS libraries surely make it difficult, especially when they are very opinionated (e.g. Materialize in issue 75).

I will take a look over the weekend.
At the moment, I am thinking a failing test with a no

[2017-06-01 23:41] no-stack-dub-sack commented on #97
@christophherr Yeah, that sounds good, and your right - it does let them know (if they are reading carefully) that the height is not as expected. So that's fair.

[2017-06-01 23:42] no-stack-dub-sack commented on #98
@benjaminadk closing this for now since everything seems to be in working order, if you can provide any more detail, please feel free to reopen.

[2017-06-01 23:42] #98 closed

[2017-06-03 17:08] paweltar opened #99 "[beta] Personal Portfolio Webpage: Test number 7 not passing"
#### Issue Description

In challenge named "Personal Portfolio" (from beta curriculum), test number 7

is not passing although it should, as the links that let user navigate to different sections of webpage are present and after click they are scrolling page smoothly. I suppose that this issue must be connected somehow with scrolling library that was used in this project [https://github.com/alvaro

[2017-06-05 22:20] #31 closed

[2017-06-07 21:00] Supertechie2010 opened #100 "Failing Tests # 4 and #11 on Technical Documentation Page Project"
#### Issue Description

When I run the test on my page it claims I am failing 2 tests, #4 and #11. my code appears to meet these requirements but I cannot manage to get it to pass these tests.

#### Browser Information

* Chrome, Version 58.0.3029.110 (64-bit)
* Windows 7
* Desktop

#### Your Code / Link to Your Pen

[code]

[2017-06-10 12:43] paweltar commented on #100
I've had similiar issue yesterday (or even the same issue), the problem is that if you put your header text inside some additional markup inside your header elements like for example `<header>
        <h2>What You Should Already Know</h2>
      </header>` test expects `id` with extra underscores at the beginning or at the end like `What_You_Should_Already_Know__`. But if you remove any additional

[2017-06-11 01:02] Supertechie2010 commented on #100
So basically my code is fine and it is the test that is not functioning properly as my code is valid HTML5.

[2017-06-12 08:01] paweltar commented on #100
Yes, in my opinion test should pass with your original code, however at the moment it doesn't, so probably you'll have to adjust your solution by removing `h2` tags and any spaces inside `header` or wait until test is fixed.

[2017-06-12 13:45] paweltar commented on #99
I resolved this problem by just not using this library that was causing test nr 7 to fail. It seems that this might be the best solution in cases like this to just keep the project simple and avoid unnecessary complexity  (even though I liked this scrolling effect :smile: ). I think I should close this issue now.

[2017-06-12 13:45] #99 closed

[2017-06-13 15:58] NormanEWright opened #101 "Issue with Technical Documentation Page"
#### Issue Description

When I run the tests for Technical Documentation Page project I get an error for Layout Test 1:

1.  On regular sized devices (laptops, desktops), the element with id="navbar" should be shown on the left side of the screen and should always be visible to the user.

The element with id="navbar" is shown on the left side of the screen for regular sized devices.

#### Browser

[2017-06-15 17:14] no-stack-dub-sack commented on #100
@paweltar @Supertechie2010 thanks for reporting these issues, we're working to fix all of these before the beta curriculum goes live!

[2017-06-19 03:47] anthonytranDev opened #102 "Survey From Unit Test 12: Test is passed, but user cannot use selection drop-down option"
Screenshot 1

![screenshot 260](https://user-images.githubusercontent.com/26009168/27268888-8a09cc44-54aa-11e7-8ec8-e6ee3663fbd4.png)

Screenshot 2
![screenshot 261](https://user-images.githubusercontent.com/26009168/27268892-8db7735a-54aa-11e7-9a8a-0f26dcf2d082.png)

#### Issue Description

I was able to pass one of test without fulfilling the user story for Unit Test 12:  I can select an option

[2017-06-19 21:39] QuincyLarson opened #103 "Overview of known issues"
@no-stack-dub-sack summarized the state of these testable projects as such:

# Some known issues:
- Materialize CSS package breaks the test suite completely (last I checked) - CSS rules are overridden and projects cannot be selected (this is where the UI we added is problematic. while less cool, and admittedly less user friendly, selecting the test suite with a hard coded variable was more reliabl

[2017-06-20 16:39] tchaffee commented on #26
@QuincyLarson I tested this using the CodePen posted by @christophherr and all the tests pass. I am closing this since it looks like it was a one time problem related to slow network.

[2017-06-20 16:39] #26 closed

[2017-06-20 22:24] ZaynMalloc opened #107 "Test Failing: Pomodoro Clock"
I doubled checked my work, but I cannot seems to get tests 11, 18, and 19 to pass despite the fact that my promodoro clock already achieves the functionality of these tests. I am using google chrome Version 59.0.3071.86 64 bit in Windows 10.

https://codepen.io/zachgacer/pen/zzZMpr?editors=1010

[2017-06-20 22:38] tchaffee commented on #74
@QuincyLarson Before going ahead with creating a PR for this issue I would like to better understand the purpose of the "technical-documentation-page" assignment. Looking at the [existing tests](https://github.com/freeCodeCamp/testable-projects-fcc/blob/master/src/project-tests/technical-docs-tests.js), I am guessing the goal for the assignment is to have the student use the `<nav>` (and related)

[2017-06-20 22:48] tchaffee commented on #107
@ZaynMalloc Thanks for reporting this. I just ran the tests on your CodePen and was able to repeat the problems. For whoever takes this issue, note that test 11 is failing due to a timeout, and the others say "TypeError: Cannot read property '1' of null".

[2017-06-21 16:45] tchaffee commented on #30
@no-stack-dub-sack What is the expected behavior for those buttons?

[2017-06-21 16:59] tchaffee commented on #82
@no-stack-dub-sack @aaronRhodebeck @CollinPerkins I cloned this repo and tested locally and all tests passed. Perhaps something has been fixed since this issue was opened? Can one of you test locally to see if you can still repeat the problem?

[2017-06-21 18:01] tchaffee commented on #97
This is actually due to [a documented bug with Chrome](https://bugs.chromium.org/p/chromium/issues/detail?id=672457). In short, executing `getBoundingClientRect()` after the `window.scroll(0,500)` with CSS `position:sticky` will give the wrong values. We can work around this in the test but using a `setTimeout` to yield to the browser to finish layout first before executing the `getBoundingClientR

[2017-06-21 21:58] QuincyLarson commented on #74
@tchaffee I agree with you about

I agree with you.

Please use this Pen (on freecodecamp's CodePen account) instead - we can refactor it to get it to pass your new tests. You can fork it then let me know when it passes and I can fork it back with the official account. https://codepen.io/freeCodeCamp/pen/NdrKKL

Here are all the freeCodeCamp pens for your reference: https://codepen.io/freeCodeCamp

[2017-06-22 13:22] tchaffee commented on #74
@QuincyLarson No need to refactor the example code. My new test works with the old code at the same time allowing more flexibility with multiple levels of container `<div>`. The only thing that will continue to break is the pen provided by @sue888. That code would need to be refactored, because the tests are correct and there are a couple of problems with the code provided by @sue888.

[2017-06-23 14:12] tchaffee opened #110 "Test #26 failing for Pomodoro Clock"
This test is failing on the [official code pen example for the Pomodoro Clock](https://codepen.io/freeCodeCamp/pen/XpKrrW).

#### Issue Description
Run the tests on the CodePen and test #26 will fail.

[code]

#### Browser Information

* Browser Name, Chromium Version 58.0.3029.110
* Operating System: Ubuntu 16.04 (64-bit)
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen
No

[2017-06-23 17:23] tbushman commented on #107
Tested https://codepen.io/zachgacer/pen/zzZMpr?editors=1010 and found that the start_stop button only functions to start the timer, so when clicked more than once, the first setInterval keeps running. @ZaynMalloc Try checking this.state.status in startTimer() and add a conditional to either start or pause the timer based on that status.

@tchaffee Also found that test 18 in pomodoro-clock-test.js

[2017-06-23 18:03] tbushman commented on #101
@NormanEWright I reproduced the error only with a window resized to < 850px wide. The error message contains the additional info: 'Please run this test in a larger window (before any media queries) '. I think that should close this issue.

[2017-06-23 18:10] tbushman commented on #101
Reopening because it looks like the screenshot referenced by @NormanEWright is erroring on a wider screen. I was not able to reproduce the error in Chrome / OS Sierra.

[2017-06-23 21:57] tbushman opened #111 "Determining if img tag is centered in Tribute Page"
#### Issue Description

Computed margin in Firefox returning "" in test 2 (The <img> element should be centered within its parent element.). Suggestion: if margin = "", check margins with getBoundingClientRect(). PR forthcoming.

#### Browser Information

* Browser Name, Version: Firefox
* Operating System: macOS Sierra 10.12.1
* Mobile, Desktop, or Tablet: Desktop

[2017-06-24 23:27] NormanEWright commented on #101
I just checked the test results on the updated page, all tests are passing now. Thanks.

[View the Technical Documentation Page](https://normanewright.github.io/technical-documentation-page/)

[2017-06-24 23:27] #101 closed

[2017-06-25 03:13] QuincyLarson commented on #74
@tchaffee Awesome! OK - It sounds like we can close this issue, and @sue888 can update her pen when she has time.

I'm going to close this issue but if there's anything else related to this, feel free to reopen it.

[2017-06-25 20:51] sa-mm opened #114 "D3 Scatter Plot"
(fixed typo)
#### Issue Description

Hello!

I have a concern regarding the tests for the D3 Scatter Plot. They seem to be assuming that we use `d3.scaleLinear()`while plotting the data points, as opposed to something like `d3.scaleTime()`. This seems odd to me given that we’re plotting minutes and years.

Specifically, test 5 says,

This is easy enough to fulfill if you’ve used `d3.scaleTime()`.

[2017-06-25 21:47] MikeIke24 opened #115 "Glitch/Twitch API Down"
#### Issue Description

The API that FCC recommends to use for the Twitch Streaming app seems to be down. It's not just an issue with my project because I can't access the website's API at all. I was just wondering if this was a known issue, but also it might cause a lot of people's project to stop working.

#### Browser Information

* Browser Name, Version: Chrome, latest version.
* Operating Sys

[2017-06-26 00:56] ZaynMalloc commented on #107
I added the conditional as you recommended. The tests are still failing.
https://codepen.io/zachgacer/pen/zzZMpr

[2017-06-26 05:07] tbushman commented on #107
Thanks. A few more tests pass after removing the duplicate id="time-left" from the parent div:
`<div id="time-left">
          <span id="time-left">
            {this.convertSecondsToFormat(this.state.minutes)}
          </span>
  </div>`
because the test looks for `document.getElementById("time-left").innerHTML` (mm:ss format) and gets the span element here. Still working on isolating other probl

[2017-06-26 06:18] ZaynMalloc commented on #107
Thanks, I just removed the duplicate id="time-left". Test 11 is still failing even though the reset button resets the session length to 25 , the break length to 5, and the time-left to 25:00.

[2017-06-26 17:59] tchaffee commented on #74
I still have a PR for this that I need to push when it is ready.

[2017-06-26 18:22] tchaffee opened #116 "Upgrade bundle.js to use latest webpack and jquery"
If you fork this project and run `npm install` you get newer versions of webpack and jquery (based on the required versions in `package.json`). Jquery goes from v3.1.1 to v3.2.1.

This means running a build will result in many changes to the `bundle.js` file, which would not make sense to commit in a PR related to other issues, especially if this upgrade needed to be reversed for some reason.

The

[2017-06-26 19:39] tbushman commented on #107
OK. A few changes and you should be able to pass:
- a typo ('sesssion'):
[code]
- When reset, update this.state.status and this.state.mode:
[code]
- On start_stop click, only setInterval if the directive is "start", otherwise clear:
[code]
With these changes, all tests but the last one (audio) pass.

[2017-06-26 19:44] tbushman commented on #107
Also this (re: this.state.mode):
[code]

[2017-06-26 20:39] ZaynMalloc commented on #107
Thank you for the help! It is working now.

[2017-06-26 21:19] tbushman commented on #114
@tchaffee I tested both scaleLinear() and scaleTime() in @sa-mm 's code and get a truncated year (i.e. 119 instead of 1990) for xScale(dates[0]). No idea yet why...

[2017-06-26 21:21] tbushman commented on #107
Awesome. :D

[2017-06-26 21:23] #107 closed

[2017-06-26 21:43] tbushman commented on #101
OK. Thank you.

[2017-06-27 13:44] #116 closed

[2017-06-27 13:58] tchaffee commented on #107
@tbushman Thanks for resolving this. @QuincyLarson going forward, I have a question about the best place to help campers debug their code once it looks like these tests are correct but the camper's code has a problem. Does it make sense to ask the camper to move the discussion to gitter and to get help from other campers there? Or should we continue to help campers debug their code here on github

[2017-06-27 14:08] tchaffee commented on #115
@MikeIke24 Thanks for reporting this. I just looked at your project and it seems to be working now?

Even the best APIs do *occasionally* go down however if it happens a lot we would need to take this into consideration. If your project is working now, I think we can close this issue and then keep a close eye on whether it was a one time thing or if Twitch is having regular problems with API avail

[2017-06-27 15:09] MikeIke24 commented on #115
Yeah it seems to work now, thank you though, I'll close this.

[2017-06-27 15:09] #115 closed

[2017-06-28 01:39] #102 closed

[2017-06-28 16:25] tchaffee commented on #30
@no-stack-dub-sack Has this gone off your radar? I'm happy to try to fix this if I can understand what the expected behavior is.

[2017-06-28 16:35] tchaffee opened #120 "Include fcc eslint rules in this project."
Should we and how can we best include [freeCodeCamp's JavaScript Style Guide](https://github.com/freeCodeCamp/freeCodeCamp/blob/staging/.eslintrc) in this project?

If we make a copy, then we won't see any updates. But if we don't include it in this project we are missing ESLINT warnings that should be corrected.

@no-stack-dub-sack and @tbushman any ideas are appreciated.

[2017-06-28 18:34] tchaffee commented on #110
@no-stack-dub-sack The reason this test is failing is that the audio element is still playing and is just stopping playing from test #25 by the time test #26 ends. One of those timing issues that is hard to reproduce.

The only reason we are seeing this is because the setTimeout is hacked to make time "go faster". I wouldn't expect the audio to be playing for a full minute if the tests were done m

[2017-06-28 18:34] tbushman commented on #100
OK @Supertechie2010, once updated, the test might still fail because the text, "If...Else_Statement", when replacing spaces with underscores, won't fully match id="If_Else_Statement".  You can use "..." in your id attribute.

[2017-06-28 20:46] tchaffee commented on #110
Some more feedback: I [forked the Pomodoro Clock Codepen](https://codepen.io/tchaffee/pen/mwpBEq), changed the reset button to stop playing the audio, and all the tests pass now. If this is the path we want to follow, my next step would be to add a new test that ensures the audio stops playing when the user presses reset.

[2017-06-29 03:11] #100 closed

[2017-06-29 03:20] no-stack-dub-sack commented on #74
@tchaffee this thorough explanation was helpful for me to better understand your PR. Everything looks good to me except the merge conflicts need to be resolved because @tbushman's PR was merged ahead of yours.

You can rebase on top of this and update the PR to fix this. Then we should be good to go on this. I agree with your assessment and choices. Nice work!

[2017-06-29 04:51] no-stack-dub-sack commented on #120
@tchaffee it may be a bit late to include these now, much of the code already written probably breaks tons of these rules. Making everything up to par could be a nightmare. Overall, I think enforcing style guidelines is good practice, but the FCC repo proper is a totally different animal because of the massive size of the codebase as well as the huge number of people contributing.

Looking at this

[2017-06-29 12:25] tchaffee commented on #120
@no-stack-dub-sack I would be happy to start "fixing" the code to adhere to FCC style. As it is I am running out of issues to work on and have hours of free time that I could be spending improving the code.

In terms of maintaining a separate `.eslintrc`, that is actually my biggest concern. If there is a style change / addition at the FCC main app repo, how do we make sure changes are applied her

[2017-06-30 00:27] #74 closed

[2017-06-30 00:29] #97 closed

[2017-06-30 00:38] no-stack-dub-sack commented on #120
@tchaffee If you're up for fixing it, by all means. But again, I just don't think this project will ever get the high level of exposure that FCC proper will and thus it is not mission critical for now, though I agree at some point much can be improved.

Even if there aren't any specific issues to address right now though, my preference (if you are willing to spend the time) would be to have you tr

[2017-06-30 05:30] iKwesi opened #121 "Build a tribute page _ Layout test #2 failure"
#### Issue Description

This is the only test failing although i have centered the image in it's parent div.

#### Browser Information

* Browser Name, Version: Chrome
* Operating System: macOs 10.11.6
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

![image](https://user-images.githubusercontent.com/24443531/27722158-ae31f010-5d33-11e7-93ca-8c6970

[2017-06-30 14:05] tchaffee commented on #120
I'm fine working on whatever the priority is. As far as breaking the tests, are there a few camper projects I should be focusing on where you feel like the tests would be easy to break and that need more attention? I'm guessing the Tribute page for example doesn't need the most attention.

Could you give me a code example of how you would break up a string with a template literal? If I can see wha

[2017-06-30 14:09] tchaffee commented on #82
@no-stack-dub-sack @aaronRhodebeck @CollinPerkins  I'm closing this since I haven't heard back from anyone about reproducing the problem. If one of you can reproduce, please feel free to reopen.

[2017-06-30 14:09] #82 closed

[2017-06-30 14:26] tchaffee commented on #121
@iKwesi Nice styling on your page! And thank you for reporting this. There is a bug in our tests in that we are not taking the border width into consideration. As a work around you can change the border-width of your container from 15px to 14px and the test should pass.

@tbushman Do you want to take this since you are already working on issue #111?

[2017-06-30 14:32] tbushman commented on #121
@tchaffee OK.

[2017-06-30 23:02] iKwesi commented on #121
after changing the border-width to 14px the test still fails.
![image](https://user-images.githubusercontent.com/24443531/27756569-b6071f5c-5dc6-11e7-9761-9dff99f50635.png)

[2017-06-30 23:26] no-stack-dub-sack commented on #120
@tchaffee I think we answered your first question in the meeting today, and as for your second, I think I may work on a PR to bring everything to 2 spaces instead of 4 (which conforms with FCC style guidelines) and breaking up the long strings better, just to get us started on this.

But what I mean is:

[code]

Using back ticks instead of single or double quotes will allow the strings to be broke

[2017-06-30 23:38] no-stack-dub-sack commented on #120
@tchaffee it also looks like FCC enforces a max line length of 80 chars. If we were do to this, a lot of the tests would end up looking like this:

![image](https://user-images.githubusercontent.com/18563015/27757102-9fa546f8-5dcb-11e7-8866-ddc5e2b934c6.png)

What do you think? I know I said we shouldn't prioritize this, but the more I look through, the more it's bothering me :smile:

[2017-07-01 13:24] tchaffee commented on #120
@no-stack-dub-sack Concerning your comment about the backticks, the only problem with this:

[code]

Is that the backticks include newline characters and whitespace. So you'd get the following string. Note the newline and the white space:

[code]

Not sure if that's what you are looking for? You can escape the newline with the backslash, but I haven't ever found a way of getting rid of the white s

[2017-07-01 13:37] tchaffee commented on #120
I think narrow code is easier to read. Like reading a book (usually max 60 columns!). BUT, writing tests are the one case where the 80 character max is sometimes a pain because you have to break the narrative text over so many lines and it become harder to maintain when you need to add one word to a line.

I don't have a great answer for this. Long strings in javascript (and many other languages)

[2017-07-01 13:44] tchaffee commented on #121
@iKwesi Sorry about that. It looks like I was using a newer but yet unreleased version of the tests that are a little more forgiving allowing 30px (total) of wiggle room concerning centering. The current tests only allow 10px (total), so if you change the border to 5px (border is on 2 sides) the tests should pass. Here is a [fork of your pen](https://codepen.io/tchaffee/pen/NgYbgM?editors=1100) th

[2017-07-01 17:06] tbushman commented on #121
@iKwesi @tchaffee, The PR, once merged, will fix this. Thanks for your patience.

[2017-07-01 20:41] tbushman commented on #114
Ok, I misunderstood what xScale was returning, but it is within your range (in pixels, not years as I misunderstood). Both scaleLinear() and scaleTime() should return 119, an expected pixel value.

[2017-07-01 20:54] sa-mm commented on #114
Thanks for looking into this.

[2017-07-01 22:20] tbushman commented on #114
NP. :)

[2017-07-01 22:20] #114 closed

[2017-07-02 01:29] sa-mm opened #124 "D3 Scatter Plot Tests"
#### Issue Description

Test 6 expects that you've assigned something like a date string to the data-yvalue: `var yDate = new Date(dot.getAttribute("data-yvalue"));`

Given that it expects a plain old year (e.g., '1994') for the data-xvalue, should something like that be possible for data-yvalue (e.g., '38:45')?

[2017-07-02 03:12] tbushman commented on #124
Yes. You've used d3.timeParse(), and it looks like it assigns January 1, 1900 to each mm:ss and returns a Date object. The domain for your years is also set by Date objects. xScale() and yScale() should be pixels. @tchaffee I think test 6 passes for the FCC sample because the range is 1000 pixels and therefore the xScale() returns what looks like a year, but the expected value is pixels. Either we

[2017-07-02 15:18] iKwesi commented on #121
@tchaffee @tbushman thanks guys. I am very grateful. Kindly lemme know when the new test becomes available but I am working on the survey form.
Happy coding

[2017-07-02 16:41] tbushman commented on #121
Reopening because we're waiting to get this merged. Thanks @iKwesi .

[2017-07-02 16:58] #111 closed

[2017-07-02 17:08] tbushman commented on #124
@sa-mm the data-xvalue and data-yvalue both expect Date objects, so you can timeParse d.Time and d.Year in a separate step or before assigning the data-xvalue and data-yvalue attributes.

[2017-07-02 18:07] sa-mm commented on #124
@tbushman Thank you for continuing to look at this. I think I'm not understanding things correctly. You say,

From my understanding, the tests expect the data-xvalue to be of the form "1994," but when you write that they expect "Date objects" I think of the string representation of something like `new Date(1994, 0, 1)` which is "Sat Jan 01 1994 00:00:00 GMT-0600 (CST)" (or close to that depending

[2017-07-02 20:38] tbushman commented on #121
@iKwesi OK. Your pen should pass now.

[2017-07-02 20:38] #121 closed

[2017-07-02 21:01] tbushman commented on #124
OK. I was wrong about data-xvalue, sorry! You're right that it expects just a full year. So, in your code it would be `.attr('data-xvalue', (d, i) => new Date(dates[i]).getFullYear())` And you want to pass a Date object to your data-yvalue attribute like `.attr('data-yvalue', (d, i) => new Date(minutes[i]))`.

[2017-07-03 14:50] #75 closed

[2017-07-03 15:01] tchaffee commented on #124
@sa-mm In order to make the tests maintainable, we actually want to make them as descriptive and *as restrictive* as possible. We aren't trying to build the tests to pass all possible solutions, but instead the test narrative should guide campers to one correct solution, and the solutions campers come up with should be fairly similar, as well as being similar to the sample app.

With that said, is

[2017-07-03 17:37] tchaffee commented on #110
@no-stack-dub-sack @QuincyLarson Any feedback on this? If there is no strong opinion either way, I would like to go ahead and add a new test that requires the code to ensure the audio stops playing when the user presses the reset button. After that I would need some help understanding how to change the sample CodePen to get it to pass the new test.

[2017-07-03 21:25] tchaffee commented on #70
@paycoguy @Christian-Paul @QuincyLarson I need some direction for this failing test. @no-stack-dub-sack you might want to chime in?

The test does not do what it says it does. The test says "The data-yvalue and its corresponding dot should align with the corresponding point/value on the y-axis." But there is no code in that test that checks alignment with the y-axis. What it does, as @tom-p-uk poi

[2017-07-03 21:30] tchaffee commented on #70
@tbushman I forgot you are working on some d3 issues yourself. If you have any ideas on the above, your comments are of course welcome.

[2017-07-03 22:08] tchaffee commented on #71
@paycoguy @Christian-Paul @QuincyLarson @tbushman @no-stack-dub-sack I suggest the same solution for this as for issue #70. I would just change the test text to better reflect what it is actually testing:

"The heat map cells must have a data-month attribute, and cells with a month earlier in the year must appear above cells with a later month in the year"

If possible I would like some feedback b

[2017-07-03 22:28] tchaffee commented on #55
@no-stack-dub-sack @QuincyLarson Can someone make a decision about what we want to do with this or can we close it? I do like the old presentation of the data a little better, but in terms of getting experience creating a scatter plot there isn't much difference between the two approaches. So unless someone is willing to re-write the tests to fit the the other layout, then I'm ok with keeping this

[2017-07-03 22:35] tchaffee opened #126 "Automate the testing of this project"
In order to speed up the development process and to make sure we don't break anything, I would like to automate the testing which is currently performed manually. There is not much to do in terms of writing the tests. It's basically just picking the correct test, clicking the 'Run Tests' button and making sure they all pass within a reasonable amount of time. The automated tests would need a list

[2017-07-03 22:37] tchaffee commented on #126
FYI, I think this is the first best step before we start trying to "break the project tests", and before we start making the camper tests more descriptive / restrictive / reliable by adding more requirements (i.e. in the form of Mocha scenarios).

[2017-07-03 22:39] tbushman commented on #70
@tchaffee I was looking into splitting up the .dot 'd' attribute to compare moveto x,y to position on the axis path, because as you say, the test doesn't seem to check for alignment, only the sorted order. I'll try and come up with something to share in a little while. Thanks.

[2017-07-03 22:48] tchaffee commented on #70
@tbushman that's excellent because I was stuck. You're thinking about this more creatively than I am and I'm looking forward to seeing what you come up with.

[2017-07-04 04:31] iKwesi commented on #121
Thanks guys.

On Sun, Jul 2, 2017 at 4:38 PM, Tracey Bushman <notifications@github.com>
wrote:

[2017-07-04 14:20] paycoguy commented on #70
We tried to do this as well and couldn't find a good way to do it.

I believe I tried making this test work whether the axis was ascending or descending, but the resulting code became really long.

This sounds alright with me.

[2017-07-04 14:24] paycoguy commented on #71
Yes, we should impose a sort order on the axis.  As you can see, some campers find the tests too restrictive, but I think it's too hard to create flexible tests to account for every possible variation.

[2017-07-04 14:35] tchaffee commented on #71
@paycoguy Thanks for your quick response and your input. It looks like @tbushman actually dug into this and came up with a solution to check that the axis align with the data points, and it should work no matter how the camper sorts the data. PR #127.

[2017-07-06 13:40] sa-mm commented on #124
@tbushman @tchaffee apologies for my absence over the holidays here in the U.S.

My initial preference would be to opt for a variety of options, but your concern regarding maintainability is important. I guess the flip side of that is that when these tests go live, you might have a lot of people asking questions about why the tests are failing if they're projects are, on the face of it, satisfying

[2017-07-06 17:55] marigerr opened #128 "Quote Machine - Test 10 fails if use a button instead of anchor link with href to tweet quote"
#### Issue Description

 [Quote Machine tests](https://github.com/freeCodeCamp/testable-projects-fcc/blob/master/src/project-tests/quote-machine-tests.js)
Test 10 is failing for me because it requires an  <a> link to be used with an href.
[code]

In my pen, I instead use a button with a click handler in my script file to let the user Tweet a Quote.
[code]

Wondering if possible to change Test 10 t

[2017-07-06 21:20] marigerr commented on #128
I actually was looking more into using a button in this situation on https://css-tricks.com/use-button-element/

Thinking now maybe a somewhat not best practice and not worth changing the test for, so closing my issue.

[2017-07-06 23:11] tbushman commented on #128
@marigerr Thank you for sharing that informative article.

[2017-07-07 15:52] tchaffee commented on #128
Reopening this because we should make the the test text clearer to specify that the tweet element should be an anchor (`<a href=.../>`) element.

[2017-07-07 16:47] marigerr commented on #128
Okdokee.
I can possibly submit a PR for this.   Could possibly change Test 5 instead to check at that point that the tweet-quote element is an anchor tag.   Then Test 10 could stay the same to just check the href path.

Currently Test 5 just checks the element id and that its a child of quote-box element. (below)
Can add anchor tag requirement and additional test there.

[code]

[2017-07-07 18:48] tchaffee commented on #128
@marigerr That sounds good to me.

[2017-07-09 16:22] no-stack-dub-sack commented on #110
@tchaffee Hey Todd, sorry for missing this. Please feel free to message me on Gitter any time if I miss an issue, the list of issues I'm mentioned in is quite long from other projects so I sometimes miss them. Gitter is definitely a more reliable way to reach me if I don't respond in 1 or 2 days. Don't hesitate.

This is interesting, because you haven't made a PR to address this yet, right? All te

[2017-07-09 17:32] sa-mm commented on #124
Got it!

I just want to summarize my point (and this is just because communication over the internet is hard):

I think it’s odd to have tests that require `data-yvalue=“some date string which happens to have the correct minutes and seconds”`, and that it makes sense for the tests to at least permit `data-yvalue=“38:45”`.

However, I have definitely belabored the point!

Thanks again for the work

[2017-07-10 16:41] tchaffee commented on #110
@no-stack-dub-sack I have not made a PR yet, but I have code ready. I'm waiting until I understand what I need to do to fix the Pomodoro Clock example app. I don't know how to do that. I just ran the tests again, and that one is still failing. The timing for it to fail is very precise, so it's probably some combo of my OS, hardware, and browser version. If you can help me understand how I fix the

[2017-07-10 16:57] no-stack-dub-sack commented on #110
@tchaffee so you have the code to fix the example, you just need it to be changed on the official FCC Codepen example, right? I can do that for you.

Can you just point me in the direction of the code that you changed so that I can take a look? (would be cool if there was a diff function in codepen)

[2017-07-10 19:36] marigerr commented on #128
I have a PR ready, but I believe that the build needs to be run for the last commit/merge - [fix all indentations and quotes](https://github.com/freeCodeCamp/testable-projects-fcc/commit/9490a0b5deee0c2a93864eea540887e9a8aec3d6)? I don't see that bundle.js was updated?

I noticed this when I run build after making updates for this my issue, I'm see diff changes to bundle.js that I believe were for

[2017-07-10 20:14] tbushman commented on #128
@marigerr Before submitting a PR, make sure to create a branch on your fork from which to submit. Commit to that, then switch to local master (git branch master) and see if you can rebase latest upstream/master over your local master. Then checkout your fix/* branch... push. I might be missing something, and this is new to me. I have found this useful for reference: https://2buntu.com/articles/145

[2017-07-10 21:22] marigerr commented on #128
@tbushman
Howdy!  I did my changes on a up-to date branch that was checked out from master after fetching the latest commits.   So it wasn't a problem there.

I think I would prefer not to include changes from the prior commit with my commit.   I could submit a PR with just the changes to bundle.js that reflect the latest [commit](https://github.com/freeCodeCamp/testable-projects-fcc/commit/9490a0

[2017-07-10 23:49] tchaffee commented on #110
Good idea about the diff in CodePen. I ended up copy pasting the source from both into kdiff3 (great visual diff tool once you learn it).  Below are the three lines you need and I've included some context. BTW, I used `ref` instead of `document.getElementBy` because the React docs recommend using it to access DOM elements that perform media playback.

[code]

[2017-07-11 02:08] no-stack-dub-sack commented on #110
@tchaffee yes! good call on the `ref`, I've since learned that but have not gone back to update things. the drum machine project could use that too now that I think about it.

Ok. All set, you should now see the changes reflected on the official Pen.

So you're also going to add a new test that requires this behavior?

[2017-07-11 20:35] tchaffee commented on #110
@no-stack-dub-sack Thanks for updating the pen. I am working on the new test now.

[2017-07-11 21:27] QuincyLarson commented on #126
@tchaffee yes - we can definitely get a CI server going. I can add Travis CI, but I think you need to decide what tests you want to run. I've written a bit about this here: https://medium.freecodecamp.com/how-to-stop-errors-before-they-ever-hit-your-codebase-with-travis-ci-and-eslint-7a5a6b1fcd4a

[2017-07-11 22:37] tchaffee commented on #110
@no-stack-dub-sack I am preparing the PR now and will post it soon. But I there is one more line you should add to the CodePen, because I just figured out that `pause()` does exactly what it sounds like and when you invoke `play()` again it will start the audio where it left off. We also need to rewind:

[code]

[2017-07-11 22:54] no-stack-dub-sack commented on #110
@tchaffee all set!

[2017-07-11 23:18] QuincyLarson commented on #55
@tchaffee I think @paycoguy's implementation looks great, and I see his point about revealing additional data by changing the X axis. I think we can leave this as is.

[2017-07-11 23:18] #55 closed

[2017-07-12 14:13] tchaffee commented on #126
@QuincyLarson Thanks for the article. It helpful and I've used CI before so I don't foresee any problems getting this set up. As a first step I can add the ESLint tests, but the important goal for me is to fire up a headless browser for each CodePen, click the "Run Tests" button, and make sure all the tests pass. I wrote a CasperJS script to do this, but it only works some of the time (https://git

[2017-07-12 23:07] tchaffee commented on #126
@QuincyLarson @no-stack-dub-sack @tbushman Just giving a quick progress update here. **tl;dr:** Unless there is some objection I would like to go ahead with Selenium for automatically checking each CodePen and that the tests pass.

I tried PhantomJS and it also has documented problems with iframes. With CasperJS and PhantomJS out of the picture it's down to Selenium, which is fortunately working g

[2017-07-13 18:30] aw1231 opened #133 "Show the Local Weather example broken"
#### Issue Description
When you open the codepen the example looks broken.

#### Browser Information
I am running the latest verions of Windows 10 and Chrome

* Browser Name, Version: Chrome 59.0.3071.115
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen
https://codepen.io/freeCodeCamp/full/bELRjV

#### Screenshot
![2017-07-13](https://user-ima

[2017-07-13 19:04] johnpyp opened #134 "N"
#### Issue Description

Centered element not registered as centered on Quote Generator project.

Centered via Boostrap 3.3.7 col-xs-4 col-xs-offset-4

https://codepen.io/johnpyp/full/NgoeZX/

Fork that to reproduce.

#### Browser Information

* Browser Name, Version: Chrome 59.0.3071.115
* Operating System: Windows 7 64-bit
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[2017-07-13 22:30] tchaffee commented on #134
@johnpyp Thanks for reporting this and we will look into it as soon as we can.

[2017-07-13 22:32] tbushman commented on #70
Reopening due to revert.

[2017-07-14 05:40] tbushman commented on #70
Codepen appears to handle the 0.5px offset on axes automatically generated by D3 differently than in the regular window. I closed #137 because while it worked in the rawgit bundle.js imported into Codepen, the local tests had a few misalignments counted that were off by 0.5px. The final PR coming soon should compare feature coordinates to axis tick coordinates within a small range (even + / - 1 wo

[2017-07-14 12:03] marigerr commented on #134
I can take a look at this! (since I've just been working on quote-machine)

[2017-07-14 13:58] marigerr commented on #134
It looks like the problem is due to `offsetLeft ` property that is currently used which gets the offset only in relation to the parent element.   It fails in the linked pen since Bootstraps offset class was used and thus the element is offset within the parent element.   But this imo is a valid way to center an element and should be accepted.

Current left alignment Layout Test:

[code]
I've start

[2017-07-14 17:09] tbushman commented on #133
In its current form, this app requires disabling https.
The latest versions of Chrome won't let you do that from the browser (https://stackoverflow.com/questions/41498423/how-to-get-latest-chrome-version-55-to-allow-mixed-content).
There should be another weather api using https that could be used in place of openweathermap (https://forum.freecodecamp.org/t/show-the-local-weather-cant-use-geolocat

[2017-07-14 20:53] marigerr commented on #133
There was a recent commit on the non-beta version of FCC that made changes to the Local Weather App challenge :  [Add glitch API to Front-End weather project](https://github.com/freeCodeCamp/freeCodeCamp/commit/c9d4da3146e64391e72489edc9a0c255d91af969)
There is a [closed issue](https://github.com/freeCodeCamp/freeCodeCamp/issues/15598#issuecomment-313928572) where @MiloATH stated there was a need

[2017-07-14 21:11] MiloATH commented on #133
I forked and updated the codepen. It can be found [here](https://codepen.io/Miloath/pen/zzJGqP). The  only thing that needs to be updated in the freeCodeCamp pen is the javascript. It would be great if the freeCodeCamp pen could be updated @QuincyLarson. Here is the updated javascript:
[code]

[2017-07-14 21:16] aw1231 commented on #133
@marigerr would you like me close this issue and ask that https://github.com/freeCodeCamp/freeCodeCamp/issues/15598 be reopened?

[2017-07-14 21:32] marigerr commented on #133
@aw1231   I'm new to contributing, but that seems like a good idea to try to reopen [#15598](https://github.com/freeCodeCamp/freeCodeCamp/issues/15598) and finish resolving there.
Thanks for the further info @MiloATH !

[2017-07-14 22:47] aw1231 commented on #133
Will do.

[2017-07-14 22:47] #133 closed

[2017-07-16 18:12] #70 closed

[2017-07-16 21:03] DennisEnt opened #140 "Random Quote Machine failing test"
#### Issue Description

#### Browser Information

* Browser Name, Version: Chrome, Version 59.0.3071.115
* Operating System: macOS Sierra
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

[2017-07-16 21:54] marigerr commented on #140
Hi, I have a [pending fix/pull-request](https://github.com/freeCodeCamp/testable-projects-fcc/pull/132/files) for this test as I had a similar problem.  The fix will hopefully make the requirement clearer that an \<a\> element with an id of "tweet-quote" is required and the href as well.
The test fails your code because the it is unsuccessfully checking for an href on the element with the id="twee

[2017-07-16 22:10] DennisEnt commented on #140
Why not remove the href requirement for this?
I've used an event listener not a href for this:

document.getElementById("tweet-quote").addEventListener("click", function () {
--
  | window.open(`https://twitter.com/intent/tweet?text=+${quote}-${author}`);
  | });

[2017-07-16 22:27] marigerr commented on #140
I'm new to contributing to this repo, but from what I've read I believe the goal is to make the challenge descriptions/requirements very specific and then narrowly test for those requirements.  Otherwise it would be difficult to test for all the different ways projects could be built.

And because it's in beta, the process of fine-tuning the challenge descriptions and the test is still a work in p

[2017-07-17 15:52] #128 closed

[2017-07-17 20:57] tchaffee commented on #140
@DennisEnt What @marigerr said is right. While we would like to support all possible solutions, it would make the automated tests huge, and very fragile. Someone would always be able to find a new way of coding a project that breaks the tests. We are in the process of making sure the tests are more specific about how each project should be built. Thanks for reporting this, because it helps us refi

[2017-07-17 21:07] tchaffee commented on #134
@marigerr I agree this is a valid way to center an element. Your approach sounds good since it is checking the actual physical location of the element on the page. Looking forward to seeing a PR.

[2017-07-17 22:52] no-stack-dub-sack commented on #128
@marigerr oddly I'm just getting an email notification about this thread now... but looks like all has been resolved?

[2017-07-17 22:55] no-stack-dub-sack commented on #126
@tchaffee this sounds awesome to me! about to check out the PR

[2017-07-18 01:21] tbushman commented on #128
@no-stack-dub-sack Yes. @marigerr 's PR is merged, which will help clarify expectations for these tests. Thank you!

[2017-07-18 16:03] tbushman opened #141 "Bar Chart CORS error for shortened json url"
#### Issue Description

#### Browser Information

* Browser Name, Version: Chrome
* Operating System: OSX Sierra
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

The shortened URLs cause tests 7 and 8 to error with the message: `No 'Access-Control-Allow-Origin' header is present on the requested resource.` The error goes away in local testing when

[2017-07-18 17:30] tchaffee commented on #141
@tbushman good catch. I was wondering why those tests were breaking. I think this needs to be fixed by the CoePen author, and not as a part of this project? @QuincyLarson @no-stack-dub-sack Do you know who can fix this?

Here's a link to the [D3 Bar Chart CodePen](https://codepen.io/freeCodeCamp/pen/GrZVaM) for convenience.

[2017-07-18 17:57] tbushman commented on #141
@tchaffee The Codepen is correct. The test module shortens the url. Changing that back to 'https://raw.githubusercontent.com/FreeCodeCamp/ProjectReferenceData/master/GDP-data.json' in  src/project-tests/bar-chart-tests.js line 95 and 121 fixes the error in local dev build. But the access-control-allow-origin error still occurs with the local bundle served through https in your selenium test.

[2017-07-18 18:50] tchaffee commented on #141
@tbushman The Selenium test should work if you rebuild the bundle with `npm run build`. If no one knows of any good reason to be using the URL shortener, then let's get this fixed by using the full URL. @no-stack-dub-sack any idea why the shortener is used in the tests?

[2017-07-18 21:59] tbushman commented on #141
@tchaffee Ah, yes. That did it. OK. The PR #142 is one commit behind #139 feature/automated-tests-inject. But it might be good to merge #142 first. Whatever you think will work best. Thanks!

[2017-07-18 22:08] tbushman commented on #124
@sa-mm  we've been talking about how to re-word a few things, and this will be part of that process. Thanks for calling this out, and sorry I caused confusion here.

[2017-07-18 22:10] no-stack-dub-sack commented on #141
@tchaffee yeah, it was purely stylistic. It worked at the time before this automation, and it just made the code a bit cleaner. No problem at all changing it back if it will solve this problem.

[2017-07-18 22:36] no-stack-dub-sack commented on #30
@tchaffee thanks for the reminder. This one went unnoticed.

To be honest, I'm not sure what the expected behavior is. I think it is to select and replay one individual test. Sometimes it half works in codepen, and the test suite will select and only run one test, but most of the time it just goes to a blank page.

I tried noodling around at some point a while ago, but couldn't produce any differe

[2017-07-19 01:12] tchaffee commented on #30
@no-stack-dub-sack  Ok, thanks for the feedback. I'll look into it.

[2017-07-19 03:58] taariya opened #143 "Product Landing Page Test #5 fails despite working code"
Product Landing Page (beta) project
http://beta.freecodecamp.com/en/challenges/applied-responsive-web-design-projects/build-a-product-landing-page

The unit test for internal linking using anchor tags does not execute successfully even though my anchor tags are properly set up within the page and confirmed to be working.

* Browser Name, Version: Chrome 59.0.3071.115
* Operating System: Ubuntu 17.

[2017-07-19 04:05] taariya commented on #143
I have figured out the problem in the test suite that is causing this. Rather than checking for anchor tags with a "name" attribute that matches the "href" attribute of a corresponding anchor tag, the test suite checks for a corresponding id attribute. This conflicts with the instructions given in the [challenge about linking internal sections of a page](http://beta.freecodecamp.com/en/challenges/

[2017-07-19 04:14] tbushman commented on #143
@taariya Thanks for submitting an issue. Could you please move it to https://github.com/freeCodeCamp/freeCodeCamp and put beta in the issue title? This repo is for the projects (currently the CodePens). Thanks!

[2017-07-19 14:13] tchaffee commented on #143
Hi @taariya, thanks for submitting an issue. I see a problem in your code. You have an html element `<main>` which is indeed a valid element type. But the tests require an element with an id attribute of "main". You can keep the `<main>` element, but you need to assign an id to it. Can you let us know if this solves your problem?

[2017-07-19 14:14] #141 closed

[2017-07-19 15:01] taariya commented on #143
This did not solve the problem. In fact, the tests run perfectly fine even
without there being any element with an id attribute of "main" as long as
one uses the id attribute for anchor tags rather than the name attribute
which the curriculum instructed us to do. I think this lends weight to my
belief that the testing suite needs to be revised because my code is able
to pass without fulfilling a r

[2017-07-19 15:34] tchaffee commented on #143
@taariya My apologies, I was running the wrong test suite! I will take a closer look at this as soon as I get a chance. Thanks for reporting the issue.

[2017-07-19 20:42] marigerr commented on #143
I found on the W3C docs under [obsolete features](https://www.w3.org/TR/html5/obsolete.html#obsolete) that they recommend against using `name ` attribute on anchor tags, but to use `id `instead.

I think instead of changing the test, that an issue should be opened on main repo for the [related challenge](http://beta.freecodecamp.com/en/challenges/basic-html-and-html5/link-to-internal-sections-of-a

[2017-07-21 04:26] #110 closed

[2017-07-21 10:38] marigerr commented on #143
@tchaffee @tbushman
I opened an [issue ](https://github.com/freeCodeCamp/freeCodeCamp/issues/15672)for this on the main fcc repo.   Hopefully will get approval to submit a PR to the lesson itself to use `id `instead of `name  `

[2017-07-21 23:30] #134 closed

[2017-07-25 18:54] MarcBradbury opened #150 "Product Landing Page example"
#### Issue Description
despite attempting to view the pen example for the Product Landing Page each is met with the same issue where the navbar is expanded to cover most of the screen.
(this is referring to the beta version)

#### Browser Information

* Browser Name, Version:  Opera, 46.0.2597.57/ Chrome, Version 59.0.3071.115 (Official Build) (64-bit) /Firefox Dev Edition, newest
* Operating Syst

[2017-07-25 19:34] tbushman commented on #150
Thanks @MarcBradbury. It looks like the problem is coming from the shopify logo. It is has a rather large transparent margin. I tried out shopify logo maker, and the logo came with a smaller margin. @no-stack-dub-sack, @QuincyLarson, just wondering if this logo was post-processed.

[2017-07-25 20:08] tchaffee commented on #150
@tbushman @QuincyLarson @no-stack-dub-sack I recommend against using dynamically generated images in both the example projects and camper implementations. As we've seen here, any changes to the Shopify code could affect / break this project. The Shopify service could also go down temporarily, or permanently.

I would guess we are doing this because CodePen doesn't allow storing assets? Is there a

[2017-07-25 21:28] #126 closed

[2017-07-25 21:51] #71 closed

[2017-07-26 21:29] tchaffee commented on #140
Fixed with https://github.com/freeCodeCamp/testable-projects-fcc/pull/132, which makes it clearer that campers must use an anchor element along with a a valid `href` attribute.

[2017-07-26 21:29] #140 closed

[2017-07-27 18:37] QuincyLarson commented on #150
@tchaffee Yes - that's my understanding. Some sites like Imgur have blocked CodePen due to the fact that they keep pulling images on each refresh.

Hotlinking to images is unfortunate but the only reliable way around it is to host images yourself (on S3 or your own web server). I think we could make a note about this in the challenge, but it would be overkill to go in and walk them through creatin

[2017-07-27 18:40] tchaffee commented on #150
@QuincyLarson Making a note of S3, github, and your own web server as possible options in the challenge would be good enough IMO.

[2017-07-27 18:49] marigerr commented on #150
I started trying out [Cloudinary.com](http://cloudinary.com/) as I've seen others recommend it.   I use it in one of my pens and so far so good.   They don't seem to limit views/downloads.  [Are Cloudinary APIs limited?](https://support.cloudinary.com/hc/en-us/articles/202520892-Are-Cloudinary-APIs-limited-)

[2017-07-27 19:05] tchaffee commented on #150
@QuincyLarson The more important thing though is getting the example CodePen fixed. Anyone know who wrote it and if we can have them take a look?

[2017-07-28 01:30] QuincyLarson commented on #150
@tchaffee yes - if you can tell me exactly what code needs to be replaced, I can log into CodePen and fix it :)

[2017-07-28 01:44] tchaffee commented on #150
@QuincyLarson I am away for the next week most likely without access to a computer. Maybe someone else here like @tbushman or @marigerr can let you know? I think it's just a matter of creating an "normal" size image for the page and then hosting it somewhere.

[2017-07-28 05:36] tbushman commented on #150
@QuincyLarson The image url is in line 4 of the html for Product Landing Page: https://codepen.io/freeCodeCamp/pen/RKRbwL

[2017-07-28 06:07] marigerr commented on #150
@tbushman @QuincyLarson   I can find and download a new logo on possibly flaticon and load it up to Cloudinary, if you think that might be a good solution.

[2017-07-28 06:17] tbushman commented on #150
@marigerr Thanks. You can use the png I shared. It is the exact logo without the added transparent margin mentioned.
Here is the url please for reference:
https://cdn.shopify.com/tools/logo-maker/show/aXVZQVUxQzVaRWUvL2ErVlhNajhydz09LS10dEJ3RkFOVzIzaXhMdHBJT2RvMWVRPT0=--55e0484dc3ed246afecaba4ab16c8816c438ea00_1000x.svg.png

[2017-07-28 06:28] marigerr commented on #150
Oh great so don't need to look for new image.  I actually just realized it might be better for FCC to host on its own cloudinary account (or other platform) instead of mine, for future maintainability.

[2017-07-28 20:17] QuincyLarson commented on #150
Thanks for your patience everyone! I've put this image up on s3 and updated the example app.

[2017-07-28 20:17] #150 closed

[2017-07-29 08:06] marigerr commented on #143
@tchaffee @tbushman
The lesson on beta freecodecamp was updated to remove instructions about using `name `attribute with anchor tags and to instead use `id` to create internal links.
It is not yet reflected on live site,  but the change has been merged.    (Not sure how long it takes for changes to be reflected on live site?)
So I believe this issue can be closed, as the current tests align with u

[2017-07-29 18:41] tbushman commented on #143
@taariya , your pen passes tests if your section elements have id tags corresponding to hrefs in the navbar. Thank you!

[2017-07-29 18:41] #143 closed

[2017-08-03 04:54] tbushman commented on #59
@no-stack-dub-sack If the app is named, like `var app = new Vue(...)`, the test can determine if it's a Vue instance with `app._isVue`. I have been running into a lot of problems trying query nextTick. I can submit a PR with an alert that tests for Vue, or as @tchaffee has suggested, the tests can each require a specific framework.

[2017-08-06 17:50] Enikol opened #154 "URL Shortener cannot be tested"
#### Issue Description
Testing app https://narrow-plane.glitch.me/ doesn't test the URL Shortener project correctly. It fails tests 2 and 4 with error message saying only 'error' (I ran these tests sequentially, so that shouldn't be the cause of the problem). I tried to test the example project, https://thread-paper.glitch.me, and the result is the same. In the developer console it prints the foll

[2017-08-08 11:20] marigerr commented on #154
Hi @Enikol !

Currently this project/repo only tracks issues for the tests run on the front-end projects.

For the back-end projects from the _Apis and Microservices_ section, there are a few open issues on the main fcc repo that detail some problems.    I believe there is an awareness that unfortunately the testing is not currently working for the back-end Glitch projects.

https://github.com/fre

[2017-08-08 13:17] tchaffee commented on #59
@tbushman Since you already gave this some attention, and it still looks difficult, let's go ahead with specifying what framework (if any) is required for each project. The earlier projects should not use any framework and should just be plain HTML. The projects from the React section of the program should require React. I don't see this as a problem at all. We don't support other frameworks in th

[2017-08-08 13:24] tchaffee commented on #154
@Enikol Thank you for reporting this problem. I cannot find any automated tests for the URL Shortener project. Can you give me a step-by-step description of how to repeat the problem? How are you running the tests?

[2017-08-08 13:27] tchaffee commented on #154
@Enikol Thanks for reporting this. I am closing this issue because as @marigerr said, this git repo is only for the tests for the frontend project. And please do comment on issue freeCodeCamp/freeCodeCamp#13095 so the right people are aware of this problem.

[2017-08-08 13:27] #154 closed

[2017-08-16 20:32] #124 closed

[2017-08-18 18:04] tchaffee opened #160 "Rename the `src/assets` directory to `src/utils`."
The `assets` name is traditionally (idiomatically) used to store web assets such as images and fonts. In this project it is being used to store javascript modules, which is confusing.  It should be renamed to something like `src/utils`. This requires a lot of grunt work in also fixing the references to this directory in any code that imports javascript modules from that directory.

[2017-08-20 17:48] mertindervish opened #164 "Personal Portfolio Project - window.scroll is not a function"
#### Issue Description

Can't pass 2 unit tests because of the following error:

[code]

#### Browser Information

* Browser Name, Version: Google Chrome, 60.0.3112.101
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

https://codepen.io/mertindervish/project/editor/XrNJJx

#### Screenshot

![Screenshot](https://user-images.githubusercontent.c

[2017-08-20 19:55] mertindervish commented on #164
It was my fault. I had scroll variable in global context :smile:

[2017-08-20 19:55] #164 closed

[2017-08-23 21:54] tchaffee opened #172 "Make the Quote Machine tests more deterministic"
#### Issue Description

The Quote Machine tests use an arbitrary timeout (currently 4 seconds) to wait for the initial quote and new quotes to load. On a slow network a Camper fetching from an API might see the test fails quite often. If there is a way to detect when the quote text changes without using an arbitrary timeout, that would be far better. To be clear, there should still be a timeout, b

[2017-08-26 21:47] #172 closed

[2017-08-27 08:21] tbushman commented on #30
@tchaffee I was looking into a way to include markdown in the mocha modal for the calculator test and will eventually submit a PR that customizes the mocha reporter and includes working anchors  hopefully.

[2017-08-30 15:03] tchaffee opened #178 "Markdown Previewer test refactor"
#### Issue Description
Refactor the Markdown Previewer tests to make sure all test descriptions are accurate and what's described is really being tested for. Either change the test description to be more accurate, or change or implement any needed tests to better reflect the test description.

#### Your Code / Link to Your Pen
The official example CodePen
https://codepen.io/freeCodeCamp/pen/GrZVVO

[2017-08-30 15:24] tchaffee opened #180 "Drum machine tests should pass ESLint"
#### Issue Description
The Drum Machine tests should be fixed to pass all ESLint checks. This should be mostly formatting and things like renaming variables to follow naming conventions. No changes to logic should be made.

#### Browser Information
N/A

#### Your Code / Link to Your Pen
The official example CodePen:
https://codepen.io/freeCodeCamp/pen/MJyNMd

[2017-08-31 13:45] tchaffee opened #182 "Bar Chart tests should pass ESLint"
#### Issue Description
The Bar Chart tests should be fixed to pass all ESLint checks. This should be mostly formatting and things like renaming variables to follow naming conventions. No changes to logic should be made.

#### Browser Information
N/A

#### Your Code / Link to Your Pen
The official example CodePen:
https://codepen.io/freeCodeCamp/pen/GrZVaM

[2017-08-31 15:02] tchaffee opened #184 "Scatter Plots tests should pass ESLint"
#### Issue Description
The Bar Chart tests should be fixed to pass all ESLint checks. This should be mostly formatting and things like renaming variables to follow naming conventions. No changes to logic should be made.

#### Browser Information
N/A

#### Your Code / Link to Your Pen
The official example CodePen:
https://codepen.io/freeCodeCamp/pen/bgpXyK

[2017-08-31 15:36] #178 closed

[2017-08-31 15:38] #180 closed

[2017-08-31 15:43] #184 closed

[2017-08-31 16:05] #182 closed

[2017-08-31 19:55] tchaffee opened #186 "Heatmap tests should pass ESLint."
#### Issue Description
The Heatmap tests should be fixed to pass all ESLint checks. This should be mostly formatting and things like renaming variables to follow naming conventions. No changes to logic should be made.

#### Browser Information
N/A

#### Your Code / Link to Your Pen
The official example CodePen:
https://codepen.io/freeCodeCamp/pen/JEXgeY

[2017-08-31 20:24] tchaffee opened #188 "D3 Choropleth tests should pass ESLint"
#### Issue Description
The D3 Choropleth Chart tests should be fixed to pass all ESLint checks. This should be mostly formatting and things like renaming variables to follow naming conventions. No changes to logic should be made.

#### Browser Information
N/A

#### Your Code / Link to Your Pen
The official example CodePen:
https://codepen.io/freeCodeCamp/pen/EZKqza

[2017-08-31 20:42] tchaffee opened #189 "D3 Treemap tests should pass ESLint"
#### Issue Description
The D3 Treemap tests should be fixed to pass all ESLint checks. This should be mostly formatting and things like renaming variables to follow naming conventions. No changes to logic should be made.

#### Browser Information
N/A

#### Your Code / Link to Your Pen
The official example CodePen:
https://codepen.io/freeCodeCamp/pen/KaNGNR

[2017-08-31 21:25] tchaffee opened #192 "globalD3Tests rename and pass ESLint"
- Rename the file from globalD3Tests.js to global-D3-tests.js to make the naming consistent throughout the project.
- Make sure the code in the file passes ESLint tests.

[2017-08-31 21:54] tchaffee opened #194 "mocha_CSS: rename file and fix ESLint warnings."
- Rename the file from mocha_CSS.js to mocha-CSS.js to make the naming consistent throughout the project.
- Make sure the code in the file passes ESLint tests.

[2017-08-31 22:02] tchaffee opened #195 "Find a better way to inject mocha CSS"
The mocha-CSS.js file contains a very long and ugly string with the mocha CSS. Not sure why it is done like this, but assume it needs to be dynamically injected or something like that. We should see if we can find a more maintainable way of doing this. Hopefully via a normal css file with a .css extension?

[2017-08-31 22:19] #186 closed

[2017-08-31 22:22] #188 closed

[2017-08-31 22:31] #189 closed

[2017-08-31 22:35] tbushman commented on #195
@tchaffee we can just use the test_suite_skeleton.js style section (existing). In my PR, I'm omitting mocha-CSS.js. If we omit markdown, then a custom mocha reporter shouldn't disrupt the test suite. I'll prepare that.

[2017-08-31 23:13] tchaffee commented on #195
I just looked and test_suite_skeleton.js is also one big ugly string of both CSS and HTML :-( I hope there is some way around that. There might not be, but it's worth looking into.

[2017-09-01 04:43] #194 closed

[2017-09-01 13:43] tchaffee opened #198 "test_suite_skeleton: rename and fix ESLint warnings."
- Rename test_suite_skeleton.js to test-suite-skeleton.js to follow our file naming convention.
- Fix ESLint warnings.

[2017-09-01 14:40] tchaffee opened #200 "Index file: fix ESLint warnings."
Fix the ESLint warnings in index.js.

[2017-09-01 14:42] tchaffee commented on #200
Waiting for PR #199 and PR #196 to be merged before working on this.

[2017-09-01 15:05] ktminks opened #201 "[Pomodoro clock] "before all" / "after all" hooks"
#### Issue Description

Pomodoro clock project: open blank template provided to fork from and run tests.
All tests fail but don't provide testing information, instead just giving 2 errors: "before all" hook and "after all" hook: TypeError: Cannot read property 'click' of null.
Tests run successfully on fork of provided example project until example's HTML and/or JS is deleted.

#### Browser Inform

[2017-09-01 16:29] tbushman commented on #201
@ktminks Thanks for reporting this. @tchaffee the error is occurring where chai is imported.
`Uncaught ReferenceError: __webpack_require__ is not defined`
I can look into this in a couple of hours, but I think other suites are affected.

[2017-09-01 17:31] tchaffee commented on #201
@tbushman I'm not sure this has to do with importing chai, even though that's where the error is. There seems to be something wrong with the bundle.js. When I rebuild the bundle.js locally everything works fine. I think there is just something wrong with the bundle. I'm going to push a PR that uses the rebuilt bundle.

[2017-09-01 18:31] tchaffee commented on #201
@ktminks There was a problem with the bundle we load from the CDN. It might take an hour or two to update, but if you want to continue working now, you can go to your CodePen settings, then the javascript tab, and find the following:

[code]

And change that to:

[code]

If you don't want to change that setting, you can just wait a couple of hours and it should start working again. Please re-open

[2017-09-01 18:41] tbushman commented on #201
@tchaffee Looks like two of the tests are not passing in pomodoro. I think it may be an issue with the mutation observer so I need to look into that later today.

[2017-09-01 22:44] tchaffee commented on #201
@tbushman Is that just for you locally? All of the Pomodoro tests pass for me on the offical sample Codepen.

[2017-09-02 02:13] #198 closed

[2017-09-02 02:44] tbushman commented on #201
It's been passing all tests now. I'm not sure what was up with that. :/

[2017-09-02 15:10] #192 closed

[2017-09-02 15:33] tchaffee opened #204 "Travis CI uses the CDN bundle and should use the local bundle.js"
The Travis CI build process doesn't specify a `global.bundleUrl` value in setup.js.travis file which means the testing will be carried out without changing the CodePen CDN for bundle.js. Meaning that the tests run against the existing bundle, instead of the changed new bundle. This needs to be fixed so the Travis CI tests tell us if the new bundle.js breaks things.

[2017-09-02 16:00] #204 closed

[2017-09-02 17:57] ktminks commented on #201
Hmm. I'm still getting the same issue. Blank template gives hook errors with both gitcdn and rawgit links. Tests run fine on official sample project but give hook errors if I delete its JS code.
Wasn't sure if it had something to do with ChromeOS, so I'm running on Win10 using the latest Chrome now.

[2017-09-02 18:07] tchaffee commented on #201
@ktminks There is one part of the JS that is essential:

[code]

Can you make sure you have at least those two lines and let us know if you are still getting the error?

[2017-09-02 18:09] tchaffee commented on #201
@ktminks I was able to reproduce the problem when forking the blank template. We will look into that.

[2017-09-02 18:21] ktminks commented on #201
Alright. I left those two lines on the example project and still get hook errors.
![untitled](https://user-images.githubusercontent.com/19628386/29997760-c8afde64-8fe9-11e7-9196-64960f2f7bbd.png)

[2017-09-02 18:45] tchaffee commented on #201
@ktminks I have a fix ready, I'm just waiting for @tbushman to review it and merge it. We will let you know.

In the meantime, I found another problem with our Pomodoro Clock tests. They don't play well with the alerts you are using if the user tries to click to the session time or break time below zero. You'll want to remove those alerts for now. I will see if we can fix the tests to work well wi

[2017-09-02 19:52] tchaffee commented on #201
@ktminks You can temporarily use this link in your javascript settings, but you'll have to remove the alerts first, and you definitely have to change your javascript settings back to using the official CDN bundle.js once we get the fix merged.

[code]

[2017-09-02 21:30] #200 closed

[2017-09-02 22:15] tchaffee opened #208 "Calculator and Pomodoro Clock tests: extract clickButtonsById and getElements."
These functions are common to both files and should be extracted to a module to eliminate duplicated code.

[2017-09-02 22:37] tchaffee commented on #201
For some reason gitcdn.link takes a very long time... you can use rawgit instead. They do the same thing and either one is fine to use permanently in your project. Rawgit already has the updates:

https://cdn.rawgit.com/freeCodeCamp/testable-projects-fcc/master/build/bundle.js

[2017-09-03 04:21] #208 closed

[2017-09-04 13:51] tchaffee opened #210 "ESLint fixes for automate-utils and others"
Most of the ESLint warnings have been eliminated and there are just a few files left with small fixes to be made. This issue covers those remaining files, which will all be fixed in one PR.

[2017-09-04 13:56] tchaffee opened #211 "Rename project_name variable to camel case in index.js so it passes ESLint, step 1."
All of the other ESLint warnings in index.js have been fixed, but renaming `project_name` requires that the example CodePens all be fixed. This will require some coordination, and a few steps:

1) Create a new variable `projectName` in index.js and change the logic so that it works with either `project_name` or `projectName`.
2) Change all the example CodePen projects to use `projectName`.
3) Elim

[2017-09-04 14:54] tchaffee commented on #201
@ktminks is this working for you now?

[2017-09-04 16:55] #210 closed

[2017-09-04 16:59] tchaffee opened #214 "Rename project_name variable to camel case in index.js so it passes ESLint, step 3"
All of the other ESLint warnings in index.js have been fixed, but renaming `project_name` requires that the example CodePens all be fixed. This will require some coordination, and a few steps:

1) Create a new variable `projectName` in index.js and change the logic so that it works with either `project_name` or `projectName`.
2) Change all the example CodePen projects to use `projectName`.
3) Elim

[2017-09-04 17:13] #211 closed

[2017-09-04 17:35] ktminks commented on #201
Yes. Hook errors are resolved ... Tests run on the blank template and on my project. Thank you for addressing this so quickly.
I've been trying to alter a previously built project to pass the tests, but 10 refuse to pass despite appropriate id's and the app behaving as described in the test. Errors are unhelpful, so I'm not sure if this is due to my design decisions or test errors.
Error: timeout

[2017-09-04 17:51] tchaffee commented on #201
@ktminks I am going to close this issue and please open another issue for the other project(s) you are having problems with. Thanks for reporting these errors so we can get the beta site working for everyone!

[2017-09-04 17:51] #201 closed

[2017-09-06 20:47] tchaffee opened #216 "Calculator tests: add tech stack requirements and clean up code"
Add the tech stack requirement to the calculator tests and if possible make any easy improvements to the logic to make the tests less brittle.

[2017-09-06 21:24] tchaffee opened #217 "Random Quote Machine example on CodePen sometimes fails the tests"
#### Issue Description
Both locally and on Travis CI, the Random Quote Machine Codepen sometimes fails the automated tests.

#### Browser Information
N/A

#### Your Code / Link to Your Pen
Official freeCodeCamp example pen:
https://codepen.io/freeCodeCamp/pen/qRZeGZ

[2017-09-06 21:33] tbushman commented on #217
@no-stack-dub-sack @QuincyLarson The Random Quote machine quote api gives the error: 'Too many requests. Please try again.'

[2017-09-11 22:23] QuincyLarson commented on #217
@tbushman @tchaffee Instead of using an API, we should just provide a JSON file with some quotes, and they can alternatively hard-code their own quotes. This will be more reliable, and simpler for campers than working with an API endpoint. What do you all think about this approach?

[2017-09-11 23:13] tbushman commented on #217
@QuincyLarson That would be fine and fulfill test requirements. The error is infrequent enough that it's not a huge issue, and usually we can re-run Travis and get it to pass when it does error. It's passing right now. Thanks!

[2017-09-12 03:34] QuincyLarson opened #218 "Update Random Quote Machine project to use JSON instead of an API"
Instead of using an API, we should just provide a JSON file with some quotes, and they can alternatively hard-code their own quotes. This will be more reliable, and simpler for campers than working with an API endpoint.

See discussion of this fix on https://github.com/freeCodeCamp/testable-projects-fcc/issues/217#issuecomment-328684702

[2017-09-12 03:35] QuincyLarson commented on #217
@tbushman Awesome! I've created a new issue for that and am closing this issue.

[2017-09-12 03:35] #217 closed

[2017-09-14 21:13] #195 closed

[2017-09-21 07:06] #160 closed

[2017-09-21 07:17] tbushman commented on #160
Thanks @jnmorse !!

[2017-09-24 05:30] jnmorse opened #222 "Markdown Project Tests Broken in React 15.6.1"
#### Issue Description

When using react and react-dom 15.6.1 the input event does not trigger with onChange. if you have onInput on the textarea then it works, but React will then complain that you have a value but no onChange defined.

I have yet to find an event that will trigger the onChange in React.

I first noticed while debating on creating an issue about testing for if the preview is an i

[2017-09-24 06:09] tbushman commented on #222
@jnmorse Thanks for reporting this. I'll keep looking into this, and in the meantime, your pen will pass with react and react-dom versions 15.5.0.

[2017-09-24 11:33] jnmorse commented on #222
@tbushman apparently I goofed when I posted this last night. I pasted the same URL for my project in the second link. I've updated it now.

[2017-09-24 16:33] tbushman commented on #222
@jnmorse OK. I have reproduced the error on both the official fCC codepen and yours when using the latest version of react. Thanks for reporting this.
@QuincyLarson @no-stack-dub-sack Please see this discussion, where the solution was to set `<form autoComplete=off>`: https://github.com/facebook/react/issues/10657

The react team is recommending the use of `componentWillReceiveProps` to trigger ev

[2017-09-26 04:05] tbushman commented on #222
@jnmorse Thanks for alerting to the textarea / input event triggering issue with the latest version of react. I've forked your Codepen to test against PR #223 and am trying to track what is causing the tests to fail, because your code works. I'm blocking the PR for now.

[2017-09-26 05:21] tbushman commented on #222
@jnmorse I believe that it might be either the method of mounting / rendering the iframe (within the Codepen iframe) or update prop conflicting with onChange in the Editor component that cause the tests not to pass. I haven't narrowed it down, but I made some modifications that passed the tests. Here is the diff between code after making some changes: http://www.diff-online.com/view/59c9e0a3435d0

[2017-09-26 06:04] jnmorse commented on #222
@tbushman I pulled in your changes and used it to add in some changes of my own. Now I don't know if the test should allow for an iframe output or not, but I worked out a way to get the tests to pass at least with my setup.  If you load my pen again and click run tests it will use my changes and all the tests pass.

https://github.com/jnmorse/testable-projects-fcc/commit/73e1bf0c997980a4e6b1409af3

[2017-09-26 06:52] tbushman commented on #222
@jnmorse Is there an advantage to rendering the preview element in an iframe in this project? It almost seems to complicate things unnecessarily.
I'll check the pen later. Looks like we broke Codepen. ;)

[2017-09-26 13:46] jnmorse commented on #222
@tbushman The advantage, at least to me, as it allowed me to use highlight.js, its stylesheet, and one that is suppose to help make the output a bit more like Github without my own styles conflicting.

[2017-09-27 00:17] tbushman commented on #222
@jnmorse OK, I will create an issue regarding a method for importing react components for testing because this is not the only case where the parts of projects that need testing are virtual at the moment of testing. In your case, simply giving the inner div an id='preview' didn't work on my end. I could not make it available for JS query. Unless you haven't tried that, you should submit a PR and l

[2017-09-27 03:11] tbushman opened #224 "possible import of framework components for testing"
#### Issue Description

In frameworks, it is sometimes the case that DOM elements from projects, when queried in the tests, return non-updated values due to their rendering lifecycles. The latest suggestions for testing components involve the import and mounting of those components. If a generic way of mounting components isn't available, it might be best to develop tests per framework (vue, react

[2017-09-27 13:34] jnmorse commented on #222
@tbushman Okay submitted pull request #225 which contains well a revised method of what I previously mentioned for grabbing the iframe content in my pen. As I mentioned in the pull request I did sneak another change in there to the option links tests, since I thought it was a bit misleading that it pass if there were other problems and no links were found.

I can also make that a separate pull req

[2017-09-27 16:14] bomholtm opened #227 "Product Landing Page test [#Content 5] issue"
#### Issue Description

Without having anything else added to my pen the test suite passes content test 5:
"When I click a .nav-link button in the nav element, I am taken to the corresponding section of the landing page.'"

#### Browser Information

* Browser Name, Version: Google Chrome Version 60.0.3112.113 (Official Build) (64-bit)
* Operating System: macOS Sierra 10.12.6
* Mobile, Desktop, or

[2017-09-28 00:17] tbushman commented on #227
@bomholtm Thanks for reporting this. Have a nice day. :)

[2017-09-28 00:30] tbushman commented on #222
@jnmorse OK, Thanks! I will wait until I can get another reviewer before any merges. Are you able to request a reviewer from your screen?
Also, the package-lock.json ... It's recommended that we check that in, but we may need yet another PR to initiate that, is my guess. We've been omitting it. Maybe bad.

[2017-09-28 01:09] jnmorse commented on #222
@tbushman Okay I have re-pushed those two pull requests removing the things mentioned.

[2017-09-28 01:54] jnmorse opened #229 "Markdown Links Test Pass If No Links"
#### Issue Description

Test 7 passes if your initial markdown contains no links, or if the test suite is unable to grab the preview content.

I feel this can be misleading. Since as someone is developing their project for this, they may think they already have an optional test done, only to find when they add a link to the initial text that it is suddenly failing.

If I remove all the code in the

[2017-09-29 12:15] jnmorse commented on #120
I don't know if this is something still being thought about. But since I noticed this and was curious about setting up my own eslint config that I could import. I tried it with the fcc rules. My first attempt generated errors in the freeCodeCamp code but turned out that was cause I was using different package version.

If I updated the eslint version to 4.7.2 then it runs and still produces errors

[2017-09-29 14:14] tbushman commented on #120
@jnmorse Yes, this is a coordination in progress. Please see issue #214.

[2017-09-29 16:00] jnmorse commented on #120
@tbushman I was refering more to the importing of the FCC rules.  The repo I linked contains all the rules as they are defined in the freeCodeCamp project, and the screenshots where just to show that it was working.  Long as the installed version of eslint was 4.7.2 and not 3.x.x  Course requires that the config repo is maintaned and kept up to date.

The easiest way to keep it maintaned of course

[2017-09-29 17:06] tbushman commented on #120
@jnmorse OK. A good strategy. @tchaffee will want to look into this.

[2017-09-29 19:10] tbushman commented on #229
@jnmorse Were you going to use the bit you had included initially in #225 in a new PR to address this issue? That was good.

[2017-09-29 19:42] jnmorse commented on #229
@tbushman yes I was planning on it. I just hadn't had much time and got too busy playing with other code bits I was trying. Was also debating on waiting to see if #225 was accepted or not. Think for now I'll just submit a pull request with the existing code.

Though in regards to that pull request, I noticed while one of the things I was playing with was the new `ReactDOM.createPortal` in React 16

[2017-09-29 20:12] tbushman commented on #229
@jnmorse Thanks for checking. As a rule we're trying to keep PRs addressing single issues, so that might want to be broken into two PRs. Not all reviewers are able to review or merge right now so these will queue up, fyi. Thank you.

[2017-09-29 20:16] jnmorse commented on #229
Okay, pull request has been made for this issue.

[2017-10-02 21:14] #227 closed

[2017-10-03 14:56] tchaffee commented on #120
@jnmorse We are already each locally using the eslint rules from the main FCC project and file by file we are getting rid of the warnings. If you can contact me on Skype (tchaffee2006), I'll give you a link to the spreadsheet that is tracking progress. There is really only one small change left that I'll try to get to in the next few days. Once that's done, we will add the eslint rules to the proj

[2017-10-03 14:58] #229 closed

[2017-10-03 21:25] jnmorse commented on #120
@tchaffee my comments were mainly directed at this

If FCC moved to having an importable eslint config, then it should be easy to make sure that the rules being used here are always the same as the ones being used elsewhere.  It seems to be fairly easy to make the config to be imported.

If campers wanted they could also import those rules into their own projects that way without copying the .esli

[2017-10-04 14:18] tchaffee opened #231 "Fix .babelrc file to use 'env' instead of 'es2015'"
In PR #226 we started using babel-preset-env instead of bable-preset-es2015. But we missed the .bablerc file, which needs to be changed too.

@jnmorse Do you have time to submit a PR for this?

[2017-10-04 14:27] jnmorse commented on #231
@tchaffee Am I missing something here? There does not appear to be a .babelrc file. Rather than the file, there is this in the webpack configs which I did switch to 'env' under the babel-loader

[code]

running `npm run build` still, builds on my end? I can certainly add a .babelrc file if needed though.

[2017-10-04 16:31] tchaffee commented on #231
@jnmorse It's a new file in my branch only! :-) Sorry about that. Closing.

[2017-10-04 16:31] #231 closed

[2017-10-04 16:48] tchaffee commented on #120
@jnmorse Thanks for the explanation. It all makes more sense now. I like the idea of importing the FCC eslint config, so it would be great if you could make a PR for that specifically with no additional functionality other than importing.

Concerning the eslint-find-rules, that seems like extra functionality? It's not 100% clear to me what it does, but unless it's needed for importing the FCC esli

[2017-10-05 01:06] jnmorse opened #232 "Having FCC Eslint Rules Be Importable"
In Issue [120](https://github.com/freeCodeCamp/testable-projects-fcc/issues/120) of testable-projects-fcc, I was discussing having an importable eslint config. This would require a separate repository to be set up for it.

I created a repository here https://github.com/jnmorse/eslint-config-fcc that does include the fcc rules and can be installed as a dev package to serve as an example. This packa

[2017-10-05 12:10] tchaffee commented on #232
@jnmorse Thanks for opening a separate issue. I think we should break this down further into two separate issues? As I understand it, there are two goals?

1) Create a shareable eslint config that could be shared between all freeCodeCamp projects so any changes are reflected in all projects. Campers could also include it in their projects if they wanted.

2) Once that is finished we could discuss

[2017-10-05 12:33] jnmorse commented on #232
@tchaffee Okay, I edited the issues to remove the references to what tooling I used in the repo and just left the link to the repo I made for example purposes.

[2017-10-05 12:41] tchaffee commented on #232
@jnmorse Thanks. What would be the next steps to implement this? Does FCC need to publish a package to npm, or could it be done with a new FCC repo on github first?

[2017-10-05 12:59] jnmorse commented on #232
@tchaffee It could be done via a repo to start with. Though publishing it npm would make it much easier to work with.

To install it from a repo as you'd do `npm i -D user/eslint-config-fcc` where "user" is the account its on, for instance `freeCodeCamp/eslint-config-fcc`. see [npm-install documentation](https://docs.npmjs.com/cli/install) for more info

[2017-10-05 13:36] tchaffee commented on #232
@jnmorse That sounds good. Let's start with that and see what Quincy and the rest of the team think about it. IMO, it's a big improvement over maintaining separate files for each project. I'm going to continue the discussion over at the issue on the main project.

[2017-10-07 03:55] #222 closed

[2017-10-08 16:42] #214 closed

[2017-10-09 13:57] tchaffee opened #234 "Heatmap data values test does not detect wrong values if they are string"
#### Issue Description
Test 8 for the D3 Heat Map is supposed to ensure that the data-month attribute has values between 0 and 11 and it does not always do this. If the data-month attribute has a string value ('January' for example), the test will still pass. The test should be fixed to determine if the data values are numeric, and to fail if they are not.

The code can be fixed by adding a isNaN

[2017-10-10 02:20] #120 closed

[2017-10-14 15:17] jnmorse opened #241 "Heat Map Assertions"
#### Issue Description

When looking into the issue #234 I was looking at the code and noticed the line in test number 8

[code]

The only assertions I think that would be necessary here is the one that checks if cells exist, which ensures that the test will fail if there are no cells, and the loops to check values.

The previous test 7 is already checking if the properties exist, and this test wi

[2017-10-14 20:11] tbushman commented on #241
@jnmorse This is a good approach. The assertion error stack detail provides is clear that .cell elements are missing. I think it would be ok to implement this approach with your open PR.

[2017-10-15 19:50] tchaffee commented on #241
@jnmore @tbushman I always prefer small focused PRs because if we have to reverse one for some reason and unrelated code is in the same PR then it gets messy. You end up having to reverse the PR but create a new PR to re-implement the part that's not broken.

[2017-10-16 13:54] tchaffee commented on #241
@jnmorse PR #240 looks good to me. I'm just having a problem with getting the tests to pass. Seems like CodePen is being fussy lately with timeouts. I will look closer at that when I get a chance.

I like the approach of having a dedicated test rather than using beforeEach. It's better if the camper can see the requirement along with all the other requirements.

[2017-10-16 18:05] #234 closed

[2017-10-16 20:12] tchaffee opened #242 "Pomodoro Clock tests: add tech stack requirements and clean up code"
#### Issue Description
This is Phase II of improving all the tests in this project. The following needs to be completed for each test suite:
- Add the tech stack requirements. See the Drum Machine tests for an example of a tech stack. Note that the tech stack will differ between the Front End Library assignments and the Data Visualization assignments.
- Make sure every test is accurate. Sometimes

[2017-10-16 20:15] tchaffee opened #243 "Bar Chart tests: add tech stack requirements and clean up code"
#### Issue Description
This is Phase II of improving all the tests in this project. The following needs to be completed for each test suite:
- Add the tech stack requirements. See the Drum Machine tests for an example of a tech stack. Note that the tech stack will differ between the Front End Library assignments and the Data Visualization assignments.
- Make sure every test is accurate. Sometimes

[2017-10-16 20:16] tchaffee opened #244 "Scatterplot tests: add tech stack requirements and clean up code"
#### Issue Description
This is Phase II of improving all the tests in this project. The following needs to be completed for each test suite:
- Add the tech stack requirements. See the Drum Machine tests for an example of a tech stack. Note that the tech stack will differ between the Front End Library assignments and the Data Visualization assignments.
- Make sure every test is accurate. Sometimes

[2017-10-16 20:16] tchaffee opened #245 "Heat Map tests: add tech stack requirements and clean up code"
#### Issue Description
This is Phase II of improving all the tests in this project. The following needs to be completed for each test suite:
- Add the tech stack requirements. See the Drum Machine tests for an example of a tech stack. Note that the tech stack will differ between the Front End Library assignments and the Data Visualization assignments.
- Make sure every test is accurate. Sometimes

[2017-10-16 20:17] tchaffee opened #246 "Choropleth tests: add tech stack requirements and clean up code"
#### Issue Description
This is Phase II of improving all the tests in this project. The following needs to be completed for each test suite:
- Add the tech stack requirements. See the Drum Machine tests for an example of a tech stack. Note that the tech stack will differ between the Front End Library assignments and the Data Visualization assignments.
- Make sure every test is accurate. Sometimes

[2017-10-16 20:18] tchaffee opened #247 "Treemap Diagram tests: add tech stack requirements and clean up code"
#### Issue Description
This is Phase II of improving all the tests in this project. The following needs to be completed for each test suite:
- Add the tech stack requirements. See the Drum Machine tests for an example of a tech stack. Note that the tech stack will differ between the Front End Library assignments and the Data Visualization assignments.
- Make sure every test is accurate. Sometimes

[2017-10-16 23:23] #216 closed

[2017-10-19 21:38] #242 closed

[2017-10-20 12:20] #244 closed

[2017-10-23 18:13] ddcornwall opened #252 "Portfolio Project Example missing images - Suggesting new example"
#### Issue Description

I wanted to point out that the example you use for the personal portfolio project - (https://codepen.io/freeCodeCamp/full/YqLyXB), has ongoing issues with its images. Looking through the forum I see there were a number of forum posts in 2016 reporting this issue and it seemed intermittent. But since it’s still having issues after a year I, I’d like to suggest posting an alt

[2017-10-23 20:10] tbushman commented on #252
That is a really neat site. You can add the automatic test code to your scripts and ensure the tests pass: `https://gitcdn.link/repo/freeCodeCamp/testable-projects-fcc/master/build/bundle.js`.

The images in https://codepen.io/ItamarRosenblum/full/eGozMa/ are hosted on postimg.org.

This is the pen for the testable projects Portfolio page: https://codepen.io/freeCodeCamp/pen/zNBOYG. It's images ar

[2017-10-24 21:29] QuincyLarson commented on #252
@ddcornwall Yes - as @tbushman mentioned, we are hosting images on GitHub for these new projects. All of the projects on www.freecodecamp.org and their examples will be replaced once we launch beta.freecodecamp.org as the replacement curriculum.

[2017-10-24 21:29] #252 closed

[2017-10-27 20:57] aaronRhodebeck opened #253 "Javascript Calculator decimal point tests fail when display does not show trailing zero"
#### Issue Description

In test # 11 for the Javascript Calculator --*When the decimal element is clicked, a . should append to the currently displayed value; two. .s should not be accepted".
The test requires the display to read "5.0" when pressing `5`, `.`, `.`, `0`.  Anyone displaying a number instead of a string will fail the test due to removal of the insignificant 0.
I recommend changing the

[2017-10-28 05:49] tbushman commented on #253
@aaronRhodebeck When you want to type '5.01', does an intermediary '5.0' appear in your calculator window before typing the trailing '1'? The trailing '0' when typing '5.0' is expected behavior for a calculator.

[2017-11-23 15:04] tchaffee commented on #253
I'm closing this because I agree with @tbushman that this is expected behavior for a calculator. Typing "5.0" should display both the dot and the zero. That's what all calculators do. If we are wrong about this, or you would like to discuss more, please feel free to re-open the issue.

[2017-11-23 15:04] #253 closed

[2017-12-07 20:14] #232 closed

[2017-12-12 22:10] #246 closed

[2017-12-14 02:16] #247 closed

[2017-12-15 03:27] #245 closed

[2017-12-15 22:41] Alexever17 opened #261 "triggers a 404 in codepen after running the portfolio test"
#### Issue Description
As soon as i click run test, after adding the id="navbar" it crashes
exactly on this line, not on id="navba" or something else

and it also opens my github profile page 2 times.

feel free to contact me on github if necessery

#### Browser Information

* Chrome: Version 63.0.3239.84 (Official Build) (64-Bit)
* Operating System:  Windows 10 on a 2017 Surface Pro Tablet if rel

[2017-12-16 06:40] tbushman commented on #261
Hello. Codepen is blocking your window.open directives as popups. You might have better results using a Bootstrap modal and iFrame with src=`${database[category]}` or similar ...

[2017-12-16 11:03] Alexever17 commented on #261
Thank a lot for the answer @tbushman!

[2017-12-17 13:54] #261 closed

[2017-12-17 14:20] tchaffee commented on #241
Closing because this is outdated. If you still think this issue is relevant, please feel free to reopen it.

[2017-12-17 14:20] #241 closed

[2017-12-17 14:21] tchaffee commented on #61
Closing because this is outdated. We will address cross-browser support in an upcoming phase.

[2017-12-17 14:21] #61 closed

[2017-12-17 14:23] tchaffee commented on #63
Closing because this is outdated. For now we only support Chrome. We will look at supporting other browsers in an upcoming phase.

[2017-12-17 14:23] #63 closed

[2017-12-17 14:23] tchaffee commented on #65
Closing because this is outdated. For now we only support Chrome. We will look at supporting other browsers in an upcoming phase.

[2017-12-17 14:23] #65 closed

[2017-12-17 14:27] tchaffee commented on #103
Closing this because we have slightly changed our approach: rather than trying to support every single CSS package and every framework, we give Campers a recommended list of packages we support. We will look at adding the most popular frameworks like Vue and Angular, and even other major browsers. But beyond that we need to limit what we support in order to keep things maintainable.

[2017-12-17 14:27] #103 closed

[2017-12-17 16:02] tchaffee commented on #218
How can we get the JSON file to the Campers in a way that isn't confusing? Could we use a gist that declares a variable for them and they can just copy paste into their code? Something like this but assigned to a variable name? https://gist.github.com/nasrulhazim/54b659e43b1035215cd0ba1d4577ee80

[2017-12-18 18:55] tchaffee commented on #30
This does work, but it's not intuitive how it works. In order to see it working, you need to press our "Run Tests" button again, after which you'll see just that one test run. Unfortunately there is then no way to re-run all of the tests without refreshing the page.

What's happening is that the mocha arrows / buttons just execute `mocha.run()`. However our test runner does `mocha.run()` along wit

[2017-12-18 20:01] tbushman commented on #30
@tchaffee I can re-visit the Mocha custom reporter next. My branch, https://github.com/tbushman/testable-projects-fcc/tree/fix/mocha_reporter, shows a work-in-progress, mainly inside src/index.js.

[2017-12-19 14:14] tchaffee commented on #30
@tbushman I'll leave this to you then. I wouldn't much more than a few hours getting those arrow buttons to work though. I just don't think they are very useful. If someone wants to make the case that they are an important feature, I'm open to hearing about that.

[2017-12-19 18:11] QuincyLarson commented on #103
@tchaffee Sounds good! Thanks for updating this with those details and closing it.

[2017-12-19 18:15] QuincyLarson commented on #218
@tchaffee Great idea. Yes. I've forked this gist to freeCodeCamp. Here's the link: https://gist.github.com/camperbot/5a022b72e96c4c9585c32bf6a75f62d9

Would you be interested in updating the example app? Instead of copy/pasting this, could the example declare a variable using this JSON remotely? That would look a lot cleaner in the code.

[2017-12-19 18:18] QuincyLarson commented on #30
@no-stack-dub-sack @tchaffee  Awesome - thanks for surfacing this issue.

@tbushman thanks for helping tackle this. We will defer to you.

We are going to start sending a lot of traffic to beta - hopefully in the next 24 hours. Thanks to help from a ton of contributors like you all, we are on schedule for shipping beta by Christmas!

[2017-12-19 18:32] tchaffee commented on #218
@QuincyLarson I was thinking the Camper could just copy / paste from the gist, but I will see if it's possible to grab the JSON directly from the gist. I think it might be possible using the rawgit CDN. If so, I'll update the example app.

[2017-12-19 20:53] tchaffee commented on #218
This is fixed in the official example CodePen to use the newly created gist. I made a backup here in case there are any problems: https://codepen.io/freeCodeCamp/pen/bapjJP

[2017-12-19 20:53] #218 closed

[2017-12-20 06:43] QuincyLarson commented on #218
@tchaffee Wow - you work fast! That's great! Thanks for figuring this out and implementing it!

[2017-12-21 17:20] #30 closed

[2017-12-22 23:40] #243 closed

[2017-12-23 21:50] no-stack-dub-sack commented on #30
@tchaffee @tbushman nice! Glad this one was finally resolved. Everything is looking in awesome shape thanks to you guys!

[2017-12-27 02:07] iabrenne opened #267 "Markdown Previewer list item test fails when using a * (asterisk) or + (plus sign) as a list marker"
#### Issue Description

When using either asterisk, plus sign or a minus sign to mark a list item, it gets correctly interpreted as \<li>  in the rendered html.

However, tests are failing on asterisk and plus signs. They are passing as expected on a minus.

If you guys confirm this is a bug, I would love to work on a fix. This would be my first contribution to open  source   :smile_cat:

#### You

[2017-12-27 03:01] tbushman commented on #267
@iabrenne Thank you for catching this. The (*) and (-) are indeed missing from the regex in test 5! If you wish you may submit a pull request. Let us know what you decide. Happy holidays.

[2017-12-27 05:34] iabrenne commented on #267
@tbushman Yes, I would love to give it a try. Happy Holidays to you too!

[2017-12-28 11:40] tchaffee commented on #267
@iabrenne Regex is a pain to verify that you got it just right. This online regex tester might help. https://regex101.com/

[2017-12-28 16:49] iabrenne commented on #267
@tchaffee Thank you for the link to the regex tester. It was very helpful.

I ran against 5 test strings through the tool - regex appears to be working as expected.

![image](https://user-images.githubusercontent.com/24214306/34417169-a5678086-ebbc-11e7-88c9-3c8ae1054404.png)

Link to the tests : https://regex101.com/r/HhjC8A/1/tests

[2017-12-28 19:31] tbushman commented on #267
@iabrenne Indeed it does. @tchaffee , did you see a problem with it?

[2017-12-29 02:36] #267 closed

[2018-01-07 02:09] slamoureux opened #269 "Buttons move with the button css selector"
#### Issue Description

In codepen if you do something like:

button {
margin-left: 100px;
}

it will move the buttons over 100px in the test suite buttons.

#### Browser Information

* Browser Name, Version: Chromium 63
* Operating System: Linux Mint 18.3
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

![test1](https://user-images.githubuserconte

[2018-01-07 02:39] tbushman commented on #269
@slamoureux Thank you very much for reporting this. !!

[2018-01-15 13:56] arhillis opened #271 "Landing Page Video Issue"
#### Issue Description

I am currently working on the landing page for the Responsive Web Design Certificate. Whenever I run the tests, test 12 always fails, mentioning the "scr" attribute. I have a feeling it should be 'src', but I'm not sure.

#### Browser Information

* Browser Name, Version: Mozilla Firefox v. 57.0.4
* Operating System: Windows 10 Creator Update
* Mobile, Desktop, or Tablet: D

[2018-01-15 17:01] arhillis commented on #271
Never mind. Fixed the issue.

[2018-01-15 17:01] #271 closed

[2018-01-15 17:10] tbushman commented on #271
@arhillis thanks for bringing the typo to our attention, though :)

[2018-01-16 09:31] Knochenmark opened #272 "Use collapsed state by default"
#### Issue Description
It is super annoying that the test suite thing overlaps while you are actually writing code, but not testing anything. Every reload will expand the test suite again when you collapsed it by hand. Therefor i suggest to set the collapsed state to collapsed by default or at least add a checkbox that can be toggled to do so.
Store the state in localStorage for example, thats tot

[2018-01-16 10:30] Knochenmark opened #273 "Barchart testcase 11 should output actual comparison values"
#### Issue Description

The testcase 11 for the bar chart only outputs the following when the test fails:
`AssertionError: y values don't line up with y locations : expected false to be true`

It is not helpful at all that the testcase outputs exspected false to be true, instead the actual y values and y location values should be in the description. The test case is still failing for me and I have

[2018-01-16 14:19] tbushman commented on #273
@knochenmark A pull-request is pending to address this problem. Thank you for your patience.

[2018-01-16 14:25] tbushman commented on #272
Agreed.

[2018-01-17 07:06] Knochenmark commented on #272
@tbushman Thanks, good stuff :+1: Real quality of life change

[2018-01-17 09:10] AdityaOli opened #275 "Issue with "Use the JavaScript Console" test case."
#### Issue Description

In the Use the Javascript Console tutorial, the input accepts and string in the test case whereas it should accept only 'Hello world!'.

#### Browser Information

* Browser Name, Version: Google Chrome, 56.0.2924.76 (64-bit)
* Operating System: Windows 7
* Mobile, Desktop, or Tablet: Desktop

#### Explanation

The correct acceptable answer should have been:
[code]
But:
[cod

[2018-01-17 18:57] tbushman commented on #275
@AdityaOli The test asserts whether you have used the console.log() code only.
[code]

[2018-01-17 18:58] tbushman commented on #275
Closing because this issue would have to be submitted to the main repo.

[2018-01-17 18:58] #275 closed

[2018-01-18 23:08] tbushman commented on #273
@Knochenmark Your bar chart has no misaligned elements. Once the new alignment test PR is merged, your chart will pass all tests. In the future, we may have more detailed stacktraces / error reporting, but for now I will let this issue be closed with that merge. Thanks!

[2018-01-19 09:46] Knochenmark opened #276 "[Proposal] Consistently use data-attributes as test hooks instead of id's"
#### Proposal
I think it would be better to consistently use data-attributes for the testcase hooks instead of IDs.
Well, mostly the testcases are a mix of data-attributes and IDs, i.e. inconsistent.

Some advantages:
First of all data-attributes shouldnt break someones styles, when they would decided to use a different ID selector for their elements. They are easier to add or modify afterwards to

[2018-01-20 12:49] tchaffee opened #277 "Find a replacement for the serve-https npm package."
The [serve-https package](https://www.npmjs.com/package/serve-https) helps us run automated tests in the development environment by serving web pages over https. Usually that requires setting up certificates and a lot of other work, but the package just does everything for us. Unfortunately they do not host the package on github and their git servers keep going down, causing our automated build to

[2018-01-20 17:33] tchaffee commented on #276
This sounds like a good idea to me. @Knochenmark would you want to take this on yourself?

[2018-01-20 18:12] Knochenmark commented on #276
I might give it a shot tomorrow :)

[2018-01-21 10:52] Knochenmark commented on #276
Hey, I have issues running the npm install the daplie package is deperecated and the page is not responding. Is this known? Any solutions?

`
$ npm install
npm WARN deprecated localhost.daplie.me-certificates@1.3.5: this package has been deprecated
npm ERR! Error while executing:
npm ERR! C:\Program Files\Git\mingw64\bin\git.EXE ls-remote -h -t https://git.daplie.com/OAuth3/oauth3-cli.git
npm ERR!

[2018-01-21 17:30] tchaffee commented on #276
Yes, we are having problems with that package. I reported it to them, and I opened issue #277 to see if you can find a more reliable replacement.

[2018-01-21 17:49] tchaffee commented on #276
I am trying to think of a way that you could perform local testing without that package, but I'm not sure you can. I'll keep you up to date with Daplie's response. Hopefully they can get this fixed by tomorrow when they come back to work. If not, I'll accelerate my search for a replacement.

[2018-01-21 20:41] tchaffee commented on #276
Thinking about this suggestion a little more, one thing we have to keep in mind is that it actually might be a requirement that a div have a specific id. In which case, I don't think it's so bad that we have a test that reads `I can see a title element that has a corresponding id="title"`. @Knochenmark What are your thoughts on this? Can you give some examples of how the test narrative would chang

[2018-01-22 04:52] tbushman commented on #276
@Knochenmark , do you mean data-attributes for the test suite window or for student projects? The former would be simpler if the intent is to enclose the test suite ui...

[2018-01-22 06:41] Knochenmark commented on #276
@tbushman I dont think the button issue is related as far I can tell. You could add data-attributes as hooks there too to style the suite window if you wanted. The main reason though is that the selector for the button is not specific enough I guess. I know that bootstrap is using a lot of `!important` statements for their styles.

What I meant is that it would probably a better idea to use data-a

[2018-01-22 15:29] tchaffee commented on #276
Good article, thanks.

That would be what I've seen as suggested best practice when writing *normal* tests. My hesitation with this for these projects is we aren't teaching Campers how to write good tests. We are teaching Campers best practice about HTML and CSS and to use the id and class attributes. So my guess is that our requirements (in the form of these tests) should talk about ids and class

[2018-01-22 23:14] QuincyLarson commented on #276
@Knochenmark I agree that this is a great practice for writing better tests, and codebases that you plan to refactor.

This said, these projects are probably as close as a developer can get to code they don't plan to maintain. So the arguments in favor of refactorability lose a lot of their gravity here.

So I agree with @tchaffee here. In a perfect world, I'd say it'd be good to teach them this p

[2018-01-22 23:14] #276 closed

[2018-01-23 15:15] #273 closed

[2018-01-24 03:45] arhillis opened #278 "Portfolio Project Test #7"
#### Issue Description

Whenever I run tests for my porfolio site, test #7 always fails, even though I do have a link to another section of the page.

#### Browser Information

* Browser Name, Version:  Mozilla Firefox
* Operating System: Windows 10, Creator Edition
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]
https://codepen.io/arhillis/pen/ppOzbQ

#### Screens

[2018-01-24 05:28] tbushman commented on #278
Thanks @arhillis . Your pen should pass. One problem is the github link -- the scroll test clicks anchors within the navbar, of which `a#profile-link` is one. But the scroll test should otherwise pass. Looking into this.

[2018-01-24 13:09] sfiquet opened #280 "Product Landing Page navbar test passes when there is no navbar"
#### Issue Description

- Fork the CodePen test pen
- select test suite for Product Landing Page
- run tests - Content 1 fails
- add a header with id to pass the test (see below)
- run tests - Content 1 passes but also Layout 1 "1. The navbar should always be at the top of the viewport."

#### Browser Information

* Browser Name, Version: Google Chrome Canari, Version 66.0.3329.1 (Official Build)

[2018-01-25 13:02] arhillis commented on #278
Just to let you know that the pen passed in Chrome, but not Firefox.

[2018-02-01 18:01] sfiquet commented on #278
I encountered this problem on Chrome when all the content fits in the window (my process is to go through the test suite and make the tests pass, then transform the project into something decent). When you click on the navbar links there is no scrolling, which is normal behaviour, but the test doesn't allow for that. I got around it by resizing the window and adding more content.

[2018-02-01 19:30] sfiquet opened #281 "Portfolio layout test #1"
#### Issue Description

I get a security error for layout test 1 when using my own CSS file (see screenshot).

While I was going through the Content tests in my portfolio project, I added a link to Bootstrap 4, which didn't cause the security error and actually made the test pass because of Bootstrap's media queries. When I added my own stylesheet at a later stage, the security error occurred.

Th

[2018-02-01 20:55] tchaffee opened #282 "Temporarily use github repo instead of npm for serve-https"
#### Issue Description
Per the Daplie team who provides the npm serve-https package, they are having problems with their servers and we should use the github servers instead:  `git+https://github.com/Daplie/serve-https.git`. When they fix the npm package problems we can revert this change.

[2018-02-01 20:57] tchaffee commented on #282
@tbushman I tried to do this locally, but all my tests are failing saying `TimeoutError: Waiting for element to be located By(css selector, *[id="fcc_test_message-box-rerun-button"]`. This is kind strange because the serve-https package should have no effect on that. Any ideas on what might be causing that issue? I can't find any recent commits that might cause this. Are the tests passing for you

[2018-02-01 23:04] tchaffee commented on #282
@tbushman I finally got it mostly working. There are some new bugs - one in the latest version of the Chrome browser, and another possibly with CodePen or Selenium. AND someone deleted the JavaScript from the official Random Quote Machine pen! :-( When it rains, it pours. Well I've got everything fixed except the Random Quote Machine. I opened an issue for that over on the freeCodeCamp repo. https

[2018-02-01 23:21] tbushman commented on #282
@tchaffee OK! Thanks for all this. And yes, the old npm serve-https was working locally, just not on Travis.

[2018-02-01 23:24] tchaffee commented on #282
@tbushman When was last time all of the tests passed for you locally? That might help us pinpoint when the Random Quote Machine JavaScript got clobbered. I'm probably going to have to re-write that from memory :-(

[2018-02-02 15:22] tbushman commented on #282
Hi Todd, sorry I didn't send this sooner. I have the JS.
[index.zip](https://github.com/freeCodeCamp/testable-projects-fcc/files/1689817/index.zip)

[2018-02-02 15:50] tchaffee commented on #282
@tbushman Thanks for the ZIP file. That has the older version, where it's getting the quotes from https://andruxnet-random-famous-quotes.p.mashape.com. I recently changed it to get quotes from our own gist. Per issue #218. You don't happen to have that most recent code? Anything after Dec. 20th should work.

[2018-02-02 22:12] tbushman commented on #282
@tchaffee Sorry, that's the only one I had.

[2018-02-04 12:01] Syknapse opened #284 "Get a hint button not working"
#### Issue Description
+ Click on any item from Map menu (tested several randomly)
+ Click on the <kbd>Get a hint</kbd> button
+ Results in a 404 message

#### Browser Information
* Browser Name, Version: Chrome  63.0.3239.132
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Desktop

#### Screenshot

![image](https://user-images.githubusercontent.com/29199184/35777247-dfe59598-09aa-11e

[2018-02-22 06:37] KarthikKadambi opened #285 "Not checking html tags properly in test"
#### Issue Description

use the del tag to strikethrough text doesnt actually validate the second test condition.
I added the code as <h4><del>Google</del>< Alphabet /h4> and it worked.

#### Browser Information

* Browser Name, Version: Chrome
* Operating System: Mac 10.13.3
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

<img width="1440" alt="s

[2018-02-23 15:02] tchaffee commented on #285
Hi @KarthikKadambi. Thank you for submitting this bug. Could you please report this at the main freeCodeCamp repo? This is a bug in the challenges and not with the code in this repo. Here is the main repo https://github.com/freeCodeCamp/freeCodeCamp

Thanks!

[2018-02-25 13:34] tsacinim opened #286 "tests break the functionality of the page"
#### Issue Description

Running the tests removes the editor content. Afterwards, the functionality is also lost.

To reproduce:
1. select 'markdown previewer' test suite
2. click 'run tests' button
3. insert text in the 'editor' field (the preview is not updated)

#### Browser Information

* Browser Name, Version: Chromium, 64.0.3282.167
* Operating System: Ubuntu
* Mobile, Desktop, or Tablet: De

[2018-02-25 16:52] tbushman commented on #286
Thanks @tsacinim. Can you also share which version of react you are using?
@tchaffee In a previous PR (#223), I added a line to configure the textarea element so that the latest versions of react can accept editor.dispatchEvent. This bug comes from that. I'll be looking into this. Sorrry.
For reference, here is the problem discussed on react: https://github.com/facebook/react/issues/10135
And this

[2018-02-25 17:31] tsacinim commented on #286
The version of React used is 15.6.1 (this is the version added at the moment by default in codepen, also for this version dispatchEvent is reported as not working in the react issue linked). The official codepen uses React 15.3.1 (for which the dispachEvent is reported as working).

[2018-02-25 18:10] tbushman commented on #286
Exactly. #223 polyfills dispatchEvent for react 15.6.1, but apparently creates this new issue. Thanks for reporting.

[2018-02-25 23:57] #286 closed

[2018-02-26 12:57] LizzieM2003 opened #288 "Markdown previewer test 6"
#### Issue Description

For the test "When my markdown previewer first loads, the default markdown in the #editor field should be rendered as HTML in the #preview element", if it doesn't find an h1 in the markdown prefixed with a # or a h2 in the markdown prefixed with a ## it throws an error. However in markdown you can specify h1s as:
Heading
======

and h2s as:
Sub-heading
-------

without the

[2018-02-26 18:58] tchaffee commented on #288
@LizzieM2003 Thank you for reporting this. We will look into it as soon as we can.

[2018-03-06 03:51] tbushman commented on #269
I still want to try loading the Mocha modal along with the rest of the test ui into an iframe. There may be a more straightforward way to avoid style conflicts via CSS naming, but here are things tried so far:
- Forcing fCC styles to load last via webpack
    ...
- ShadowDOM
- iframe
    ...

Still looking into this...

[2018-03-07 11:14] Jefreesujit opened #290 "http://c9.io is no more freely accessible"
Hi,

I just started with the backend development certification, and it requires an account in c9. Since c9 is acquired by AWS now, it requires users to have an aws account (Paid Service). It will be nice if FreeCodeCamp comes up with a better alternative for c9, so that it will be easier for users to get started easily.

[2018-03-07 11:28] #290 closed

[2018-03-09 15:00] charlottejoy opened #291 "Technical Documentation- Matching Nav-Link and Header text not passing test 12"
#### Issue Description

Can't get test 12 to pass, but seems it meets the requirements. Maybe I'm missing something.
It passed when I was first working on this, but at some point, it stopped passing. Sorry, I don't know which change did it.

Things I've tried:
- Forked the test suite again and copied my code.
- Removed the div surrounding the nav-links
- Removed the H2 surrounding the header text

[2018-03-10 18:45] tbushman commented on #291
@charlottejoy Thanks for reporting this. I have reproduced the error and am looking into it.

[2018-03-10 19:35] tbushman commented on #284
@Syknapse Hi, if this is still an issue, please submit it to the main repo: https://github.com/freeCodeCamp/freeCodeCamp

[2018-03-10 19:37] tbushman commented on #281
@sfiquet Are you still receiving this error?

[2018-03-10 21:18] #284 closed

[2018-03-11 12:55] harunpehlivan opened #293 "testable-projects-fcc"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-03-11 16:03] sfiquet commented on #281
No, the security error is gone.

However if I add a media query it's not recognised: Layout test 1 fails - but that's a different issue.

[2018-03-11 16:08] charlottejoy commented on #291
@tbushman Thank you. Very much appreciated.

[2018-03-12 16:19] tchaffee commented on #290
@Jefreesujit Thanks for reporting this. Could you please report it on the main repository at https://github.com/freeCodeCamp/freeCodeCamp? This repository only concerns the testable projects. Thanks!

[2018-03-16 13:36] charlottejoy opened #295 "Scroll-behavior: smooth causes navbar link test to fail"
#### Issue Description
Test 11 of the portfolio project wasn't passing anymore.
I realized that it passes if I remove the scroll-behavior: smooth that I had added.

#### Browser Information
* Browser Name, Version: Google Chrome, Version 65.0.3325.146 (Official Build) (64-bit)
* Operating System: Windows 10 home
* Mobile, Desktop, or Tablet: Laptop

#### Your Code / Link to Your Pen
https://codepe

[2018-03-18 01:15] tbushman commented on #295
@charlottejoy I'm stumped on this one. I thought it might be a problem with designating scroll-behavior on `<html>`. This error has been reproduced with scroll-behavior: smooth on a wrapping div as well. I've tried adding a setTimeout and using a callback for each anchor click in test 7 to see if maybe the smooth-scroll delays the position reading...

[2018-03-20 14:42] #281 closed

[2018-03-20 14:42] #293 closed

[2018-03-20 22:40] #295 closed

[2018-03-20 23:45] tchaffee commented on #295
@charlottejoy This is fixed now. Could you please test it and make sure it works with your CodePen. Thanks!

[2018-03-21 02:19] #272 closed

[2018-03-21 11:49] charlottejoy commented on #295
Just tested it on the same setup as above and it works. Yay! Thank you very much people :-)

[2018-03-21 15:57] #291 closed

[2018-03-21 15:58] #288 closed

[2018-03-22 18:52] ArielLeslie opened #297 "testable-projects-fcc has been blacklisted"
#### Issue Description
Users are not able to test their projects in CodePen because importing the external resource fails with a 403.

Just for funsies I tried browsing to https://gitcdn.link/repo/freeCodeCamp/testable-projects-fcc/master/build/bundle.js which gave me the following message:
"Forbidden - This repo/gist is on the blacklist. If you wish to appeal, please open an issue here: https://g

[2018-03-22 19:11] tchaffee commented on #297
Thank you for reporting this. I opened an issue with them here: https://github.com/schme16/gitcdn.xyz/issues/26

[2018-03-22 22:56] tchaffee commented on #297
If you want to temporarily change the JavaScript settings for the CodePen, this link should at least get it working for now. When we get this fixed you will need to change it back or it will cause problems in the future.

https://cdn.rawgit.com/freeCodeCamp/testable-projects-fcc/a8c73bc53149aec717b08b9c14f2273eecd31c39/build/bundle.js

[2018-03-23 12:53] tchaffee commented on #297
This is fixed now, per the issue I opened with gitcdn.

[2018-03-23 12:53] #297 closed

[2018-03-29 01:07] #269 closed

[2018-04-09 07:55] Oyelowo opened #299 "when I load the test for my portfolio, it first passes as 7/12, then changes to 12/12 after about 2 seconds"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

![image](https://user-images.githubusercontent.com/31687368/38486021-7b24ba0a-3be4-11e8-80e8-075edcf1f267.png)

![image](https://user-images.githubusercontent.com/31687368/38486043-89c63c32-3be4-11e8-9230-407557e5b

[2018-04-09 17:33] tchaffee commented on #299
@Oyelowo Cool background! Thanks for reporting this. Could you give us a link to your CodePen so we can understand if it is a problem or working as designed? Thanks!

[2018-04-11 17:54] JohnnyBizzel opened #300 "Turns working code into none working code"
Tried Pomodoro and Calculator. Neither worked once I copied the code into the forked project.
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-04-12 15:54] MarioLema opened #301 "BETA pomodoro clock works but does not pass some of the tests"
#### Issue Description
I have constructed a Pomodoro clock following the requirements on the beta and although it is functional and it meets the requirements, the tester does not recognize them.

[Codepen Pomodoro](https://codepen.io/Ubim28/pen/KoGgLM)

The points that should pass are:
(line references refer to the original Codepen file)
TIMER

**1.When I click the element with the id of reset, an

[2018-04-12 16:18] MarioLema commented on #301
I have made a different version of it where the timer with the minutes from the #session-length and #break-length only updates the timer with the first play(not after a pause) and after each interval.
It has not made any differences. Here is the link: [No instant timer update](https://codepen.io/Ubim28/pen/QmozyM?editors=0010)

[2018-04-12 20:41] tchaffee commented on #301
@MarioLema Thank you for reporting this and we will look into this as soon as we can.

[2018-04-12 21:16] tchaffee commented on #301
@MarioLema I might have found one problem. Look at this requirement:

[code]

`mm:ss` means you always need two places showing for the minutes.

For example, with a time left of 4 minutes and 30 seconds the value in the "time-left" element should be `04:30`. Let us know what happens if you make that change.

[2018-04-13 00:36] MarioLema commented on #301
I have changed the function clockTime (line24) to display the time with the extra 0 in front if the number passed is under 600(10 minutes = 600seconds).

Unfortunately, it still does not pass any of the tests I referred to. [Pomodoro](https://codepen.io/Ubim28/pen/KoGgLM?editors=0010)

[2018-04-13 20:14] tchaffee commented on #301
@MarioLema Thanks for giving that a try. I will take a closer look at this as soon as I can.

[2018-04-14 19:35] JohnnyBizzel commented on #300
The code that works fine on codepen is copied to the forked test suite pen. I don't know how else to apply the test suite. So copy paste of CSS, JS and HTML plus addition of required libraries. Neither project I tested looks anything like my original pens and neither work.

[2018-04-14 23:02] tbushman commented on #301
@MarioLema I was able to get a few more tests to pass by adding `playing = false;` to your `$('#reset').click()` function (codepen line 145), while @tchaffee by adding a `resetTimer()` to the `before()` function in `/src/project-tests/pomodoro-clock-tests.js`, which I think can't hurt. I'll see if I can get more tests to pass.

[2018-04-14 23:48] tbushman commented on #300
@JohnnyBizzel Your calculator works. The issue here is that the testable-projects tests look for DOM elements via css selectors (ids and classNames) and program events (clicks) and / or read DOM element contents. In order to pass the tests, you'll assign the required ids to each key on the calculator. For example, the `=` (equals) key would take the id="equals". Each test mentions which id the tes

[2018-04-15 16:26] MarioLema commented on #301
@tbushman @tchaffee There was an if else statements on the `$('#reset').click()` to clear the right interval. I have removed it and now tests 1. of TIMER passes too. Less to go. Again I'll have to go over it too to see what I missed and make it more robust. Thank you

[2018-04-15 16:57] MarioLema commented on #301
Well, I have managed to solve all of them after some work(trickery and witchcraft it seemed to me).  Both my timer and timerBreak functions would log the time AFTER they had deducted a second from the variable holding the seconds. With timerBreak (line 71 now) it was just a matter of writing the DOM before deducting but I had to use a different order for the timer one.

In any event, now it passes

[2018-04-15 16:57] #301 closed

[2018-04-16 17:12] tchaffee commented on #300
@tbushman That would be great if you can make a PR for the CSS issue.

[2018-04-18 15:28] Oyelowo commented on #299
Thank you, tchaffee! I'm so sorry for the belated response. Just found the notification while searching through my spam folder. Here is the link with the test, hosted on my github: https://oyelowo.github.io/oyelowo_portfolio_tested/html/main.html#section-4

[2018-04-18 23:08] tchaffee commented on #299
@Oyelowo That is working as designed. Everything is ok. The tests take some time to run, some tests longer than others. You will see this on other projects too. I'm closing this issue but feel free to reopen it if there are still any doubts.

[2018-04-18 23:08] #299 closed

[2018-04-19 02:15] Oyelowo commented on #299
All right. I was just wondering if that was why I could not claim the responsive web design certificate. Thanks a bunch @tchaffee

[2018-04-20 21:32] vipatron opened #304 "[BETA][FRONT-END] Markdown Test #5"
#### Issue Description
In the Markdown Previewer, Test #6 (preview HTML has all required elements) passes, but #5(markdown has all elements) doesn't. [I wrote about it in depth on the forum](https://forum.freecodecamp.org/t/beta-markdown-previewer-not-passing-test-5/186747/4), but the TL;DR version:

The issue is that the regex used in by the testing suite `bundle.js` requires a whitespace charact

[2018-04-21 22:00] vipatron opened #305 "[UX] Markdown Previewer Optional Challenge (#7)"
#### Issue Description
Unit Tests/#Test text (reproduced on the [Beta challenge waypoint here] states that:

**Problem:** The `marked.js` documentation *is actually necessary for Test #8* (line break behavior). [The link to the relevant page here](https://github.com/markedjs/marked/blob/master/docs/USING_ADVANCED.md#options) is easily found from their github page. **However**, the Optional test #7

[2018-04-22 00:32] tbushman commented on #305
A lot of modifiers require a space, but if it's universally unnecessary for `<` then we can remove that part of the regex...