[2018-08-14 22:42] tchaffee commented on #483
Closing due to inactivity. @mechmouni if you still need help with this, please leave a comment and we will re-open the issue.

[2018-08-14 22:50] tbushman commented on #493
@tchaffee There was an issue on freeCodeCamp main repo, but it was closed because it wasn't related to the repo itself. We still need to replace the fCC bar chart example with an aligned example. The other chart issues are when `<rect>` elements either have `0` width/height or extend beyond the axis. I added help wanted to one because I couldn't find why.

[2018-08-14 23:48] tchaffee commented on #473
Should be fixed when PR #490 is merged.

[2018-08-14 23:51] tchaffee commented on #476
Should be fixed when PR #490 is merged.

[2018-08-14 23:53] tchaffee commented on #477
@Jowhs could you fix the two errors per the comment above by @tbushman and let us know so we can focus on what might be actual bugs?

[2018-08-14 23:55] tchaffee commented on #481
@MilosLbr I am closing this since @tbushman explained the problem with your code you need to fix. If you still need support on this issue, leave a comment and we can re-open the issue and discuss.

[2018-08-14 23:55] #481 closed

[2018-08-14 23:56] tchaffee commented on #482
@RBLutsky Closing since you've fixed the problem. But you should still be able to leave comments, so please do let us know how you fixed it.

[2018-08-14 23:56] #482 closed

[2018-08-15 00:27] jrwmacintire commented on #467
I was able to complete this challenge after I rewrote my code and adjusted my overall SVG layout area. The margins and axes weren't set up as well as I thought. It wound up being more simple than I thought - and probably not related to your test cases. In short, make sure 'you' understand SVG layout conventions.

[2018-08-15 00:29] tchaffee commented on #357
@tbushman Any thoughts on this?

[2018-08-15 01:46] petercr commented on #523
Thanks so much @tchaffee :+1: :clap: Yes after removing the empty spaces following both the `h1` and `h2` in the markdown template string. Also I had to move the final backtick up a line.

**But thank you so much** I will close the issue now :+1: :shipit:

[2018-08-15 01:47] #523 closed

[2018-08-15 05:11] tbushman commented on #357
@tchaffee I'll close this. @lubodrinka your issue was similar. Open a new issue before submitting a PR and we can discuss it then.

[2018-08-15 05:11] #357 closed

[2018-08-15 14:00] cnoelle23 opened #525 "SVG not accepted as img?"
#### Issue Description

I get an error when running the tests saying the '#header-img' isn't an image element, but rather an SVG. I would expect SVGs to be accepted, particularly because it's recommended to use a company logo here.

#### Browser Information

* Browser Name, Version: Version 68.0.3440.106 (Official Build) (64-bit)
* Operating System: MacOS High Sierra Version 10.13.6
* Mobile, Desk

[2018-08-15 17:58] tchaffee commented on #467
@jrwmacintire Thanks for letting us know. I'm closing this since it looks like you are in good shape now.

[2018-08-15 17:58] #467 closed

[2018-08-15 18:01] #452 closed

[2018-08-15 18:38] tchaffee commented on #493
Ok, let's leave this open to track the issue. Thanks.

[2018-08-15 19:28] tchaffee commented on #462
@Anja18 I am looking at this now. The first thing I see is test 9 failing. It says "My quote machine should fetch the new quote's author when the #new-quote button is clicked and display it in the #author element."

And sure enough sometimes when I click your "Another Quote?" button it does not change the quote. So you need to fix that. It's from having only a few quotes. A random selection on suc

[2018-08-15 20:16] tchaffee commented on #59
Closing this. We've added a "tech stack" section to each test suite, and support for Vue is not on our immediate radar. It's a long term goal, and we con't need an open issue to track it.

[2018-08-15 20:16] #59 closed

[2018-08-15 23:23] #483 closed, assigned to nobody

[2018-08-15 23:27] tbushman commented on #462
@tchaffee As far as I could tell, using `encodeURIComponent()` was the fix and the project passes tests consistently now. Closing.

[2018-08-15 23:27] #462 closed

[2018-08-16 09:05] glushkov89 opened #528 "D3 Bar Chart Axis-data alignment tests"
#### Issue Description
Hello. Cant pass #Content tests 10 and 11. There seems to be a mistake in the example pen IMO (and thus maybe in tests). I think it is logical that ticks on x-axis represent the start of the corresponding year. But the last 3 arrays of provided json.data are for Q123 of 2015 and technically corresponding bars should be positioned to the right of 2015-year-tick. I`ve looked i

[2018-08-16 17:35] iTechGaming opened #529 "Product landing page #1 layout test bug"
Hey!

#### Issue Description

I was testing my entires and it said : ''1. The navbar should always be at the top of the viewport.''.
But I was able to pass that by putting a position: fixed; on my logo and not the nav. Sorry I don't know how to do it but I'll look into it. At least I found a bug :D!

#### Browser Information

* Browser Name, Version: Mozilla Firefox (latest version I believe)
* Op

[2018-08-16 17:53] tchaffee commented on #402
@raisedadead Unless @tbushman wants to take this, I am ready to work on this. I'm just a little bit lost on what the overall process should be. I don't know whether it should happen in Travis, as part of the existing build or as a different Travis build, how to get the built bundle out to the CDN, whether or not we delete the bundle from this repo once it is automatically built.... (I hope so).

A

[2018-08-16 17:59] #513 closed

[2018-08-16 18:11] ValeraS commented on #489
@numoonchld until the test is fixed, you can pass the blockquote test by removing spaces before the '>' symbol in the default markdown.

[2018-08-16 18:33] ValeraS commented on #305
The documentation contains information about the custom renderer for a heading token https://marked.js.org/#/USING_PRO.md

[2018-08-16 18:42] tchaffee commented on #305
Thanks @ValeraS for the link. I think with just that page it's too hard for Campers to figure out and would take a long time (as it did with @vipatron ). I already have a PR submitted to remove this bonus requirement.

[2018-08-16 18:56] ValeraS commented on #305
It's an optional bonus, why remove it?
After reading the doc., you can find the solution using google: "marked renderer.link".

[2018-08-16 19:28] #470 closed

[2018-08-16 19:30] tbushman commented on #473
Fixed in Chrome and Safari. Closing.

[2018-08-16 19:30] #473 closed

[2018-08-16 19:30] tbushman commented on #476
Fixed in Chrome and Safari. Closing.

[2018-08-16 19:30] #476 closed

[2018-08-16 19:40] FloPtitos opened #530 "Tribute page error"
#### Issue Description
I have a problem with the resize of the image.

#### Browser Information
Macbook pro Late 2016
High Sierra
Using CodePen with Chrome

#### Your Code / Link to Your Pen
https://codepen.io/floptitos/full/vaqjWo

#### Screenshot

<img width="396" alt="capture d ecran 2018-08-16 a 21 36 12" src="https://user-images.githubusercontent.com/32060470/44231054-2a838580-a19d-11e8-8d06-

[2018-08-16 19:45] web2033 opened #531 "Markdown Previewer and marked.js"
I use marked.js as a dependency in `package.json`

[code]

and import it into my component

[code]

The app works but in order to pass tests 3-6 I need to additionally include `marked` file as a `script` tag

[2018-08-16 19:55] tchaffee commented on #305
@ValeraS we already discussed it (above) and decided it takes too much research. Google results are not the same for everyone, they are actually personalized, and we cannot count on that search result always being there. Back when I did this it took me only a few minutes to find it in the official docs and then implement it. @vipatron went through WAY more than that. That's not what we want as a C

[2018-08-16 20:03] web2033 commented on #525
This is self-closing tag (not need in `</img>`) and `src` is required

[code]

[2018-08-16 20:27] ValeraS commented on #305
@tchaffee What should be the campers' experience? Do they have to do only what the documentation says directly?

@vipatron did the challenge and learned more than others who will not.

[2018-08-16 22:26] tbushman commented on #529
@iTechGaming OK thanks!

[2018-08-16 22:29] tbushman commented on #530
@FloPtitos It looks like you fixed it? Write back if you have further questions.

[2018-08-16 22:38] tbushman commented on #531
@petercr What do you think? I thought about what you said about the test suite not having access to the marked library imported in an exogenous component, but the tests never use marked to make assertions. The tests only check what's rendered.

[2018-08-16 22:48] tchaffee commented on #305
We don't want Campers struggling for hours trying to find the solution for something that isn't clearly documented. It's frustrating. That is not how the bonus requirement was originally designed. The original bonus requirement was supported by clear documentation. It isn't anymore and that makes the requirement way harder. Sorry, but it's just no longer the right fit, we already decided what to d

[2018-08-17 00:41] petercr commented on #531
Thanks for thinking of me @tbushman :smile:
Yes this does appear to be the same issue which I had with the testing scripts not having access to the **marked.js** library. I had no idea that the _test script_ never referenced or called _marked.js_
Perhaps if I walk through the tests step by step we can see exactly when marked is called on :thinking:
I'll look over the test code myself, and see if I

[2018-08-17 00:56] petercr commented on #531
@tbushman **I FOUND IT!!** In the file `/src/project-tests/markdown-previewer-tests.js` on line **47 && 53** the code calls for `marked(str)`. That must be the instance where the test script calls for **marked.js**  to test parsing the markdown :+1: :sunglasses:
And it is specifically inside `triggerChange(str)` which is for the React tests.
I can go ahead and just add an import line to the top of

[2018-08-17 01:09] tbushman commented on #531
@petercr I'm glad I asked you!!! WOO!

[2018-08-17 04:29] garrickg commented on #488
I was failing the same test, and removed '.round(true)' and it was passing after that.

[2018-08-17 06:30] web2033 commented on #525
You can use inline SVG and code will look something like
[code]
Simply swapping `img` tag to `svg` doesn't work. But svg as an image source is ok.

[2018-08-17 06:55] cnoelle23 commented on #525
Thank you!

[2018-08-17 06:55] #525 closed

[2018-08-17 13:19] FloPtitos commented on #530
I didn’t fix it, when I test my tribute page, the test about resizing the image failed and I did’t really understand why ?

[2018-08-17 20:26] numoonchld commented on #489
Isn’t that cheating/hacking the test to pass it?

[2018-08-17 20:50] tbushman commented on #528
@glushkov89 The problem was in adding padding when defining `x` and `y` attributes for the `<rect>` elements. I'm using the margin convention discussed at https://gist.github.com/mbostock/3019563. When I make the following adjustments to your project, it passes alignment tests.
[code]
[code]
[code]

[2018-08-18 00:05] petercr commented on #430
I would love :heart: to take this issue. I think it's just a simple fix of adding the marked package via npm. And then just declaring it in the `import` statements. That should fix the issue all together.
I can go ahead and give it a test run myself :thinking: :smile:

[2018-08-18 00:45] tbushman commented on #528
Sorry, forgot to mention another necessary change:
[code]
I could be missing something. Main thing is to establish the width and height with padding early on and then avoid using padding when establishing attributes.

[2018-08-18 00:51] tbushman commented on #528
Our option for improving the tests is to use `getBoundingClientRect()` to compare tick and shape position! TODO.

[2018-08-18 22:54] hyilmaz7 opened #535 "bug"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-08-19 10:03] rubendmatos1985 opened #536 "Hello I have a problem in the Landing Page. Here i made all what the task asked but it still saying that i dont have make an input field and a submit input inside the form of the landing page"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-08-19 14:48] ValeraS commented on #536
@rubendmatos1985 In order to figure out what is causing the problem, we'll need a code sample or link to your project. Thanks.

[2018-08-19 17:10] #489 closed

[2018-08-19 18:55] #418 closed

[2018-08-19 18:56] #437 closed

[2018-08-19 19:11] tbushman commented on #535
@hyilmaz7 Please share a code sample or link to your project so we can debug. Thanks.

[2018-08-20 00:07] rjromo opened #538 "id="name" and id="email" not recognized in SURVEY FORM"
https://codepen.io/rjromo/pen/wxVRPB

Ive done everything as requested in the survey form but I still dont get to past the checkings, it keeps saying that I dont have id = name and email

#### Issue Description

* Browser Name, Version:  Firefox latest version
* Operating System: Windows 8.1 pro
* Mobile, Desktop, or Tablet:  Desktop

#### Your Code / Link to Your Pen

https://codepen.io/rjromo/pe

[2018-08-20 02:36] tbushman commented on #538
@rjromo The tests are working. The second part of the user story for each of those tests says 'If I do not enter a name I will see an HTML5 validation error.'
Please check out the documentation about html5 form validation at https://developer.mozilla.org/en-US/docs/Learn/HTML/Forms/Form_validation#The_required_attribute

[2018-08-20 07:46] glushkov89 commented on #528
Everything works now. Many thanks.

[2018-08-20 11:50] ValeraS commented on #360
The user story says:
The <img> element should responsively resize, relative to the width of its parent element, without exceeding its original size.

But if the width is used instead of the max-width, then <img> can exceed its original size.

[2018-08-20 17:45] ValeraS commented on #360
width: 100%
![image](https://user-images.githubusercontent.com/10867286/44356749-e8b65000-a4b8-11e8-83af-3f2eb49ad76b.png)

max-width: 100%
![image](https://user-images.githubusercontent.com/10867286/44357113-e6a0c100-a4b9-11e8-9d94-57898b0c51d4.png)

[2018-08-20 18:04] tbushman commented on #360
@ValeraS I see now. I wasn't paying close attention to the user story. You must think I'm stupid. Just been trying to keep up with all of the issues here. Thanks!

[2018-08-20 18:10] ValeraS commented on #360
@tbushman Of course, I don't think so. You guys are the best!

[2018-08-20 18:12] tbushman commented on #360
@ValeraS YOU are the best. Thanks for the help.

[2018-08-20 18:12] #360 closed

[2018-08-20 18:26] tbushman commented on #430
@petercr Yes, thank you for finding the cause!

[2018-08-20 18:30] tbushman commented on #488
@garrickg Thanks.
Generally speaking, we can avoid this error by allowing `px` in position attributes in `utils > alignment-D3-support`.

[2018-08-20 18:41] tbushman commented on #472
@tchaffee Thanks!! Wow. O.O ...
Maybe we should be using `.trim()` in these tests. This was a real needle in the haystack.

[2018-08-20 19:54] tchaffee opened #540 "Document the regexes in markdown previewer tests"
The regular expressions in the markdown previewer tests have become longish and complex. It would help future programmers understand them if there is some documentation about what each part of the regex does.

For example, this regex:

[code]

It's not clear why the `[^]` is doing. That's a negated set? But there is nothing in the set to match?

Some documentation ion like below would be a big hel

[2018-08-20 19:56] tchaffee commented on #540
@ValeraS  You just worked on this file. Would you be interested in helping us with this?

Also, do you know why we are matching the tab character in the above regex? Is it possible to even type a tab in the browser?

[2018-08-20 20:26] tchaffee commented on #472
@tbushman I think it's better leaving it as is. An extra space that causes a bug is a good learning experience. That's how I found it so quickly, been there done that ;-)

[2018-08-20 20:27] #472 closed

[2018-08-20 20:32] #305 closed

[2018-08-20 20:35] ValeraS commented on #540
@tchaffee `[^]` it's mean any character, including newline. And it was here initially.

It's not so complicated to understand this regex and for understanding you always can use tools like https://regex101.com

![image](https://user-images.githubusercontent.com/10867286/44364939-f8419300-a4d0-11e8-980c-85b35bc54689.png)

Maybe in doc better mention this tool.

[2018-08-20 20:48] ValeraS commented on #540
Yes, it is. You can use copy-paste, for example. In addition, we test projects, coded not only in Codopen, but also locally.

[2018-08-20 20:54] RBLutsky commented on #482
Hi all,  Boy do I feel stupid....I had an extra quotation mark.  Once I deleted it, I was fine.  Live and learn :)@tchaffee

[2018-08-20 21:06] tchaffee commented on #540
@ValeraS What I'm trying to avoid by adding the docs is making other programmers re-figure it out each time by going to something like https://regex101.com. I've used that site often. It always takes more time that reading inline docs.

If you don't want to document it, I can do it myself. I just think it would be easier for you since you just recently changed them and know what they do. If you ha

[2018-08-20 21:22] ValeraS commented on #540
@tchaffee one more time, `[^]` - it's mean any character, including newline. `[^]*` - matches between zero and unlimited times, as many times as possible, giving back as needed any character, including newline.

Such documentation is more like a regular expression textbook than documenting the code.

[2018-08-20 21:29] tchaffee commented on #540
@ValeraS Now I understand the problem. At https://regex101.com I had PHP selected instead of javacript :-(

It's ok if you don't want to document the code, I'll document it. The problem with not documenting it is that someone could intend their regex to do one thing, but get it wrong. So it's important to know what they intended each part of the regex to do. Make debugging far easier instead of th

[2018-08-20 22:37] tchaffee commented on #540
@ValeraS I appreciate your opinion. I've been coding for 30+ years now and documenting regex expressions helps me maintain them faster instead of figuring it out again each time. I'm responsible for this repo right now so I need to make the code as easy for me to maintain as possible. In any case it might not matter. I found a way we can eliminate almost all the regular expressions by just using t

[2018-08-21 02:35] petercr commented on #531
Great I'm still working on a _working_ fix :laughing:
I've got the updated code being built, I just haven't been able to have the live-server inject the script in
I'll keep you updated when I get further. :thinking: :+1:

[2018-08-21 04:51] #540 closed

[2018-08-21 11:41] zargold opened #543 "Failing desktop id=navbar test on Technical Documentation Project"
#### Issue Description

Build a navbar (nav#navbar) with
[code]
on window size 600px (also tried 768px)

#### Link to actual reproducing issue:

[codepen](https://codepen.io/zargold/pen/yEPaJq)

#### Browser Information

* Browser Name, Version:
Chrome: Version 68.0.3440.106 (Official Build) (64-bit)
Also tried safari
* Operating System: Mac OSX 10.13.16
* Mobile, Desktop, or Tablet:
Desktop
####

[2018-08-21 13:06] ValeraS commented on #543
@zargold The user story says:
On regular sized devices (laptops, desktops), the element with id="navbar" should be **shown on the left side** of the screen and should **always be visible** to the user.

The navbar should be on the left side, but your navbar width 100vw.

@tchaffee @Thibaut We need to add a test: navbar.getBoundingClientRect().left >= 0

[2018-08-21 13:33] ValeraS commented on #543
@zargold I think it's your decision what to do. Leave as is or redesign it.

[2018-08-21 13:46] zargold commented on #543
Yes saying that something is on the left side certainly does not mean that
it’s width is less than 50%. If it’s up to me entirely and I was to follow
the rules described by test, then I would make the wife h 99% or even 100%
and that still counts as left aligned. If the test says the width must be
less than 50% then I guess I will make it less than 50% and I don’t have to
make it a side nav I supp

[2018-08-21 14:08] ValeraS commented on #402
If I understand correctly we need something like this:
[code]

[2018-08-21 14:51] tchaffee commented on #402
@ValeraS Thanks. That would run on Travis? As a separate Travis job? This script is a big help and I also want to understand the big picture of all the steps involved. I guess we would want any merge to master trigger this.

[2018-08-21 15:35] ValeraS commented on #402
In Travis is enabled "Build Branch Updates"
In our .travis.yml add:
[code]
deploy.sh
[code]

[2018-08-21 18:10] km-py opened #544 "Build a Personal Portfolio Webpage user story 11 problem"
This is the error am getting.
Everything is working fine on my page.

Error:
3.The navbar should always be at the top of the viewport.
Script error. (:0)
Error: Script error. (:0)
at uncaughtException.i.onerror (https://cdnjs.cloudflare.com/ajax/libs/mocha/5.2.0/mocha.min.js:1:865 1)

code so far
https://codepen.io/km-py/pen/wxVpLz?editors=0100 1

browser information:

User Agent is: Mozilla/5.0 (

[2018-08-21 19:42] ValeraS commented on #544
@km-py if you add text below into your css you will pass tests.
[code]

[2018-08-21 21:47] tbushman commented on #528
Reopen to associate with new PR

[2018-08-21 22:33] #544 closed

[2018-08-22 08:31] ValeraS opened #548 "pomodoro test suite is too strict when checking for break-length, session-length and reset content"
@hbar1st commented on [Tue Aug 21 2018](https://github.com/freeCodeCamp/freeCodeCamp/issues/18036)

#### Describe your problem and - if possible - how to reproduce it
in this sample codepen created for the pomodoro clock challenge, the test suite fails to identify input fields that are being used to hold the break-length, session-length and to house the reset button.
https://codepen.io/hbar1st/pen

[2018-08-23 11:25] tchaffee opened #550 "Replace jsdom with Selenium for the D3 Alignment unit tests"
Until now our D3 Alignment testing utilities only looked at HTML attributes for the layout calculations. In PR #546 @tbushman would like to use `getBoundingClientRect()` which will be more accurate. Since jsdom does not support layout, we should do the tests in a real browser. By moving replacing jsdom with Selenium we can do that.

[2018-08-23 12:34] tchaffee commented on #512
@ValeraS Thank you for your help, and yes you can take this one. I'll leave it assigned to me because we can only assign issues to the core team members. This way I'll still be responsible for making sure it gets done. But the coding and PR are all yours.

[2018-08-23 21:49] tbushman commented on #455
I've confirmed that the problem arises when the rects / circles are positioned beyond axes. This is because when we set up the svg.domain, we are using max years / minutes without also accounting for additional months / seconds (respectively). I'll try to figure something out for the tests, but meantime I think it will work for students to add a year / minute to the .domain max.

[2018-08-24 05:40] ValeraS commented on #512
@tchaffee Is it okay if the signs will stand after the numbers?

![image](https://user-images.githubusercontent.com/10867286/44566869-8be8bd00-a778-11e8-91e2-5ee2f922a2c5.png)

[2018-08-24 08:03] frank-rui commented on #493
To campers:

Using `Band Scales` to draw bar charts could avoid this issue completely.

https://github.com/d3/d3-scale#scaleBand

[2018-08-24 10:18] versatal opened #554 "got a script error when testing my Calculator solution"
#### Issue Description

When running the test suite on my solution for the Calculator challenge a script error for test number 12 was reported.

"Script error. (:0)"

#### Browser Information

* Browser Name, Version: Chrome Version 68.0.3440.106 (Official Build) (64-bit)
* Operating System: Windows 10 Home
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Scre

[2018-08-24 11:32] ValeraS commented on #554
@versatal In your Pen, if press `5` , `*` and `-` your code throws an exception on line 80: `Unexpected end of input`.
[code]

[2018-08-24 20:06] causticcommentz opened #555 "Product Landing Page Test 5"
#### Issue Description

The 5th test that runs on the product landing page challenge fails when it does not find a "href" tag within each .nav-link element.  The user stories do not state that an "href" tag needs to be used to take the user to the corresponding section of the page.  I wrote a javascript function that accomplishes the same task.

#### Browser Information

I am using vscode with the

[2018-08-25 18:47] AryanJ-NYC opened #558 "Drum Machine Tests should Support event.key"
#### Issue Description

Since the drum machine tests are solely emitting events with `keyCodes`, all projects that use `event.key` to get the key pressed will fail. This is a difficult case for beginners to understand so, in turn, the project tester should support both `keyCode` and `key`.

#### Your Code / Link to Your Pen

[code]

#### Screenshot

![screen shot 2018-08-25 at 2 45 59 pm](https://

[2018-08-27 07:30] jmichaelthurman opened #559 "Mocha exception while running portfolio tests"
#### Issue Description

When I run the portfolio tests I get a Mocha uncaught error:
3. The navbar should always be at the top of the viewport. Script error. (:0)
Error: Script error. (:0)
    at uncaughtException.i.onerror (https://cdnjs.cloudflare.com/ajax/libs/mocha/5.2.0/mocha.min.js:1:865)

(My navbar does stay at the top of the viewport.)
#### Browser Information

* Browser Name, Version: Ch

[2018-08-27 08:28] ValeraS commented on #559
@jmichaelthurman Test checks an element with `id = 'navbar`. But you fixed `ul` in `nav`. If you extract `position: fixed;` and `width: 100%` from the `nav ul` rule to a `nav` rule, for example, you should pass the test.

[2018-08-27 08:40] jmichaelthurman commented on #559
Your suggestion worked.  Thanks.

Interestingly, the FreeCodeCamp CodePen also fixed position in the statement
`nav ul {
  text-align: right;
  position: fixed;
  width: 100%;
  background-color: #e0ebe8;
}`

...and it passes the tests.
Curious...
Best,
Michael

[2018-08-27 11:03] ValeraS commented on #559
@jmichaelthurman In the FreeCodeCamp CodePen `<ul id='navbar'>` and it is fixed

[2018-08-27 13:20] glushkov89 opened #561 "D3 Heat Map #Content-12"
#### Issue Description
Project not passing #Content test 12.
Error:
12. My heat map should have multiple tick labels on the x-axis with the years between 1754 and 2015.
X axis labels should contain a year that's at least 1754 : expected '1753' to be at least 1754

I don`t quite understand why the tests start at year 1754 while the starting year in json is 1753.
I use .scaleBand() for x-axis scale,

[2018-08-27 22:52] tbushman commented on #548
Could be reason for #515 maybe...
Thanks!

[2018-08-27 23:45] holmedw opened #562 "SURVEY"
![html](https://user-images.githubusercontent.com/15205267/44692401-9c6a9300-aa17-11e8-9d76-0524a6a93536.png)

#### Issue Description

My Survey FCC  project failed the #4, #5, and #6 tests for validation errors. Based off of this https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5/Constraint_validation/ …  I have a required attribute at the end of the input id on lines 11, 13, & 15. Any

[2018-08-28 05:09] tbushman commented on #562
@holmedw Yes, please change the ids from `<input id="name-label" ...` and `<input id="email-label" ...` to `<input id="name" ... ` and `<input id="email" ...` , respectively.
You will also want to change the `for` attributes on the associated labels:
`<label for="name" ...` and `<label for="email" ...`
The `for` attribute refers to the `id` attribute of the `<input>` element associated with the la

[2018-08-28 05:43] ValeraS commented on #515
@glushkov89 User story(`#8`) says  value in the `.time-left` field should always be displayed in `mm:ss` format, but if the time-left is less then 10 min you display it in the `m:ss` format.

Also your timer does not stop when`time-left` is `00:00`

[2018-08-28 05:47] ValeraS commented on #548
@tbushman in this case, the `input` field is used for` break-length` and `session-length`, and this is a problem.

[2018-08-28 06:33] ZarinaZ opened #563 "No any media quarries detected in spite I have them in code."
#### Issue Description
The issue happens when I run tests in Codepen.
1 test doesn't pass because it doesn't see any media quarries, but I have them in my code.
1. Add at least one media quarry in the code;
2. Run tests.

#### Browser Information

* Browser Name, Version: Google Chrome, Version 68.0.3440.106 (Official Build) (64-bit)
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Des

[2018-08-28 06:51] Parag-Rana commented on #524
https://codepen.io/raoneparag/pen/WKWMzW

On Wed, Aug 15, 2018 at 3:38 AM Todd Chaffee <notifications@github.com>
wrote:

[2018-08-28 08:07] glushkov89 commented on #515
Many thanks mm:ss format was the case.

[2018-08-28 08:07] #515 closed

[2018-08-28 08:17] VitaliDmst opened #564 "Tribute page"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-08-28 14:45] JohnnyBizzel opened #566 "Tooltip test fails"
As reported by Klemen, the bar chart is working as required
https://forum.freecodecamp.org/t/d3-bar-chart-problem/221505
codepen: https://codepen.io/Klemen/pen/dqompE

#### Issue Description
Running the tests it always fails on the tooltip mouseover test.
I also attempted to change it to `display:none` instead of using visibility. Same problem.

#### Browser Information

* Browser Name, Version: C

[2018-08-28 16:47] ValeraS commented on #563
@ZarinaZ In case you use pure CSS, all of your media queries are coded wrong and ignored by the browser.

[2018-08-29 05:38] ValeraS commented on #519
@GemzBond Th age input tag has 2 ids, but only the first one is used by the browser. Because of this, the test does not find a field with an id equal to `number` and fails.

[2018-08-30 20:33] jeremyhoutz commented on #563
Hello Zarina,

You can read up on media queries here: https://www.w3schools.com/css/css_rwd_mediaqueries.asp

If you copy the first example and paste it into your css it will pass. The key is understanding what the media query is doing.

[2018-08-31 11:20] mkh-m opened #568 "Product Landing Page"
couldn't pass layout test 2 and 3 from my local machine(did project in Sublime text 3 and run test via Google Chrome) but I have:
@media (max-width: 600px){
	.logo p ,.icon{
		display: none;
	}
	.logo{
		width: 15vw;
	}
	#nav-bar ul{
		width: 60vw;
	}
	#pricing{
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

} and many, many display: flex;

[2018-08-31 14:26] tbushman commented on #563
Could also be related to #568

[2018-08-31 14:31] ale8k opened #569 "Random failure, unsure why"
Portfolio project

The navbar user story ensuring it is fixed to the top of the page is failing without giving any reason as to why.

#### Issue Description

Random failure.

#### Browser Information

* Browser Name, Version:  Google chrome, latest as of 31/08/2018 (I believe)
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Scre

[2018-08-31 14:47] tbushman commented on #555
@causticcommentz Thanks for the suggestion. We should probably change the wording on the user story to indicate the use of `href` as the intended means toward completing the project.

[2018-08-31 15:09] ValeraS commented on #569
@ale8k You fixed `#navbar ul` but the user story says `navbar should be fixed`

Extract
[code]
from `#navbar ul` into `#navbar` and you'll pass the test.

[2018-08-31 16:16] tbushman commented on #458
This should have been fixed with #534 . @SelenaCox Please open a new issue if you encounter further problems.

[2018-08-31 16:16] #458 closed

[2018-08-31 18:35] holmedw commented on #562
Hello,
 The above advise isn't working. I still get an error when I replace the
<input id="email-label">with <input id="email"> Please see attachment and
code.

https://codepen.io/holmedw/pen/dqpYNz?editors=1010

On Mon, Aug 27, 2018 at 10:09 PM Tracey Bushman <notifications@github.com>
wrote:

[2018-08-31 19:33] ValeraS commented on #562
@holmedw Your HTML contains `form` elements with the same `id`. But the `id` must be unique in the whole document (https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/id).

Leave only first one `form` tag and place it before `div`.

[2018-08-31 21:07] ValeraS commented on #566
@JohnnyBizzel @CoderKlemen for now, you can use `display` instead of `visibility` and `mouseout` instead of `mouseleave`. And you'll pass the test.

[2018-09-01 09:52] shanibaba786 opened #570 "Not passing user story#7 I have created 6 <li> but still not passing.."
#### Issue Description

#### Browser Information

* Browser Name, Version:  Opera
* Operating System: Win 10

#### Your Code / Link to Your Pen

[code]

#### Screenshot

![capture](https://user-images.githubusercontent.com/28742084/44944822-708e3b00-ad92-11e8-9172-f0010c6492e3.PNG)

[2018-09-01 13:26] numoonchld commented on #489
The test suite works for all the non-optional user stories in my codepen without any white space gymnastics and hacking.

Thanks - much appreciated.

[2018-09-01 15:20] SerhiiK opened #571 "Strange behavior bundle.js"
Responsive Web Design Projects - Build a Survey Form

#### Issue Description
 After first testing and all tests green , next push on button Run Tests result to running tests without end.

#### Browser Information

* Browser Name, Version: Chrome Version 68.0.3440.106 (Official Build) (64-bit)
* Operating System: Ubuntu 16.04 x64
* Mobile, Desktop, or Tablet:  Dekstop

#### Screenshot
![screenshot

[2018-09-01 23:05] tbushman commented on #570
@shanibaba786 It appears you have resolved the issue. :)

[2018-09-01 23:08] tbushman commented on #571
@SerhiiK Thanks for reporting this. The issue is not isolated to the Survey Form project.

[2018-09-02 06:47] Sox773 opened #572 "Div background color not working and tests are failing when they're not supposed to."
Hey, I was using https://codepen.io/ and I was trying to put a white box around the form. It worked until I would go into the mode that lets me see the full website without the code. When I did this the box had disappeared and wouldn't reappear until I made a meaningless edit to the code like deleting a space. I then copied the code and put it into sublime text and the code had worked. I finished

[2018-09-02 07:04] ValeraS commented on #572
@Sox773 Your HTML contains elements with the same id. But the id must be unique in the whole document (https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/id).

Change `div`s with id equals `name` and `email`, and you'll pass tests.

[2018-09-02 21:46] adrianwix opened #573 "Test suite doesn't recognize input tag JavaScript Calculator"
#### Issue Description

Good day,
I am currently using an input HTML tag for the JavaScript calculator. It uses the ID display the test suit recognize it but when trying to prove User Story from 7 ahead. It throws error basically because it can not detect the input.value.
Using Jquery for that project. It was actually from the old curriculum came back to try to make it work in the new version.

##

[2018-09-02 22:35] tbushman commented on #573
@adrianwix Hello, one of the problems is that the tests test the `innerHTML` of the `#display` element. You could change your `<input>` element to a `<textarea>` element and that would require the fewest changes to your code...

[2018-09-03 04:29] tbushman commented on #500
@matiasmtl I'm sorry that I lost track of this. I think there were some CSS miscommunications. I remember testing this and getting it to work. If you want to review this again, let me know and I'll bring it up and review.

[2018-09-03 04:35] tbushman commented on #433
@KDCinfo @davidsimoes Also, it helps to ensure the navbar isn't taller than the viewport to prevent this specific issue. Maybe we can just add that wording to the user story. Removing help wanted.

[2018-09-03 05:44] tbushman commented on #488
@tbushman Actually, you're mistaken because the tree-map isn't part of the alignment-D3-support utils. :P
@garrickg Is correct here. :)

[2018-09-03 05:47] #488 closed

[2018-09-03 05:51] tbushman commented on #511
Could be related to #433

[2018-09-03 05:53] tbushman commented on #519
@ValeraS Thanks for catching that!

[2018-09-03 06:08] tbushman commented on #524
@Parag-Rana I found the issue. There are duplicate `id="number"`s. Sorry for the delay. I changed the number input section so that only the `input[type="number"]` has `id="number"` (not the label or the wrapper `<div>`) and the tests passed:
[code]

[2018-09-03 06:11] tbushman commented on #530
@FloPtitos I'm sorry that I can't reproduce this issue... Your tests all pass. Let's see if someone else can reproduce this error.

[2018-09-03 06:13] tbushman commented on #535
Closing due to inactivity.

[2018-09-03 06:13] #535 closed

[2018-09-03 06:14] tbushman commented on #536
Closing due to inactivity.

[2018-09-03 06:14] #536 closed

[2018-09-03 06:16] tbushman commented on #538
Closing due to inactivity.

[2018-09-03 06:16] #538 closed

[2018-09-03 08:51] Sox773 commented on #572
Oh, I didn't realize that'll affect it. Thank you. Is there anything I can do about the white border now appearing or is that just a bug?

[2018-09-03 12:28] hyilmaz7 commented on #535
https://codepen.io/freeCodeCamp/pen/MJjpwO

[2018-09-03 12:50] #402 closed

[2018-09-03 22:32] #548 closed

[2018-09-03 22:32] #573 closed

[2018-09-03 22:34] #566 closed

[2018-09-03 23:37] matiasmtl commented on #500
Hi @tbushman Thanks for following up. I couldn't find a way to make this work. The image is resizing and I'm passing the test but is still exceeding the original size.
Any suggestion will be welcomed. The pen is [here](https://codepen.io/matiasmtl/pen/ajEaOO).

[2018-09-04 05:39] ValeraS commented on #500
@matiasmtl remove `width: 100%` from `img` rule.

[2018-09-04 13:04] matiasmtl commented on #500
That solved the issue of the image resizing over the original size but the problem then was that it was aligning to the left. I google that and solved it by adding

`display: block;
 margin-left: auto;
 margin-right: auto;`

Now I'm getting 10/10 and the image is centered, resizing but not exceeding the original size.

Thank you for your help!

[2018-09-04 13:04] #500 closed

[2018-09-05 05:09] ValeraS opened #584 "Crossbrowser testing"
Here some services that offer free cross-browser testing for open source projects.

https://crossbrowsertesting.com/open-source/request

https://www.browserstack.com/open-source?ref=pricing

https://saucelabs.com/open-source/open-sauce

How about trying this or maybe you use other solutions?

[2018-09-05 09:04] theAsthana opened #585 "Issue with the product landing page project."
Hello there,
    I amhaving a issue with the landing page project in responsive design projects.
I build a page after following all the user stories and my project passed all the test using the CDN provided on the local machine, but when i load the project into codepen it get failed. I don't know why, I tried everything I can but the issue stays the same. I read the user stories again and again bu

[2018-09-05 09:35] ValeraS commented on #585
@theAsthana If you press `tests` button you'll see detailed errors. In the first case, an element with `id=img-header` not found. In the second case, the attribute `name = "email"` does not exist in the email input element.

[2018-09-06 14:18] Anastasiia0905 opened #586 "Build a Survey Form/14th"
Hi
The project doesn't pass one test.
But it responds to all conditions
https://codepen.io/AnastasiiaT/pen/vzeNvw

[2018-09-06 15:05] tbushman commented on #586
@Anastasiia0905 Are you running Codepen in Chrome? Your tests all pass in Chrome! :)

[2018-09-06 15:05] lohchoonhuah opened #587 "Test Cases for personal portfolio contains typo"
#### Issue Description

Test Cases for personal portfolio contains spelling error

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-09-06 17:14] cats77 opened #588 "I can't access to codepen."
I can't access in codepen to continue my chalange, after I compleat the first lesson.

It's required from me to sign up in codepen. But
#### Issue Description

#### Browser Information

* Browser Name, Version: chrome.
* Operating System: Windows 10.
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

![image](https://user-images.githubusercontent.com/3291551

[2018-09-06 18:24] shwetharv opened #589 "Product Landing Page: user story #5"
#### Issue Description

It says link with href of "features" is not linked to that section of the page. I have pasted the correct link but still this error persists.

#### Browser Information

Chrome
* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-09-06 21:42] tbushman commented on #589
@shwetharv You're on the right track with your location hashes, but you don't need the full url if you are linking within the page.
Change these
[code]
to
[code]

[2018-09-06 21:51] tbushman commented on #588
@cats77 If I understand correctly, you have completed the Survey Form project and want to move on to the next project. You will return to the freeCodeCamp site's curriculum menu and select the next project. There, you'll find a link to the Codepen template.
You may wish to build your project outside of Codepen. You can use a text editor / IDE to write your code instead of using Codepen. Use an HTM

[2018-09-06 21:52] tbushman commented on #587
@lohchoonhuah Thank you!

[2018-09-07 13:20] ghost opened #592 "Testing but not showing bug"
#### Issue Description

When I put the code for checking the project Product landing page. Date 9/7/18 at 6:47 PM

#### Browser Information

* Browser Name, Version: Chrome Version 68.0.3440.106
* Operating System: Windows 7 64bit
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

![image](https://user-images.githubusercontent.com/40673955/45221361-c

[2018-09-07 14:47] shwetharv commented on #589
Thank you. I made the changes but it still says "#features" does not link!

[2018-09-07 14:59] ValeraS commented on #589
@shwetharv Your link is not linked to a corresponding element on the page. For each link, you should add a corresponding element, for example `<section id="features">....</section>`

[2018-09-07 15:17] shwetharv commented on #589
Thank you so much @ValeraS Its working! ;)

[2018-09-07 15:17] #589 closed

[2018-09-07 18:44] vardan1992 opened #593 "Able to pass all tests without adding keypress event."
#### Issue Description

Able to pass all tests without adding keypress input.

#### Browser Information

* Browser Name, Version: chrome
* Operating System: windows 10
* Mobile, Desktop, or Tablet: desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

![image](https://user-images.githubusercontent.com/15278328/45237328-f9115c00-b2fb-11e8-8123-db968025c55f.png)

[2018-09-07 19:27] ValeraS commented on #593
@vardan1992 thanks for reporting this. The issue is resolved already, but a new bundle is not deployed yet.

[2018-09-07 19:44] ValeraS commented on #592
@ravanasur It is a known issue. Rerun your pen and you will able to run tests and view results. For manual rerun the pen, in Settings - Behavior uncheck Auto-Updating Preview and press an appeared Run button.

[2018-09-08 20:29] greaterpat opened #595 "A nav-link button leading to a correspondig section on the page"
#### Issue Description

#### Browser Information

* Browser Name, Version: Google Chrome, Version 68.0.3440.106 (Official Build) (64-bit)
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

![product_landing_page](https://user-images.githubusercontent.com/41129845/45258326-8b256d00-b3ad-11e8-838e-3de36b14df1c.PNG)

[2018-09-09 18:55] tbushman commented on #595
@greaterpat Hello! At first I couldn't see the issue, but the test is looking for the `href` attribute on the `.nav-link` element itself (`<a>`), so change it to:
[code]

[2018-09-11 04:05] AerospaceEngineerBadAss opened #596 "Survey Form test 1 is incorrect"
Survey Form

#### Issue Description

when running the "Survey Form" test suit, the first test keeps failing.
I believe it is wrong because it is expecting the "<title></title>" element to contain a <h1></h1>
title inside. This does not seem right as the <title> tag is for the tab that shows up in the browser

#### Browser Information

* Browser Name, Version: google Chrome Version 68.0.3440.106 (O

[2018-09-11 05:28] ValeraS commented on #596
@AerospaceEngineerBadAss You have two elements with `id="title"` but a value of the `id` attribute must be unique in the whole document. Remove `id="title"` from the `title` element and you'll pass this test. For further reading https://developer.mozilla.org/en-US/docs/Web/HTML/Global_attributes/id.

[2018-09-11 14:40] DevLinh opened #597 "We could not find a user by the name of "email-submit""
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-09-12 02:24] versatal opened #598 "pomodoro clock testing errors"
#### Issue Description

When testing my pomodoro project 3 errors are reported.
1: 14. When a break countdown reaches zero (NOTE: timer MUST reach 00:00), and a new countdown begins, the element with the id of "timer-label" should display a string indicating a session has begun
2: 15. When a break countdown reaches zero (NOTE: timer MUST reach 00:00), a new session countdown should begin, counting

[2018-09-12 02:38] versatal commented on #598
So I fixed the errors 1 and 2 listed above.  Still have the audio problem.

[2018-09-12 11:41] greaterpat commented on #595
OK, Mr Tracy, thanks so much. I appreciate

On Sun, 9 Sep 2018, 19:55 Tracey Bushman, <notifications@github.com> wrote:

[2018-09-12 20:53] k-sav opened #599 "Data Visualization Projects - Visualize Data with a Bar Chart - Test 10 failure"
#### Issue Description
Test 10 is failing and I'm not even sure how it is attempting to test for 'alignment'.

[code]

#### Browser Information
Google Chrome
Version 68.0.3440.106 (Official Build) (64-bit)
* MacOS High Sierra
* Desktop

#### Your Code / Link to Your Pen
[Codepen](https://codepen.io/k-sav/pen/PdeRRj)

[2018-09-12 21:05] tbushman commented on #599
@kris-savoia Thanks for your patience. This should be fixed when #546 is merged. I'll check back with you.

[2018-09-12 21:15] tbushman commented on #597
@DevLinh Could you please share some more information? Which test gives this error? It would be helpful to be able to test your code as well if you don't mind sharing it.

[2018-09-12 21:16] #595 closed

[2018-09-13 04:07] picklu opened #600 "Test doesn't run properly on subsequent click"
#### Issue Description

The bowser needs to be refreshed everytime I run the test. Test doesn't run properly on subsequent click. The result button shows "Testing 1/17" in yellow color.

#### Browser Information

* Browser Name, Version: Chrome, Version 68.0.3440.106 (Official Build)(64-bit)
* Operating System: Android and Windows10
* Mobile, Desktop, or Tablet:  Mobile, Tablet, and Desktop

####

[2018-09-13 07:53] #374 closed

[2018-09-13 07:53] #391 closed

[2018-09-13 07:53] #571 closed

[2018-09-13 07:53] #600 closed

[2018-09-13 07:56] tbushman commented on #600
Related to #571 This will be fixed as soon as the new bundle is merged at the CDN. @picklu Thanks for reporting.

[2018-09-13 08:16] tbushman commented on #593
Fixed in https://github.com/freeCodeCamp/cdn/pull/10

[2018-09-13 08:16] #593 closed

[2018-09-13 11:45] #512 closed

[2018-09-13 15:03] AnyaLinley opened #601 "Fork Me! FCC: Test Suite Template is Empty"
Fork Me! FCC: Test Suite Template

When clicking on the link in the project instruction page, I am taken to the following page which has an empty project.
https://codepen.io/freeCodeCamp/pen/MJjpwO
 I would expect this to be a full, working project that passes all the tests.

#### Issue Description

The issue is that the linked project is empty and I would expect to see a full, working project her

[2018-09-13 15:47] AnyaLinley commented on #601
Seems that none of the template projects are working for me. They all come up empty.

[2018-09-13 20:08] holmedw commented on #562
Hello,
   I am working on the Landing Page project and do not understand why the
logo within my nav bar is not the same height as the one in the example on
FCC. I'm also unsure why but it seems over sized. What is in my code that
is responsible for this.

Edward

On Mon, Aug 27, 2018 at 10:09 PM Tracey Bushman <notifications@github.com>
wrote:

[2018-09-13 21:00] #430 closed

[2018-09-13 21:00] #531 closed

[2018-09-13 21:36] #528 closed

[2018-09-13 22:00] tbushman opened #602 "CDN not auto-updating"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

We need to create credentials, `CDN_USER` and `CDN_API_KEY` and see if that fixes the CDN deploying process. I'll do a PR at fCC/CDN after the current batch of fCC/testable-projects-fcc PRs are merged. The last mer

[2018-09-13 22:05] tbushman commented on #601
Hello, @AnyaLinley -- there should be two Codepen links on most of the curriculum pages for projects. One is for a blank template like these -- intended to be empty and filled in by students. The other link is a finished example.

[2018-09-14 17:35] AnyaLinley commented on #601
Oh my goodness, I'm such an idiot. Thank you. Think I was a bit tired yesterday.

[2018-09-14 17:36] #601 closed

[2018-09-14 19:46] etoler1841 opened #603 "Front-End Project #3 (Drum Machine)"
#### Issue Description
App fails to pass test 6, even though all requirements are met:

#### Browser Information

* Browser Name, Version: Google Chrome ^69.0.3497.92 (64-bit)
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen
[CodePen Link](https://codepen.io/etoler1841/full/vzaRyq/)
The problem was initially discovered when running through NPM

[2018-09-14 20:19] ValeraS commented on #603
@etoler1841 add a listener on `keydown` event instead of `keyup`. Test dispatches only `keydown` event.

[2018-09-14 20:36] ValeraS commented on #598
@versatal you don't need to `load` audio to reset it instead `pause` the audio and set `currentTime` to 0.

[2018-09-14 20:54] #603 closed

[2018-09-14 20:54] etoler1841 commented on #603
That fixed it. Thanks!

[2018-09-15 02:30] #598 closed

[2018-09-15 20:39] tchaffee commented on #343
@tbushman What's the status of this? Anything I can help with? Or try to take it over if you are stumped?

[2018-09-15 20:40] tchaffee commented on #346
@tbushman I notice this is in the "To Do" list? What's the plan for this? It seems to me like this is actually working fine and we can close this?

[2018-09-15 20:49] kennyray commented on #346
You can close it.  I just didn’t know how it worked.

Kenny

[2018-09-16 00:58] Kenesrd opened #604 "Whi dont work. if size true?"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-09-16 21:37] tbushman commented on #604
@Kenesrd
Hello, please provide some more information about the error you are experiencing. Indicate which test is failing and provide a screenshot, a code sample, or a link to your project.

[2018-09-17 07:55] DevLinh commented on #597
oh thank you so much, I solved this problem, in the submit button must have
the "name" property, I tried and fixed it, thank you so much again !

Vào Th 5, 13 thg 9, 2018 vào lúc 04:15 Tracey Bushman <
notifications@github.com> đã viết:

[2018-09-17 15:46] #433 closed

[2018-09-17 15:46] #543 closed

[2018-09-17 15:47] #561 closed, assigned to nobody

[2018-09-17 16:09] footios opened #605 "Code should pass all the tests in Technical Documentation Project"
Technical Docs Page

#### Issue Description

I get 13/16 on the tests but the code is good.
Bugs:
1)
"4. Each <section> element with the class of "main-section" should also have an id that corresponds with the text of each <header> contained within it. Any spaces should be replaced with underscores (e.g. The <section> that contains the header "Javascript and Java" should have a corresponding id="J

[2018-09-17 17:45] PhoenixAscension opened #606 "Portfolio test is not working correctly"
#### Issue Description

<p>Currently working on personal portfolio project for fcc. When i run test, the match the viewport  height objective says failed. I tried to correct for several hours till i realized the sample project page is also failing the same objective. I believe there is an issue with the test.</p>

#### Browser Information

* Browser Name, Version: Chrome Version 69.0.3497.92 (Offi

[2018-09-17 17:47] PhoenixAscension commented on #592
Ran into this several times. Save progress then reload page

[2018-09-18 15:28] numoonchld opened #607 "D3 bar chart tooltip test not passing"
#### Issue Description

Tooltip appears on mouseover on bars of the bar chart, but the two tooltip tests fail.

It works in the example though - but the tooltip in the example https://codepen.io/freeCodeCamp/full/GrZVaM looks very different compared to the tooltip in the curriculum tooltip challenge: https://learn.freecodecamp.org/data-visualization/data-visualization-with-d3/add-a-tooltip-to-a-d3

[2018-09-18 16:49] nasyaas opened #608 "Links working as intended"
#### Issue Description

The test says that my nav-links do not work. When I open in a web browser each item in the nav-bar jumps correctly to the corresponding section on the page.

#### Browser Information

* Browser Name, Version:  Safari
* Operating System: Mac OSx High Sierra
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-09-18 17:19] tbushman commented on #608
@nasyaas This is similar to #595 . Please see the solution there. :)

[2018-09-18 17:33] PhoenixAscension commented on #606
Thank you for the update.

On Tue, Sep 18, 2018, 1:26 PM Tracey Bushman <notifications@github.com>
wrote:

[2018-09-18 18:33] tbushman commented on #607
Project uses external tooltip library https://popper.js.org/

@numoonchld Thanks for reporting. There was a fix that may fix this and it hasn't been merged to the CDN yet. I'll check back with you.

[2018-09-18 19:09] ValeraS commented on #606
@PhoenixAscension by default element has `box-sizing: context-box`, if you set `height: 100vh` and `padding-top: 30vh`, actual size of element will be `130vh`. You can fix it by setting `box-sizing: border-box` or `height: 70vh`.

[2018-09-18 20:59] tbushman commented on #607
@numoonchld My guess is that the delay on the tooltip visibility causes the test to fail. Are you using tooltip.js or popper.js ?
If tooltip.js, there's a delay option. Can you please try adding the `options.delay` properties as described in https://popper.js.org/tooltip-documentation.html and see if that fixes it? I don't see a similar option for popper.js ...

[2018-09-18 21:07] tbushman commented on #602
@raisedadead Awesome. Thanks.
Keeping this open in case the auto-deploy still doesn't work.

[2018-09-18 21:30] ValeraS commented on #602
@tbushman Can you restart a build job on Travis-CI for the last merge commit in the master branch https://travis-ci.org/freeCodeCamp/testable-projects-fcc/builds/429633731? Then we will see it works or not.

[2018-09-18 22:09] tbushman commented on #606
The same test failed on https://codepen.io/freeCodeCamp/pen/zNBOYG in Windows10 Chrome when I tested it earlier.

[2018-09-19 09:50] leonard246 commented on #82
Had the same issue HTML file does not recognised linked CSS file.
Adding this to the HTML head section fixed it for me.
`	<style type="text/css">
		@media (max-width: 500px) {
		#header { display: flex; }
	}
	</style>`

[2018-09-19 09:51] leonard246 commented on #82
Had the same issue HTML file does not want to recognise the linked CSS file.
Adding style tags to the HTML fixed it for me.
<style type="text/css"> @media (max-width: 500px) { #header { display: flex; } } </style>

[2018-09-19 09:52] leonard246 commented on #82
Had the same issue HTML file does not want to recognise the linked CSS file.
Adding style tags to the HTML fixed it for me.
`<style type="text/css"> @media (max-width: 500px) { #header { display: flex; } } </style> `

[2018-09-19 10:17] PhoenixAscension commented on #606
Ran test in windows 10. Passed!

On Wed, Sep 19, 2018, 1:25 AM Valeriy <notifications@github.com> wrote:

[2018-09-19 12:32] numoonchld commented on #607
I've loaded the popper.js CDN as it is a dependency of bootstrap I believe.

I don't think I'm using either popper.js or tooltip.js for the tooltip, because the challenge here: https://learn.freecodecamp.org/data-visualization/data-visualization-with-d3/add-a-tooltip-to-a-d3-element/ doesn't say anything about using popper or tooltip.

I do a .append('title) and set the tooltip text using .text("t

[2018-09-19 13:34] numoonchld opened #609 "D3 Scatter Plot: 2 of 16 tests fail for the example project."
#### Issue Description

Copy pasted form test result's log on the project codepen:

#### Browser Information

* Browser Name, Version: chrome Version 69.0.3497.100 (Official Build) (64-bit)
* Operating System: high sierra 10.13.6
* Mobile, Desktop, or Tablet: notebook

#### Your Code / Link to Your Pen

Example project: https://codepen.io/freeCodeCamp/full/bgpXyK

Project description: https://lear

[2018-09-19 15:34] tbushman commented on #606
@ValeraS This is Chrome / Windows 10 right now... strange indeed.
![capture](https://user-images.githubusercontent.com/7049294/45763966-e138b280-bbee-11e8-8aeb-87c7264cbc16.JPG)

[2018-09-19 22:13] tbushman commented on #605
@footios Hello. There are two things that will help you pass the tests. For test 4, please move the `<article>` element outside of the `<header>` element because it is being counted in the `innerText` query from the test.
The second thing is that there are anchor references that are not linked to additional elements within the main sections (sub-sections like `#Safe #Fast #Expressive`). This is va

[2018-09-19 22:28] tbushman commented on #569
@ale8k I will be closing this issue soon. Please let us know if @ValeraS suggestion didn't work.

[2018-09-19 22:29] #570 closed

[2018-09-19 22:32] tbushman commented on #585
@theAsthana I am closing this issue. Please let us know here if you have further questions.

[2018-09-19 22:32] #585 closed

[2018-09-19 22:32] #569 closed

[2018-09-19 22:34] tbushman commented on #586
Also tested in Firefox. @Anastasiia0905 please let us know here if you have further questions.

[2018-09-19 22:34] #586 closed

[2018-09-19 22:36] tbushman commented on #596
@AerospaceEngineerBadAss Please let us know here if you have further questions.

[2018-09-19 22:36] #596 closed

[2018-09-19 22:37] tbushman commented on #597
@DevLinh I wasn't any help on this! Glad you figured it out!

[2018-09-19 22:37] #597 closed

[2018-09-19 22:40] tbushman commented on #599
This project implements wider `<rect>` elements than the current error margin of 11px. That is valid, however I'm guessing you'll have better test success if the bars are thinner. @k-sav will you please try it with thinner bars and let me know if that helps?

[2018-09-19 22:42] tbushman commented on #602
@ValeraS I did this last night, forgot to mention to you... it doesn't seem to be working, still. :/

[2018-09-19 22:44] #519 closed

[2018-09-19 22:44] tbushman commented on #520
Closing due to inactivity.

[2018-09-19 22:44] #520 closed

[2018-09-19 22:46] #511 closed

[2018-09-19 22:46] tbushman commented on #477
Closing due to inactivity.

[2018-09-19 22:46] #477 closed

[2018-09-19 22:48] tbushman commented on #461
@Tarmstrong95a I don't think that was the issue, but we would need more info. Please let us know here if you have any questions.

[2018-09-19 22:48] #461 closed

[2018-09-20 00:30] tbushman commented on #425
@juandiegon The only `<rect>` element that is `height=0` is the very first one. I feel like this is an error, but I'm not finding it. Everything seems in order in the code. Did you figure something out?

[2018-09-20 00:31] tbushman commented on #524
@Parag-Rana Please let us know if you have additional questions.

[2018-09-20 00:31] #524 closed

[2018-09-20 00:34] tbushman commented on #554
@versatal It looks like you got it all sorted. Happy coding.

[2018-09-20 00:34] #554 closed

[2018-09-20 00:35] tbushman commented on #562
@holmedw Will you please open a separate issue for the Product Landing page if you are still experiencing errors? Thank you.

[2018-09-20 00:35] #562 closed

[2018-09-20 00:37] tbushman commented on #568
Closing due to inactivity.

[2018-09-20 00:37] #568 closed

[2018-09-20 06:57] ValeraS commented on #602
@tbushman I have checked it on my GitHub account and it works.
It may not work if current CDN_USER with CDN_API_KEY doesn't have permission to write in CDN repo.

Let's merge # 610, then # 611 and see what happens.

[2018-09-20 08:57] k-sav commented on #599
@tbushman
I tried
`const barWidth = 2;` instead of
`const barWidth = x.bandwidth();`
Test 10 is still failing in the same way.

[2018-09-20 13:28] raisedadead commented on #602
Sorry. That's totally my bad, I forgot to add @camperbot to the collaborator list. This should be OK now. Can you please re-check.

[2018-09-20 14:38] tchaffee commented on #596
@tbushman @ValeraS Thanks for helping get so many of these older issues closed yesterday. We were overdue for reviewing and closing older issues.

[2018-09-20 14:40] #587 closed

[2018-09-20 15:07] tbushman commented on #343
@tchaffee I think this was fixed a while ago and not closed. I haven't seen localStorage problems for a while. Closing.

[2018-09-20 15:07] #343 closed

[2018-09-20 15:08] tbushman commented on #346
@tchaffee I left it open since there was the intriguing suggestion to be able to move the test window around. Not an urgent thing, so closing.

[2018-09-20 15:08] #346 closed

[2018-09-20 15:10] tbushman commented on #372
@KDCinfo Indeed. Closing.

[2018-09-20 15:10] #372 closed

[2018-09-20 15:18] Juwdohr opened #612 "Error when testing JS Calculator"
#### Issue Description

Trying to run tests on the Javascript calculator.

#### Browser Information

* Browser Name, Version: Chrome, Latest
* Operating System: Win10 Pro
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

https://s.codepen.io/juwdohr/debug/aaKGPB/yYryLOVXmVxM
#### Screenshot

![image](https://user-images.githubusercontent.com/16342673/45828546-05ab9200-bcb6-

[2018-09-20 21:09] tbushman commented on #599
@k-sav OK sorry. It's only three bars failing alignment on either end of the axis -- not sure why. The pen will pass if there are fewer axis ticks:
[code]
... but not always (i.e. `i%5` doesn't pass) :/
Keeping this open to reference a fix so that `surroundingTicks` is an empty array instead of null in such cases.

[2018-09-21 08:18] footios commented on #605
@tbushman
Thank you so much for your reply.
It passes all the tests.
I implemented the changes you suggested.
As about the <code><article></code> I moved it completely because it wasn't even asked for.
And if you don't mind me saying, after <code><section></code> should come a <code><header></code>, having <code><article></code> was still erroneous.
As about the <code> <.nav-link></code> I did all

[2018-09-21 10:09] deepintocode opened #613 "Pomodoro Clock in React - Failing 6 tests"
#### Issue Description

My Pomodoro clock project, written in React, is failing 6 tests, while it looks and acts like it is supposed to.

#### Browser Information

* Browser Name, Version: Chrome 69
* Operating System: Mac OS 10.13
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

http://mindless-step.surge.sh/
https://github.com/deepintocode/pomodoro_clock

[2018-09-21 11:44] ValeraS commented on #613
@deepintocode your timer does not show time `00:00`, tests need it for work.

[2018-09-21 11:50] deepintocode commented on #613
Thanks, it was an easy fix.

[2018-09-21 11:50] #613 closed

[2018-09-21 14:20] tbushman commented on #605
@footios OK great.

[2018-09-21 14:20] #605 closed

[2018-09-23 13:44] numoonchld commented on #607
@ValeraS

thanks - that guide was helpful - all tests pass now!

@tbushman

thanks for taking the time

[2018-09-23 21:53] jpacsai opened #614 "Pomodoro clock - Tests are failing despite clock functioning as it should"
#### Issue Description

I have created a pomodoro clock app with react + redux, works as it should but still failing on tests which has to do with the countdown function, which are: 11, 22, 23, 24, 25, 26
Can anybody look at my code and give me direction how to fix this?

error message is the same at all the failing tests:
[code]
My question on fcc forum: https://forum.freecodecamp.org/t/pomodoro-

[2018-09-24 01:31] tbushman commented on #612
@Juwdohr Looks like you got this sorted out?

[2018-09-24 01:32] #607 closed

[2018-09-24 08:32] jpacsai commented on #614
_...massive facepalm..._
 @tbushman I could kiss you right now 😅 Thank you so much, I feel so stupid but so so happy, I can get my certificate now thanks to you 😘

[2018-09-24 10:49] #614 closed

[2018-09-24 15:48] ZakSmith89 opened #615 "the #5 requirement is not passing"
User Story #5: Within the img-div element, I should see an element with a corresponding id="img-caption" that contains textual content describing the image shown in img-div is the questions that is not passing

#### Issue Description

I submit it to have it pass but it is not passing but I have all of the right code

#### Browser Information

* Browser Name, Version: Chrome: version: Version 69.0.

[2018-09-25 00:44] petercr commented on #615
@ZakSmith89 Which challenge is this from exactly? :thinking:

[2018-09-25 01:06] tbushman commented on #614
@jpacsai :D You shouldn't feel stupid since your project was otherwise tip-top and you love cats. :)

[2018-09-25 10:26] jasoncwilley opened #616 "Typo"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

##User Story #4: The projects section should contain at least one element with a class of project-tile to hold a project.
Change "project-tile" to "project-title"

[2018-09-25 10:32] #616 closed

[2018-09-25 14:21] tchaffee commented on #419
@tbushman I would like to work on this. But the CodePen in question no longer fails. Do you have any information about where our code is removing inline styles?

[2018-09-25 14:31] tchaffee commented on #530
@FloPtitos I cannot reproduce this either. All the tests pass for me. Can you make sure your browser is fully maximized when you run the tests? If it's still failing please let us know and we will try to find someone who has the same setup as you and can reproduce the error.

[2018-09-25 14:54] ZakSmith89 commented on #615
This is on the tribute project

[2018-09-25 14:58] FloPtitos commented on #530
Thank you for you response, the problem has been fixed yet. I think it’s because i used safari, I don’t know why.

Florentino Neves

[2018-09-25 16:49] tchaffee commented on #530
@FloPtitos we don't support Safari yet. Can you try with Chrome and let us know if the tests pass? Thanks for your help.

[2018-09-25 17:14] FloPtitos commented on #530
I have tried and all the tests passed ! Thanks !

[2018-09-25 18:27] #530 closed

[2018-09-26 03:31] tbushman commented on #419
@tchaffee In the second-to-last test, I remember wondering whether this
[code]
was erasing other inline styles. Does setting style for one css property in this way leave other inline styles in place?

[2018-09-26 03:40] tbushman commented on #615
@ZakSmith89 There's only one error in the snippet, but I don't think it would cause test failure:  `alt "picture from google"` should be `alt="picture from google"`
There could be other contributing factors detectable in context with the rest of the code, so if that doesn't do it, please share a link to the project.

[2018-09-26 06:26] rubendmatos1985 opened #617 "Drum Machine With other Logic"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-09-26 06:29] rubendmatos1985 commented on #617
Hello friends i dont know if i am doing the things right. I found my own logic for my drum machine in freecodecamp. I love Vanilla Javascript and i am trying to develop my skills in it. the problem its that i went out a little bit of the parameters of the bundle.js. It dont recognize my code as well.but at the end the result it is the same.

[2018-09-26 06:34] ValeraS commented on #617
@rubendmatos1985 share your code, please.

[2018-09-26 12:09] tchaffee commented on #419
Yes, if I remember right that would replace the existing style. Thanks for the tip, I'll get on this.

[2018-09-26 22:45] tchaffee opened #618 "Add a warning that some browser extensions may intefere with the test suite."
See issue https://github.com/freeCodeCamp/freeCodeCamp/issues/18183 for details.

It might be tricky to find a good spot to add this warning, because it can't be in the test suite itself. Perhaps directly in the CodePen that is forked.

[2018-09-26 22:47] tchaffee commented on #618
Note that it's also recommended "we submit feedback though the extension letting the Privacy Badger team know they are blocking a file that is critical for freeCodeCamp users."

[2018-09-26 22:55] djjwengler opened #619 "Tooltip not passing bar chart test"
#### Issue Description

I'm trying to pass the bar chart FCC test suite. So far I've managed to jump through all the hoops necessary in order to pass 12/14 tests, the last two remaining being the tooltips. As far as I can tell I have completed the required user stories (tooltip shows up, has the proper id, showing the same data-date info) but it still won't pass. Perhaps I need to use another way

[2018-09-27 00:27] nathanhannig commented on #606
I have this issue. The issue from my findings occur when the window zoom settings are less than 100% (hit ctrl + - on keyboard to zoom out)

My example
https://codepen.io/breakpoint/full/bpeRRM/

[2018-09-27 03:41] DemitriFelder opened #620 "Build a Tribute Page issue with User Story #8"
My css is just not working and I don't know why.

I'm doing the first project and can't seem to get line #8 right.
"The img element should responsively resize, relative to the width of its parent element, without exceeding its original size."

* Browser Name, Version: Firefox
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Desktop

[code]

[2018-09-27 15:20] LaodeMFauzan opened #621 "Javascript Calculator - Test Suite Issue"
#### Issue Description

I already have a several item with id that matched with the unit test,but I still failed to pass any test in javascript calculator test suite. Am I doing it wrong ?. I'm using reactjs as the framework to create the calculator.

#### Browser Information

* Browser Name, Version: Chrome Version 62.0.3202.94 (Official Build) (64-bit)
* Operating System: Kubuntu
* Mobile, Deskt

[2018-09-27 17:43] rubendmatos1985 opened #622 "When my markdown previewer first loads, the default markdown in the #editor field should be rendered as HTML in the #preview element"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-09-27 17:44] rubendmatos1985 commented on #622
i dont know if i maybe i am wrong. I am making all what it says but the script dont recognize it

[2018-09-27 19:24] SAnschutz opened #623 "Build a JavaScript Calculator"
#### Issue Description
I've completed my Front End Library Project "Build a JavaScript Calculator", but two tests are failing, which I believe shouldn't be:

Test 11. When the decimal element is clicked, a "." should append to the currently displayed value; two "." in one number should not be accepted

  This shows:  "AssertionError:  An input of "5 . 5 . 5" should display 5.55"
  though my displa

[2018-09-27 20:09] ValeraS commented on #623
@SAnschutz next sequence of inputs gives the wrong answer `5` `.` `.` `0` `AC` `5` `.` `5` `.` `5`

[2018-09-27 20:41] tbushman commented on #622
@rubendmatos1985 While using html tags is valid in Markdown, the exercise is testing for Markdown syntax in heading elements.
Please have a look at the two options for forming Markdown headings:
https://www.markdownguide.org/basic-syntax/#headings

[2018-09-27 20:43] tbushman commented on #615
@ValeraS Good catch! Thank you!

[2018-09-27 20:45] tbushman commented on #606
@nathanhannig OK! Thank you!

[2018-09-28 01:01] tbushman commented on #619
@djjwengler The project tests don't currently support this tooltip method. The tests look for changes in css properties to ensure the tooltip is visible on hover. There doesn't seem to be a way of testing the visibility of the svg `<title>` element, and the `data-date` test isn't distinguishing the correct element. Very sorry.

[2018-09-28 01:03] tbushman commented on #620
@DemitriFelder This looks right. Can you please share your html for context?

[2018-09-28 01:46] DemitriFelder commented on #620
<main id="main">

  <style scoped>
    #img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  </style>
  <title id="title">Tribute page to Lain</title>

  <header>
    <div id="img-div">

      <h1 id="image"> <img alt src="https://ai.fancaps.net/galleries/Serial_Experiments_Lain/ep02/Serial_Experiments_Lain_Screenshot_0114.jpg"></h1>
      <h2 id="img-caption">
        La

[2018-09-28 01:47] DemitriFelder commented on #620
<header>
    <div id="img-div">

      <h1 id="image"> <img alt src="https://ai.fancaps.net/galleries/Serial_Experiments_Lain/ep02/Serial_Experiments_Lain_Screenshot_0114.jpg"></h1>
      <h2 id="img-caption">
        Lain of Serial Experiments Lain</h2>
    </div>
  </header>

[2018-09-28 01:53] DemitriFelder commented on #620
<div id="img-div">

      <h1 id="image"> <img alt src="https://ai.fancaps.net/galleries/Serial_Experiments_Lain/ep02/Serial_Experiments_Lain_Screenshot_0114.jpg"></h1>
      <h2 id="img-caption">
        Lain of Serial Experiments Lain</h2>
    </div>

[2018-09-28 05:08] SAnschutz commented on #623
THANK YOU!!  I should have caught that -- what can I say, I'm very new to testing, also new to Github...still learning.  When you pointed that out I realized exactly what I had missed, have now fixed it, and all tests passing.   Many thanks.

[2018-09-28 07:43] #621 closed

[2018-09-28 09:50] rubendmatos1985 opened #624 "mistake"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-09-28 09:51] rubendmatos1985 commented on #624
the header is always at the top but the script do not recognize it. Any idea??

[2018-09-28 11:41] LaodeMFauzan commented on #621
@ValeraS oh I see. Thanks for the correction.

[2018-09-28 17:30] tbushman commented on #620
@DemitriFelder Make sure the `id="image"` is on the `<img>` element. Change your code to:
[code]

[2018-09-28 18:17] tbushman commented on #624
@rubendmatos1985 Is there a way you can structure your project so that the `header` always has `position: fixed;` ? For example, if you remove the script for switching the `float-header` class, you can add `class="float-header"` to `<header>` statically, then add `margin-top: 150px;` to `#section1` ...

[2018-09-30 01:56] #620 closed

[2018-10-02 16:53] nt-michael opened #627 "Flex box issues - Technical documentation issue"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]
Detector says there's no flexbox item whereas there's!
#### Screenshot

![1](https://user-images.githubusercontent.com/13780028/46363786-e32d5780-c66b-11e8-97be-3b1f0261fdf3.PNG)
![2](https://user-images.githubusercontent.com/137800

[2018-10-02 18:05] ValeraS commented on #627
@nt-michael value of a `position` property can't be flex https://developer.mozilla.org/en-US/docs/Web/CSS/position
You need to use a `display` CSS property https://developer.mozilla.org/en-US/docs/Web/CSS/display

[2018-10-04 17:28] jachiu89 opened #628 "Error or not on submit button?"
#### Issue Description

I believe I have done this correct but it keeps saying...
16. Inside the form element, I am presented with a button with id="submit" to submit all my inputs.
The button with id="submit" is not inside the form element : expected 0 to be above 0
AssertionError: The button with id="submit" is not inside the form element : expected 0 to be above 0
    at s.c (https://cdn.freeco

[2018-10-04 18:21] ValeraS commented on #628
@jachiu89 You have the following structure of your code:
[code]

[2018-10-05 01:30] petercr opened #629 "Test #5 on on Drum Machine Project with React"
#### Issue Description
The issue is that the testing suite says that when a `.drum-pad` element is clicked, the audio element sound inside should be triggered. All 9 of the `drum-pad`s have working `click` event listeners which work fine on the live site. **Link here** [petercr.github.io/react-drum-machine](https://petercr.github.io/react-drum-machine/)
Yet test 5 says
[code]
And test 6 also refer

[2018-10-05 02:16] tbushman commented on #629
@petercr The test checks whether the `<audio>` element is playing or paused, but I see you're using a separate Audio object for playing the sounds and not the HTML elements.
Could you try changing the sounds object to reference the `<audio>` DOM objects?
[code]

[2018-10-05 02:18] #623 closed

[2018-10-05 02:20] #606 closed

[2018-10-06 19:42] mkavadias opened #630 "FCC Drum Machine - TestCase 6"
#### Issue Description

FCC Drum Machine project

Using Framework: React+Redux
Running the code ( see codepen link below) both locally and on codepen, an audio is triggered to play when the key 'Q' is pressed.
Running test: Test case 6 fails.
With message: No audio plays when the Q key is pressed : expected true to be false

#### Browser Information

* Browser Name, Version: Chrome Version 69.0.34

[2018-10-06 20:19] ValeraS commented on #630
@mkavadias you handle lowercase keys, but the user story says to handle uppercase keys.

[2018-10-08 01:32] petercr commented on #629
So I tried to implement the fix by like show in your comment. But then I get an error when I try to reference the `this.sound.*` props or values. I just get  `TypeError: Cannot set property of someProp null`
Please see attached screenshot :smiley: :smiley_cat:

I think I'm just going to _disable the React event listeners_, and move them to a **plain JavaScript script** file.
That way it will just

[2018-10-08 22:22] superfungirl opened #631 "Tribute Page"
#### Issue Description

I do not understand why the tests are different when I resize my browser. When I make my browser smaller, I'm getting a 10/10 and when I make it larger, it is a 9.

#### Browser Information

Chrome
Windows
Desktop

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

![image](https://user-ima

[2018-10-08 23:32] tbushman commented on #631
@Aynanufi When the viewport is smaller, the image is as wide as the parent element that contains it, and is counted as centered. When the viewport is larger, the image sits on the left side and fails the centered test. One simple fix is to add `margin: 0 auto;` to your `<img>` element, and as long as `<img>` has `display: block;` , that will center it. :)

[2018-10-09 08:58] #493 closed

[2018-10-09 17:20] dexguitar opened #635 "The check for sending an email to https://www.freecodecamp.com/email-submit fails all the time"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-10-10 05:30] tbushman commented on #629
@petercr The main thing is, the tests query the `<audio>` HTML elements, so those should play / pause. I'll keep this open so we can discuss supporting Audio objects.

[2018-10-10 05:37] #419 closed

[2018-10-11 01:24] rudylemus opened #636 "profile link"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-10-12 15:44] petercr commented on #629
Thanks @tbushman I was able to get it to work and pass the tests by adding a variable to hold `document.getElementById()` instead of using the audio inside of `this.sounds{ }`
**Thanks for all your help**, I'm going to close the issue now. 👍 😄
**If you want to check it out, [here's a link to the project](https://elastic-franklin-f434fd.netlify.com/)**

[2018-10-12 15:44] #629 closed

[2018-10-12 22:23] GiaFil7 opened #637 "Cannot read property 'length' of null - Scaterplot Graph"
#### Issue Description
Test #8 fails despite the dots visually aligning with the points on the y-axis.
#### Browser Information
* Browser Name, Version: Google Chrome Version 69.0.3497.100 (Official Build) (64-bit)
* Operating System: Windows 10

#### Your Code / Link to Your Pen
https://codepen.io/GiaFil/pen/qJqzWX
#### Screenshot

![2018-10-13 01_22_18-window](https://user-images.githubuserconte

[2018-10-14 11:45] luciomcamargo opened #638 "Problem with Calculator Test Suite"
#### Issue Description

8 failures reporting on your calculator test suite that don't match with the output of this website:
http://luciocamargo.com/FCC_Calculator/

#### Browser Information

* Chrome Version 69.0.3497.100
* Microsoft Windows 10 Prop
*Desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-10-14 22:03] aljf opened #639 "Pomodoro Clock Tests not passing when they work"
#### Issue Description

When running the tests for this app, the test will not pass but if manually checked work.

#### Browser Information

* Browser Name, Version: Chrome 69
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

![image](https://user-images.githubusercontent.com/38641143/46922735-14464a00-cfd3-11e8-8f54-4

[2018-10-15 00:22] 0silverback0 opened #640 "validation error"
#### Issue Description

im getting the validation error in my code when i type a number over 120 and click submit but when i run the test it still say i failed it?

#### Browser Information

im using google chrome
* Browser Name, Version:
* Operating System: windows
* Mobile, Desktop, or Tablet: laptop

#### Your Code / Link to Your Pen

[code]
https://codepen.io/0SilverBack0/pen/ePGBeE
#### Scree

[2018-10-15 00:32] paulTchaa8 opened #641 "markdown previewer not rendered"
My markdown previewer project proposal can be found here: [my markdown previewer](https://codepen.io/paulTchaa8/pen/Xxjevg)

I've succeeded to make it locally with nodeJs, and i pasted my codes on codepen and imported the `react, react-dom and remarkable` packages with the `setting button` on the js side, but here there is no render as i got locally with nodeJs.

#### Issue Description

#### Brows

[2018-10-15 06:33] ValeraS commented on #638
@luciomcamargo your elements with needed `id`s not clickable. For example, an element with `id=5` doesn't listen for `click` event. Try to move `id`s to inner elements of your `fcc` tags as it has done for `id=decimal`.

[2018-10-15 06:41] ValeraS commented on #639
@aljf if set session length 1 and break length 1 and press start then `time-left` shows a strange value.
![image](https://user-images.githubusercontent.com/10867286/46933854-641e2300-d05e-11e8-9d16-5fa5bdf7f8d0.png)

[2018-10-15 06:47] ValeraS commented on #640
@0silverback0 `min` and `max` should be defined for an element with `id=number`.

[2018-10-15 06:54] ValeraS commented on #641
@paulTchaa8 remove line
[code]

[2018-10-15 08:56] 0silverback0 commented on #640
Hey thanks! i would of never figured that out!

[2018-10-15 08:56] #640 closed

[2018-10-15 09:52] paulTchaa8 commented on #641
THANKS my dear @ValeraS  you're right. Now it renders exactly as expected. thanks. Now, why is it said the markdown is not well interpreted in the #editor and/or not well rendered in the #preview?? Could you check this please? i thought it was perfect ,but the FCC checker doesn't agree:
https://codepen.io/paulTchaa8/pen/Xxjevg

[2018-10-15 10:29] paulTchaa8 opened #642 "HELP - the BackgroundColor doesn't variate as expected"
#### Issue Description

The **Random Quote** Machine project is validated by the FCC, though the background-color and the text color doesn't variate at all as expected. What could be the problem PLEASE ?

#### Browser Information

* Browser Name, Version: Firefox 62.0.3
* Operating System:  windows 7 home premium
* Mobile, Desktop, or Tablet: PC

#### Your Code / Link to Your Pen
https://codepen.i

[2018-10-15 11:37] ValeraS commented on #642
http://api.jquery.com/animate/ `background-color` and `color` cannot be animated unless the [jQuery.Color plugin](https://github.com/jquery/jquery-color) is used.

[2018-10-15 11:40] GiaFil7 commented on #637
@tbushman This didn't work for me... I'm still failing the test...

[2018-10-15 11:59] ValeraS commented on #637
I confirm, it fails in Chrome and passes in Firefox.

[2018-10-15 12:14] GiaFil7 commented on #637
Just tested it on Microsoft Edge and it passes alli tests.

[2018-10-15 21:46] paulTchaa8 commented on #642
THANKS A LOT dear @ValeraS you're right. As i included the jquery.Color plugin, the color animation got started. thanks..

[2018-10-16 01:35] imi-tating opened #644 "User Story #14 Fails"
#### Issue Description

User Story #14 Fails - also Fails on project example (https://codepen.io/freeCodeCamp/full/VPaoNP)

#### Browser Information

* Browser Name, Version: Safari (Version 12.0)
* Operating System: Version 10.14
* Mobile, Desktop, or Tablet: Notebook

#### Your Code / Link to Your Pen

https://codepen.io/imitating/pen/pxWJMW?editors=1000

#### Screenshot

<img width="522" alt="i

[2018-10-16 01:39] imi-tating commented on #644
Sorry, realized afterward that it works fine in Chrome. :(

[2018-10-16 01:39] #644 closed

[2018-10-16 02:14] ansharmuhammad opened #645 "can't test code"
#### Issue Description

I can't test my code.

#### Browser Information

* Browser Name, Version: chrome,
* Operating System: windows 7 home.
* Mobile, Desktop, or Tablet: Desktop, sony vaio sve14118fgb.

#### Your Code / Link to Your Pen

[code]

#### Screenshot

![image](https://user-images.githubusercontent.com/39853838/46988609-05bf7600-d12c-11e8-8173-acf8ae2f895c.png)

[2018-10-16 04:15] tbushman commented on #645
@ansharmuhammad Hello, @ValeraS may be better at answering react questions, because I've been wrong advising on this. The example at https://stackoverflow.com/a/43942653/3530394 shows a way to link the media state to the react state...

[2018-10-16 04:30] #642 closed

[2018-10-16 04:35] tbushman commented on #637
@GiaFil7 This passed in Chrome, FF on mac... Since we support Firefox now, it's good to submit. Thank you!

[2018-10-16 04:36] tbushman commented on #636
Hello, please provide some more information about the error you are experiencing. Indicate which test is failing and provide a screenshot, a code sample, or a link to your project.

[2018-10-16 05:05] #641 closed

[2018-10-16 05:09] tbushman commented on #602
@raisedadead I'll do a new PR at fCC/cdn soon and until we can resolve this.

[2018-10-16 05:17] tbushman commented on #641
@paulTchaa8 Thanks for your patience while we wait for the updated code to sync with the fCC CDN.

[2018-10-16 07:03] ValeraS commented on #645
@ansharmuhammad an `audio` element doesn't have a method `stop` which you try to use:
[code]
for stop audio you can use a method `pause()`, and if you need, reset `currentTime` to `0`

[2018-10-16 11:29] rubendmatos1985 opened #646 "React-Redux Pomodoro Clock"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-10-17 02:52] Sh7ne opened #648 "Markdown previewer using other library"
#### Issue Description

The test basically will only pass the html result parsed by 'Marked'. I tried 'Remarkable' but some of the interpretation is not exactly the same like:

In Marked,

[code]

will be parsed to

[code]

for the other library, like 'remarkable' I am using,

will be parsed to

[code]

Due to this difference, the test won't passed.

#### Browser Information

* Browser Name, Versi

[2018-10-17 09:08] rubendmatos1985 commented on #646
Thanks for answer but if you look better in the Bundle js Audio Section it
says The audio element with id= "beep" must be 1 second or longer. If I
take of the 5 seconds pause i will not able to pass.

And why then i can not pass the other option wich says. The element with id
of beep must stop playing and be rewound to the begining when the element
with id of reset is clicked. I have this one. The

[2018-10-17 09:40] ValeraS commented on #646
@rubendmatos1985
1. in `UserInfo`
[code]
2. in `Reducers`
[code]
3. in `actions`
[code]
4. in `Audio`
[code]
And you need to solve only one test.

[2018-10-17 10:07] rubendmatos1985 commented on #646
Wow 😊!!! You are awesome... could you please explain me the logic of the
curry functions in action??. I thought they were usefull just to make async
actions... like fetching or something like that. I am trying to fix the
other problem. Thanks a lot. I am learning alone and sometimes it is so
hard. If you could give me some recomendations or any book to read i will
appreciate that. Thanks

El mié.,

[2018-10-17 10:12] rubendmatos1985 commented on #646
that was easy to find!!! thaaaaanks and thaaaaanks!!!

https://codesandbox.io/s/pmlo2py64j

El mié., 17 oct. 2018 a las 12:07, Ruben Matos (<rubendmatos1985@gmail.com>)
escribió:

[2018-10-17 11:38] ValeraS commented on #646
@rubendmatos1985 You are right in 3. it was overhead, it may be written as:
[code]

In most case, I use documentation and of course Google.

[2018-10-17 11:46] ValeraS commented on #648
@Sh7ne Thank you for reporting this. This issue has been fixed in #643 and a new bundle will be deployed soon.

[2018-10-17 15:41] el-rubio opened #649 "There should be one .nav-link for every element with the class of "main-section", and every .nav-link should be within #navbar : expected 14 to equal 13 AssertionError: There should be one .nav-link for every element with the class of "main-section", and every .nav-link should be within #navbar : expected 14 to equal 13"
Hello, Im having trouble with #10 it looks like I have an extra nav-link but if I deleted it then I get another error. Please help been struggleling with this for hours now.

#### Issue Description

the issue only happens when i go to check my work .

#### Browser Information

* Browser Name, Version:
* Operating System: Widnows
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your

[2018-10-17 16:01] tbushman commented on #649
@el-rubio In your first section, change the tag, from:
[code]
to
[code]

[2018-10-17 16:13] petercr commented on #630
@mkavadias If you go ahead and use `event.keyCode` in React then both the uppercase and lowercase letter keys return the exact same keyCode 👍
That's what I did with mine 😃

[2018-10-17 16:14] el-rubio commented on #649
Thank you!!!!

[2018-10-17 16:55] mkavadias commented on #630
Thanks for the reply.
I originally used keyCode; however I found on MDN
https://developer.mozilla.org/en-US/docs/Web/API/KeyboardEvent/keyCode
Here they suggest not to use it anymore. The tests worked fine initially, I
overlooked the lowercase. Using key.toLowerCase worked also.

On Wed, Oct 17, 2018 at 6:13 PM Peter Cruckshank <notifications@github.com>
wrote:

[2018-10-18 01:41] alexdisdier opened #650 "Technical Documentation Page - SmoothScroll script conflict with test suite script"
#### Issue Description for the Technical Documentation Page

I included a script for a smoothScroll navigation of navbar links but it generates an error and only passes 15 out 16 tests. If I remove the smoothScroll I pass 16 out of 16 tests.

The message from your test script stipulates: "...the element with id="navbar" should be shown on the left half of the screen." and "window.scroll is not a f

[2018-10-18 03:29] aljf commented on #639
Also in the Chrome Dev Console I am receiving an error message 'SyntaxError: Unexpected token :' this hasn't affected the codes performance but perhaps has something to do with the issue.

[2018-10-18 07:18] ValeraS commented on #650
@alexdisdier `scroll` is predefined method on the `window` object https://developer.mozilla.org/en-US/docs/Web/API/Window/scroll. To avoid the issue you can rename your variable `scroll` or don't use the variable at all:
[code]

[2018-10-18 16:41] el-rubio opened #651 "Images wont show up on my page, only the link? is there a reason for this am i missing a piece of code?"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-10-18 17:26] ajhernandez95 opened #652 "I have nearly the exact same code as the passing example but its giving me all sorts of ERRORS"
#### Issue Description

I run the pomo test and receive all sorts of errors yet i have the same code as the passing template

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen
[link to code](https://codepen.io/ajhernandez95/pen/eLjeyr?editors=0010)

[code]

#### Screenshot

[2018-10-18 18:06] AliNisarAhmed opened #653 "Pomodoro Clock: The audio element with id="beep" must be 1 second or longer."
#### Issue Description

All tests passing, except the one written in subject. The audio file I have uploaded is 5 seconds long. I have tried every method that I could find to make the audio test work by to no avail. It gives "NaN" as the duration of the audio, which does not make sense to me. When exactly is it checking for the duration of the audio? before the component has even mounted?

#### Br

[2018-10-18 18:51] ValeraS commented on #652
@ajhernandez95
1. look at line 120:
[code]
2. your button which resets timer does not have `id="reset"`

[2018-10-18 19:09] ValeraS commented on #653
@AliNisarAhmed on reset, instead of load audio pause it and rewound it to the beginning.

[2018-10-19 00:20] sheedSVNTH opened #654 "Drum Machine - Q-key "Not Working""
#### Issue Description

#### Browser Information

one of the 8 tests is not passing. the error is claiming that my keypress for audio is not working for letter 'Q'. It works on my end (using Chrome).

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-10-19 02:31] ajhernandez95 commented on #652
I updated these two things and now the test wont finish testing past the 26th test.

[2018-10-19 04:34] ValeraS commented on #654
@sheedSVNTH test sends a `Q` key, but you handle a `q` key.

[2018-10-19 13:55] #651 closed

[2018-10-21 02:55] #648 closed

[2018-10-21 20:45] Moto42 commented on #639
The timeout error is caused by the  hackey way the test suite trys to 'speed up time' not working.
Basically, it tries to force every instance of setTimeout() and setInterval() to fire at 30ms and doesn't always work.

At line 106, if you change 1000 to 30 you can make your clock run at the speed the tests are expecting.

[2018-10-22 08:44] AriaDou opened #658 ""Personal Portfolio" can't go through the test in the chrome, while the same code can pass through all the test in the chrome."
#### Issue Description

When I finished my project "Personal Portfolio", my code can't go through the test in the chrome, while the same code can pass through all the test in the chrome.
The failed test is: "2. The height of the welcome section should be equal to the height of the viewport."
My height is set to 100 vh but the test says I am off by 1 px.
You can see the detail in the screen shoot.

[2018-10-22 08:57] AriaDou opened #659 ""Personal Portfolio" can't go through the test on chrome , but pass through the test on firefox."
#### Issue Description

The code can't go through the test on the chrome, while the same code pass through all the test on firefox.
Here is the failed test: "2. The height of the welcome section should be equal to the height of the viewport."
I've set the height to 100vh, but the test on chrome says I am off by 1 px.

#### Browser Information

* Browser Name, Version: Chrome 70.0.3538.67 / Firefox

[2018-10-22 13:42] #659 closed

[2018-10-22 16:44] aljf commented on #639
Okay thanks for letting me know! Should I keep the issue open or should we close it?

[2018-10-22 18:10] ValeraS commented on #639
@aljf In your case, It's not a problem of the tests. Your Pen still has issues. For example:
- in the break time, if press `reset`, `timer-label` does not reset to `session`;
- after finish session time, timer shows break length and, only after it, shows time and countdowns.

Maybe, it is not all the issues.

[2018-10-22 23:38] Moto42 commented on #639
I'd keep it open.
The test wants the clock to run at 33x speed, and fails to force it to do so.
This doesn't fix all the problems in your pen, but it does give the test what it expects to see.

[2018-10-23 04:46] ValeraS commented on #639
@Moto42 why do you think so? In this Pen tests successfully force the timer to run faster. And you'll see it if you run the tests.

[2018-10-23 16:40] numoonchld opened #661 "Drum machine test 8 not passing - please help!"
#### Issue Description

In the linked drum machine project, the sound for each drum element plays when:

- corresponding key is pressed and
- when the button on the screen is clicked on.

However, the test fails for keypress. Please help.

#### Browser Information
* Browser Name, Version: Chrome,  69.0.3497.100
* Operating System: macOS
* Mobile, Desktop, or Tablet: notebook

#### Your Code / Link

[2018-10-23 17:31] ValeraS commented on #661
@numoonchld test doesn't send `keypress` event. Change it to `keydown` and you'll pass the test.

[2018-10-23 17:36] numoonchld commented on #661
@ValeraS thanks! all parts of test passed!

[2018-10-23 17:37] #661 closed

[2018-10-24 16:28] Moto42 commented on #639
When I wrote that, the 1000 ms for each second was defined on line 106 and it was failing.
Now it's on 107 and the test is working.  I dunno what they changed.

You are correct that it still fails test for the reset button and session-ending tests; the question wasn't about those though.
For the tests not clicking your reset button, try changing the <p> elements to <button>s, or something else inh

[2018-10-24 22:24] jmaldia opened #664 "Not passing even though the solution is correct"
#### Issue Description

#### Browser Information

* Browser Name, Version: Chrome 70.0.3538.67
* Operating System: Mac OS Mojave
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

 https://codepen.io/jonmaldia/pen/NOEzgQ

#### Screenshot

![image](https://user-images.githubusercontent.com/1197551/47465169-b9260b80-d7b9-11e8-8a58-fcc4b0b41e28.png)

![image](https://user-images.github

[2018-10-26 09:08] Delux007 opened #665 "BUILDING PORTFOLIO PAGE"
#### Issue Description
By basically trying to run the test

#### Browser Information
That I have done the code properly, repeatedly doing what everyone has said to do. But still cannot pass the project.

*Anonymous
* MAC OS
* DESKTOP

BUILDING A PORTFOLIO PAGE
https://codepen.io/Delux003/pen/zmygVY

[code]

[2018-10-26 17:45] zachdog6 opened #666 "Drum Machine test 6"
#### Issue Description
Test 6 of drum machine fails saying no audio was triggered, but pressing the keys clearly triggers the audio.

#### Browser Information
Chrome

* Operating System: Windows
* Mobile, Desktop, or Tablet: Laptop

#### Your Code / Link to Your Pen
https://codepen.io/zachdog6/pen/RevjoE

#### Screenshot
![image](https://user-images.githubusercontent.com/23748179/47583405-fe168300

[2018-10-27 19:34] tbushman commented on #664
@jmaldia Looks like you fixed this. What was causing it?

[2018-10-27 19:37] tbushman commented on #665
@Delux007 In order to have the `#welcome-section` be the same height as the viewport, use a relative height, like:
[code]

[2018-10-27 19:57] ValeraS commented on #666
@zachdog6 replace `keypress` with `keydown`
@DiegoAlexanderManjarres on line 208 use `e.key.toLowerCase()`

[2018-10-27 20:10] ValeraS commented on #664
@jmaldia place your `a` tags into `li` tags.

[2018-10-27 23:39] zachdog6 commented on #666
Thanks for the help!

[2018-10-27 23:39] #666 closed

[2018-10-28 03:54] nguyenvandat123 opened #668 "a"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-10-29 23:40] MarkMcDaniels opened #669 "H2 tags"
#### Issue Description

It doesn't always recognize the h2 tags. The one on the bottom of my editor works when it's simple, but if I add a sentence to it, it will fail.

#### Browser Information

* Browser Name, Version: Chrome current
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: desktop

#### Your Code / Link to Your Pen

https://codepen.io/MarkMcDaniels/pen/wYOWLK
[code]

#### Sc

[2018-10-30 02:15] tbushman commented on #669
@MarkMcDaniels Your tests pass in Firefox, so you can consider your project completed. Bug reproduced in Chrome. Thanks for reporting this.

[2018-10-30 02:15] tbushman commented on #668
Hello, please provide some more information about the error you are experiencing. Indicate which test is failing and provide a screenshot, a code sample, or a link to your project.

[2018-10-30 02:18] tbushman commented on #658
@AriaDou This is a known issue in Chrome. Can you try ensuring the browser zoom setting is 100% and see if that helps?

[2018-10-30 13:11] esmith1412 opened #670 "Random Quote Machine Horizontal Centering Test Failed"
#### Issue Description

I created a 3 x 3 CSS Grid, and placed my quote-box element in the center cell. I thought that this would be enough for the horizontal alignment test to pass, but every time I run it, I get the message that the element is not horizontally centered. Does horizontal centering mean something else that I'm not aware of? I'm not sure why this wouldn't pass this test. It's curren

[2018-10-30 13:37] ValeraS commented on #670
@esmith1412 Your `#quote-box` does not in the center of the cell. To center it, add next to `#quote-box` CSS:
[code]

[2018-10-30 13:56] #670 closed

[2018-10-30 13:56] esmith1412 commented on #670
Thanks! I didn't realize it had to be centered within the cell itself.

[2018-10-30 14:52] pulamusic opened #671 "different results when running tests twice in a row"
#### Issue Description

When I run the tests on the data vis: bar chart I get a certain number of tests passed (e.g., 10/14 passed). Without changing my code, if I refresh the page and run the tests again I get a different number of tests passed (e.g., 12/14 passed).

#### Browser Information

* Browser Name, Version: Chrome version 70.0.3538.77
* Operating System: MacOS Mojave
* Mobile, Desktop,

[2018-10-30 21:24] paulTchaa8 opened #672 "ISSUE on the decimal point notation"
#### Issue Description
Hi. In fact it's not really a huge issue, though i would like to ask that for some of us who are francophons as sample, we use the comma**(,)** instead of the decimal dot notation**(.)** , and obviously i know that when doing so, the checker will not accept. I could use a regex to change it. What do you think about that dears??

#### Your Code / Link to Your Pen
this is [my

[2018-10-31 00:09] nimaipandit opened #673 "Chrome displays differently than Firefox or Vivaldi"
#### Issue Description

Chrome displays huge gap at top between header and image
the site looks great in Vivaldi and Firefox

#### Browser Information

* Browser Name, Version: Chrome version 70.xxx
* Operating System: Mac OSX 10.13
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

see huge gap here in chrome: https://share-inspiration.d.pr/s59qVQ

[2018-10-31 18:39] hinero2017 opened #674 "cant submit an email for Product landing page"
#### Issue Description

can't pass by the test #12 "When I click the #submit element, the email is submitted to a static page (use this mock URL: https://www.freecodecamp.com/email-submit) that confirms the email address was entered (and that it posted successfully)."

#### Browser Information

i use VS Code and freeCodeCamp CDN link

* Browser Name, Version: Chrome
* Operating System:
* Mobile, D

[2018-11-01 01:56] tbushman commented on #674
Also a problem in #635
@Bouncey @raisedadead I realized my suggestion in #635 is invalid for this method because I don't know how to use access-control settings in the form element, or if there's something wrong with the endpoint. ...

[2018-11-01 05:09] ltbdev opened #675 "I dont Know how to solve this"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

![fork me fcc test suite template](https://user-images.githubusercontent.com/43053044/47833661-583f9a00-dd9c-11e8-8623-cf6e3075f14c.png)

![fork me fcc test suite template](https://user-images.githubusercontent.com

[2018-11-01 07:04] tbushman commented on #675
@ltbdev For the first error, make sure your `<img id="header-img">` element has `id="header-img"` and not the `<a>` element.
The second error refers to the `<form>` element. It should have the `action` attribute, i.e., `<form action="https://www.freecodecamp.com/email-submit">`
Please note that other students have reported errors with the email-submit url. There is an issue open for it: #674

[2018-11-01 07:13] tbushman commented on #673
@nimaipandit I couldn't reproduce the issue in Chrome (mac) -- no gap seen. If your tests pass, you may consider your project completed.
<img width="983" alt="screen shot 2018-11-01 at 1 12 37 am" src="https://user-images.githubusercontent.com/7049294/47837922-501f3480-dd73-11e8-8684-cd185bfb0e08.png">

[2018-11-01 07:15] tbushman commented on #672
@paulTchaa8 A valid point, yes. :) Thank you.

[2018-11-01 07:18] tbushman commented on #671
@pulamusic This is a known problem with the tooltip tests for cases where the viewport crops the graph. The tests query a random `<rect>` and test the `mouseover` event. If that rect isn't in view, the tests fail. We minimize this error by using a very wide viewport setting in the automated tests. Try expaning the window width and let us know if that helps.

[2018-11-01 07:19] ltbdev commented on #675
Thank you very much tbushman  and I noticed these errors after I posted it here  and I  have solved it thank you so much for your support

[2018-11-01 18:45] rachel2muller opened #676 "Personal Portfolio User Story #10"
#### Issue Description

User Story #10: The height of the welcome section should be equal to the height of the viewport.

Help! I can't figure out what is going on with it. I have tried making it 100vh and still it isn't working. I don't know if I am changing the right one for this. I have even added class intro to the welcome section in css that didn't work. . I have add an id of welcome section

[2018-11-01 19:49] ValeraS commented on #676
@rachel2muller by default elements have `box-sizing: context-box` and an actual height is calculated as `border-top + padding-top + height + padding-bottom + border-top`. For further reading https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing.
You can either set `box-sizing: border-box` and `height: 100vh` or change `height` according to the above formula.

[2018-11-01 20:12] ValeraS commented on #674
@tbushman the test does not submit a form it only checks attributes of tags.
@hinero2017, please provide a full text of the error.

[2018-11-01 20:14] ValeraS commented on #635
@dexguitar, please provide a full text of the error.

[2018-11-01 21:08] ValeraS commented on #673
@nimaipandit try changing to `grid-template-rows: auto;`

[2018-11-02 00:14] hinero2017 commented on #674
hi @tbushman here is my code below. thank you in advance.

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <title>Product Landing Page</title>
</head>
<body>

<div class="container-header">
     <hea

[2018-11-02 00:52] tbushman commented on #674
@hinero2017 , @ValeraS is right. I can check in a bit, but I think the tests look for a `<button>` element for "submit" and a `method="POST"` on `<form>` ...

[2018-11-02 00:55] chrisbchrist opened #677 "Markdown Previewer Test #4"
#### Issue Description
My pen is failing test #4 but I don't believe it should be.  The editor loads default example code which is rendered to HTML in the preview, and any additional markdown is rendered correctly and apart from styling it functions identically to the example pen.  I get this error message:

The markdown in #editor is not being interpreted correctly and/or rendered into #preview :

[2018-11-02 01:31] hinero2017 commented on #674
i actually redone all page and its just start working LOL

[2018-11-02 01:31] #674 closed

[2018-11-02 06:38] ValeraS commented on #677
@chrisbchrist don't use a `smartypants` option, with it marked replaces `...` with `…` and test can't handle it.

But without the option test # 6 fails. It happens because in the renderer Marked passes `'` as `&#39;`.

To pass the test you could remove `'` from headings in your initial contents.

[2018-11-02 15:49] fratule opened #679 "Test failed (media queries and flexbox tests)"
#### Issue Description

Project name: [ "Build a Product Landing Page" ](https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-projects/build-a-product-landing-page/)

Hello!

I have media queries and flexbox in my project, but tests on these points are failed in Chrome (only when files are local). When I opened a link from GitHub Pages - all tests are passed.

The issue exist

[2018-11-02 17:55] fendermaniac opened #680 "Data Visualize with Heatmap. Test’s not recognizing cell properties"
#### Issue Description

When running the tests for the Heatmap project I get an error on test 7

7. Each cell will have the properties “data-month”, “data-year”, “data-temp” containing their corresponding month, year, and temperature values.

ERROR: Could not find property “data-month” in cell : expected null to not equal null

But when you look at each individual cell element, you can see the dat

[2018-11-02 18:53] aymoun95 opened #681 ".nav-link navigation"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-11-03 19:03] yosefco3 opened #682 "my img is responsive (i used bootstrap4) but it claims it isn't."
#### Your Code / Link to Your Pen
https://codepen.io/yosefco3/pen/qjbMPR
[code]

#### Screenshot

[2018-11-03 19:08] yosefco3 opened #683 "my navbar always on the viewport"
it claims it doesn't.
here is my pen :
https://codepen.io/yosefco3/pen/XyWzGO

[2018-11-03 19:52] chrisbchrist commented on #677
Thanks so much Valeriy, the apostrophes were the culprit!  Nobody ever suspects the contractions!  Issue resolved.

[2018-11-03 19:52] #677 closed

[2018-11-04 15:31] fendermaniac commented on #680
My y-axis was inversed.  Still need to figure out test 9, but test 7 has been resolved.

[2018-11-04 15:31] #680 closed

[2018-11-04 19:40] rubendmatos1985 opened #684 "Scatter Plot Graph"
#### Issue Description

Hi my graph has the element with id tooltip and the requiered property. Any idea why i can not pass the test???

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-11-04 21:05] ValeraS commented on #684
@rubendmatos1985 You have a `tooltip` variable which is bound to `text` element inside `div` with `id="tooltip". And you work with `text` element instead of `div`.

[2018-11-05 00:30] fendermaniac opened #685 "D3 Heat Map Project, test #9 not passing"
#### Issue Description

I have passed every other test in this project, but am stuck on test 9.

My heat map should have cells that align with the corresponding month on the y-axis.

month values don't line up with y locations : expected false to be true

I don't seem to understand what this test is looking for in order to resolve as true.

I followed other issues with this same test such as issue

[2018-11-05 08:50] rubendmatos1985 commented on #684
thanks!!!! 🤗

El dom., 4 nov. 2018 a las 22:05, Valeriy (<notifications@github.com>)
escribió:

[2018-11-05 09:22] ValeraS commented on #685
@fendermaniac Don't hide your y-axis.

[2018-11-05 13:48] fendermaniac commented on #685
@ValeraS That was exactly it.  Thanks!

[2018-11-05 13:48] #685 closed

[2018-11-05 17:31] KrzysztofSniegowski opened #686 "Landing page navbar fixed-top issue"
#### Issue Description

I have used Bootstrap 4 to make my landing page. I made the navbar with class fixed-top. The navbar stays on top all the time but the test doesn't pass this point.

#### Browser Information

I'm using Chrome browser and CodePen editor.

* Browser Name, Version: Google Chrome, 69.0.3497.92
* Operating System: Windows 10 Pro 1803
* Mobile, Desktop, or Tablet: Laptop Lenovo Z5

[2018-11-05 17:38] KrzysztofSniegowski commented on #686
I have found the solution!!!:):). I had a redundant div in the header section. Once I deleted it all is fine.

[2018-11-05 17:38] #686 closed

[2018-11-05 20:01] ibiwan opened #687 "Visualize Data with a Heat Map - Mouseout Tooltip Auto Test Failing"
#### Issue Description
When I load up my project in codepen and run the automated tests, the "tooltip disappears when mouse is not over a cell" test fails.  When moving my mouse around, I can see the tooltip appearing and disappearing as I would expect.

I looked up the issue in the forums and found other people reported the same thing.  In their case, it was solved by using display:none instead o

[2018-11-05 21:31] paulTchaa8 opened #688 "HELP ON GETTING THE FULL render of my React Calculator"
#### Issue Description

Hi. Please why can’t i get the codepen [full render](https://codepen.io/paulTchaa8/full/NOmbwM) of my react calculator while the [codepen render](https://codepen.io/paulTchaa8/pen/NOmbwM) is correctly rendered.? I mean until now, i just had to replace the **pen** on the url of my code with the **full** to get a complete render, but nothing is rendered for my calculator. Any

[2018-11-05 21:46] ValeraS commented on #688
@paulTchaa8 Try in the Pen setting change JavaScript Preprocessor to `Babel`

[2018-11-06 15:14] RebekahAmerson opened #689 "project-tile tested as project-title"
#### Issue Description
The instructions say to have sections with the class of project-tile but the test looks for the class of project-title.

[2018-11-07 15:44] #669 closed

[2018-11-07 15:46] tbushman commented on #676
@ValeraS Thank you! This also addresses #658 .

[2018-11-07 15:48] tbushman commented on #658
@AriaDou Please see the comment from @ValeraS in #676 for a possible solution!

[2018-11-07 15:50] tbushman commented on #564
Closing due to inactivity.

[2018-11-07 15:50] #564 closed

[2018-11-07 15:53] tbushman commented on #617
Closing due to inactivity.

[2018-11-07 15:53] #617 closed

[2018-11-07 16:05] tbushman commented on #638
@luciomcamargo I hope the solution from @ValeraS reached you! Let us know in another issue if you have further questions.

[2018-11-07 16:05] #638 closed

[2018-11-07 16:06] tbushman commented on #645
@ansharmuhammad I hope you received the solution provided here by @ValeraS . If you have other issues, please let us know!

[2018-11-07 16:06] #645 closed

[2018-11-07 16:07] #646 closed

[2018-11-07 16:09] ansharmuhammad commented on #645
thankyou for the response. So sorry for the mistake I made

Pada tanggal Kam, 8 Nov 2018 00.06, Tracey Bushman <notifications@github.com>
menulis:

[2018-11-07 16:37] #684 closed

[2018-11-07 16:37] tbushman commented on #681
Hello, please provide some more information about the error you are experiencing. Indicate which test is failing and provide a screenshot, a code sample, or a link to your project.

[2018-11-07 16:40] tbushman commented on #679
@fratule Please set up your project with a local server, such as `live-server` or Python simple server. Here is some more information:  https://www.npmjs.com/package/live-server
In order for the tests to detect CSS in external files, a server of some kind is needed. You may also put your code into Codepen.

[2018-11-07 17:17] elementh11 opened #690 "same test suite for different projects"
#### Issue Description

When I am forking the CodePen for the "Survey Form" project (2nd project) it comes with the same test suite as for the "Tribute page" project (1st project).

#### Browser Information

CodePen
* Browser Name, Version: Chrome
* Operating System: Win10
* Mobile, Desktop, or Tablet: Desktop

[2018-11-08 08:11] GK-Hynes opened #691 "Inconsistent text results between localhost, Codepen and gh-pages"
#### Issue Description
I'm getting inconsistent test results when running the tests locally, on Codepen and on gh-pages

#### Browser Information
* Browser Name, Version: Chrome Version 70.0.3538.77 (Official Build) (64-bit)
* Operating System: Windows 10 Home 1803
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen
https://codepen.io/GerHynes/pen/YRwYzR

https://gk-hynes.gith

[2018-11-08 09:17] ValeraS commented on #691
@GK-Hynes what test fails?
![image](https://user-images.githubusercontent.com/10867286/48188973-1391a100-e350-11e8-8161-48fa85998c72.png)

[2018-11-08 12:53] esmith1412 opened #692 "Test#11 Won't pass in JavaScript Calculator Project - Removing Extra Decimals"
#### Issue Description

I am fulfilling the requirement of removing extra decimals for the JavaScript Calculator project, but I still get the indication that the test failed. Even though putting in the values they suggest (e.g., 5.5.5 and 5..0) produces the result they say I should expect (i.e., 5.55 and 5.0), the app doesn't register it as success.

#### Browser Information

* Browser Name, Versi

[2018-11-08 13:36] ValeraS commented on #692
@esmith1412 An input of `5 . . 0` should display `5.0`
![image](https://user-images.githubusercontent.com/10867286/48201801-49e11780-e374-11e8-9128-32bb8fce63ac.png)

[2018-11-08 14:05] esmith1412 commented on #692
Please elaborate; when I type in 5..0, it's interpreted as 5, so how is that functionally any different than what a calculator should do?

[2018-11-08 14:20] ValeraS commented on #692
Show a calculator what works like yours. Your calculator should prevent incorrect input.

[2018-11-08 14:55] esmith1412 commented on #692
My thinking was that it was since it removes the extra decimal in the background, and makes the calculation the correct way, that should suffice.

[2018-11-08 16:38] esmith1412 commented on #692
I'm trying to use an onchange handler in my display element, so that the above specified changes are made every time someone presses a button, but for some reason, the switch statement doesn't recognize that action type.

I checked that the action creator is called every time a button is pressed, but for some reason it doesn't actually run the code in its CASE block.

[2018-11-08 16:43] esmith1412 commented on #692
[code]

[2018-11-08 17:45] ValeraS commented on #692
call `removeOps` from `handleClick` and fix errors in `removeExtraOps`

[2018-11-08 22:12] GK-Hynes commented on #691
It's test 13.

I'm getting the message:

https://res.cloudinary.com/gerhynes/image/upload/v1541714561/failing_test_screenshot_wb9hic.png

13. Inside the form element, I can select a field from one or more groups of radio buttons. Each group should be grouped using the name attribute.
All your radio-buttons must have a value attribute : expected 20 to equal 18
AssertionError: All your radio-buttons

[2018-11-09 09:55] SpecialAgentOne commented on #441
Hello, so i tried to fix this issue in my project by removing spaces between iframe elements and do other things, but still have same error, that script couldn`t found the video tag.

And if i copy code from the example, i still recieve an error.

Link to my project:
[https://codepen.io/SpecialAgentOne/pen/OogyXy]

Error message is below:
`#video should be an <iframe> or <video> element
AssertionE

[2018-11-09 10:35] SpecialAgentOne commented on #278
I have tried to add more content according to @sfiquet solution, but still have this issue in Chrome:
https://codepen.io/SpecialAgentOne/pen/WaYvrV

[2018-11-09 10:49] ValeraS commented on #278
@SpecialAgentOne look carefully at line `4`

[2018-11-09 11:16] ValeraS commented on #441
@SpecialAgentOne you have another element with `id="video"`, delete it for pass the test.

[2018-11-09 11:36] SpecialAgentOne commented on #278
@ValeraS thanks! Now all is OK!

[2018-11-09 12:02] OahMada opened #693 "The tooltip tests of 'Visualize data with a bar chart' project"
#### Issue Description

It seems that the "Visualize data with a bar chart" project's tooltip tests would only clear by declaring a `tooltip`  variable, but I can rather append the tooltip 'div' when `mouseover` event occurs and remove it when `mouseout` event, this way I do not need to declare the variable, also, I don't need to hide it in the first place. The second idea wouldn't pass the tests

[2018-11-09 13:38] ValeraS commented on #687
@ibiwan change `display` to `visibility` to pass the test

[2018-11-09 14:07] SpecialAgentOne commented on #441
@ValeraS Thank you! You are the hero of my day!

[2018-11-09 17:15] #693 closed

[2018-11-09 18:34] tbushman commented on #602
@ValeraS @raisedadead The deploy isn't working. I will be manually submitting a new bundle.js to fCC/CDN soon. Please let me know if I can help fix this -- it's not clear to me. We can test a deploy with the currently open PR, https://github.com/freeCodeCamp/testable-projects-fcc/pull/667 .

[2018-11-09 19:47] ValeraS commented on #602
@tbushman It's an issue with credentials

With this PR you can't test deploy. Deploy runs only if `src/**/*` has been changed.

To test deploy you can:
1. clone the `CDN` repo;
2. in Travis change Environment Variables:
[code]
3. restart build for last merge commit;
4. look at a result
![image](https://user-images.githubusercontent.com/10867286/48284717-454e5900-e471-11e8-8f1b-78f04e1718fd.png)

[2018-11-09 20:59] esmith1412 commented on #692
I was able to get it to work, without using <code>handleClick</code>, because I couldn't get it to work properly. Thanks for your help!

[2018-11-09 20:59] #692 closed

[2018-11-11 15:14] Sonali93 opened #696 "Failing Test #12 on Technical Documentation Page"
#### Issue Description
My code is failing test #12 of technical documentation Test Suite.
I have checked for cases inside the nav links and headers of sections but it does not fix the issue.
I looked around and found a similar yet closed issue: https://github.com/freeCodeCamp/testable-projects-fcc/issues/329

#### Browser Information
* Browser Name, Version: Google Chrome Version 70.0.3538.77
* Op

[2018-11-11 20:20] #696 closed

[2018-11-12 02:26] ashefree opened #699 "System doesn't seem to capture my input elements inside the form"
I have created my radio buttons and my drop down menu inside my <form> </form> element tags but
I get an error message saying my elements are not in the form
#### Issue Description

#### Browser Information

* Chrome,
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

https://codepen.io/soter-tristan/pen/OaRzma

[code]

[2018-11-13 09:56] raisedadead commented on #602
I am available later in about 7-8 hours from now, if anyone is interested to pair and debug this.

[2018-11-13 18:18] fratule commented on #679
Thank you!

[2018-11-13 18:18] #679 closed

[2018-11-14 15:21] tbushman commented on #699
@ashefree Please remove the closing `</div>` tag on this line:
[code]
...and then a new error will remind you to use a `value` attribute on your radio buttons.

[2018-11-14 15:30] tbushman opened #700 "Update Survey Form User Story to require radio button `value` attribute"
#### Issue Description

https://github.com/freeCodeCamp/freeCodeCamp/issues/17506
#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-11-14 15:35] tbushman commented on #690
@elementh11 Thanks for bringing this to our attention. The dropdown menu to select the project seems to be inoperable at the moment.

[2018-11-14 16:00] tbushman commented on #690
@elementh11 In the Javascript window in codepen, there are two lines that set the default test suite on load. The first line starts with `const projectName = ` and the second starts with `localStorage.setItem(...`
If you remove those two lines and re-load you can select whichever test suite you wish.

[2018-11-15 23:03] Norv52 opened #701 "Product Landing Page: ifame not being accepted."
#### Issue Description

#### Browser Information

I am attempting to complete the Product Landing Page Challenge.  The iframe portion of the test is not being accepted.
* Browser Name, Version:  I use Google Chrome, Version 70.0.3538.102 (Official Build) (64-bit)
* Operating System:  Windows 10 (64 bit)
* Mobile, Desktop, or Tablet:
I use a laptop (Dell Inspiron 15000)
#### Your Code / Link to You

[2018-11-16 04:57] tbushman commented on #701
@Norv52 Your video will pass if it has `id="video"` so add that to your `iframe` and that should do it. :)
[code]

[2018-11-16 13:47] Norv52 commented on #701
Got it!!!!   On to the next one.  Again, thanks for suggestion.  It made me review every line of html and css.  Found a couple of "hanging <divs>.

[2018-11-16 13:47] #701 closed

[2018-11-16 19:26] dagolinuxoid opened #702 "Technical documentation page | Tests 15/16 | bug on not fullscreen run | not duplicate!"
Source: Responsive web design certification / Responsive Web Design Projects / Build a Technical Documentation Page

* Browser Name, Version: latest Firefox and Chromium
* Operating System: Linux (Elementary OS but it doesn't matter)
* Mobile, Desktop, or Tablet: Desktop

When viewport is wide enough I see all green 16/16 tests passed but when I narrow it and run tests again I receive only 15/16.

[2018-11-18 00:32] fbattle commented on #689
I am seeing this issue as well.

[2018-11-18 04:03] HarplingeTom opened #703 "FCC Drum Machine gives false negative - TestCase 6"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-11-18 07:22] ValeraS commented on #702
@dagolinuxoid It's correct behavior and error says: `Please run this test in a larger window (before any media queries)`. If you press the `Tests` button, you'll see detailed errors.

[2018-11-18 08:32] floydkim commented on #636
Hello.
I think it's about "Build a Personal Portfolio Webpage" challenge.

I couldn't pass the test #8 "My portfolio should have a link with an id of "profile-link", which opens my GitHub or FCC profile in a new tab." although there was no wrong code :
`<a id="profile-link" href="">link</a>`

I solved this by replacing "(double quotation) to ' (single).
`<a id='profile-link' href="">link</a>`

Ple

[2018-11-18 08:51] ValeraS commented on #636
@floydkim The test does not depend on quotation marks. Provided code does not contain `target="_blank"`, which causes an error. If you still consider the error in quotes, please give a link to your pen with the error reproduction.

[2018-11-18 09:46] floydkim commented on #636
@ValeraS `target="_blank"` is omitted because I thought this attribute is not important about this problem. :)

And I found quotation mark is not a solution.
I'm still working on this portfolio challenge (contents and details) so some tags are added after I wrote a comment.
Now, after changing single quotation mark to double, tests are passed.
I'm confused.

[https://codepen.io/for12/pen/yQbzgd](u

[2018-11-18 10:40] dagolinuxoid commented on #702
@ValeraS,  спасибо!

[2018-11-18 10:40] #702 closed

[2018-11-18 13:30] Shadowslip71 opened #704 "Product Landing Page No Nav Bar yet Passes"
#### Issue Description

Hi

I know this has been reported but it is still very confusing as header and nav html tags are very different.

The test "1. The navbar should always be at the top of the viewport." in the product landing page passes even though there is no nav bar.

#### Browser Information

* Browser Name, Version: Firefox 63.0
* Operating System: Ubuntu
* Mobile, Desktop, or Tablet: La

[2018-11-18 18:56] HarplingeTom commented on #703
Is there a race condition in the test? Where the audio element is paused, the keyboard event is invoked and the the test immediately tests for audio element not paused.

[code]

[2018-11-18 19:03] ValeraS commented on #703
@HarplingeTom The test does not set a `code` field in `KeyboardEvent` because of this check fails.

You can use `key` field instead.

[2018-11-18 19:37] HarplingeTom commented on #703
That doesn't seem to have any effect. The codepen now reflects the change to 'key' and the test still fails.

[2018-11-18 19:41] ValeraS commented on #703
it also sends `keydown` instead of `keypress`.

[2018-11-18 19:56] HarplingeTom commented on #703
Thanks so much Valera, although you closed this out there is still the issue that the provided test is invalid in the sense that it actually tests for things that are irrelevant to the requirements, namely:

- you must not use the keyCode attribute of the event object
- you must not use the keypress event

These are actual constraints that the test is imposing on the programmer so should be called

[2018-11-18 20:07] HarplingeTom commented on #703
Thanks for fixing the test Valera!

[2018-11-19 01:27] terry-sydaus opened #707 "Product Landing Page - Test 2"
#### Issue Description
When I run the Product Landing Page Test, test number 2 is failing due to the src attribute in my img element not being a url (ie. http://....).

I am using a locally stored file for the img element and my page is working fine.

It would appear that the test is setup to test pages built using codepen or some other on-line development environment.

I am developing locally on

[2018-11-19 02:22] rickvian opened #708 "2. The height of the welcome section should be equal to the height of the viewport."
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-11-19 02:25] rickvian opened #709 "FCC: Personal Portfolio -"
Responsive Web Design Projects - Build a Personal Portfolio Webpage
https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage

#### Issue Description

I'm currently learning this one
https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-projects/build-a-personal-portfolio-webpage
and i open the code pen

https://code

[2018-11-19 06:54] ValeraS commented on #708
duplicate #709

[2018-11-19 06:58] ValeraS commented on #709
duplicate of #658

[2018-11-20 04:11] #658 closed

[2018-11-20 04:11] #709 closed

[2018-11-20 04:17] tbushman commented on #708
Awaiting merge of https://github.com/freeCodeCamp/cdn/pull/17 but fixed in #710
Thank you @ValeraS

[2018-11-20 04:17] #708 closed

[2018-11-20 13:58] OJKT commented on #299
Okay, so I'm getting the same issue and can not claim the responsive web design certificate. https://codepen.io/ojkt/full/OaOrEe/
here is mine... I have the same loading issue.
maybe the bot that measures the score doesn't wait until final test score comes in?

[2018-11-20 14:00] OJKT commented on #299
Never mind, I had to try a couple of times until it went through... still odd, didn't happen with the other projects.

[2018-11-20 17:23] kazimkorhan opened #711 "my world 1"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-11-21 12:13] Angelosne opened #712 "FCC: Personal Portfolio | User Story #11: The navbar should always be at the top of the viewport."
#### Issue Description
My solution has the nav bar at the top always but there is the error

3. The navbar should always be at the top of the viewport.
Navbar's parent should be body and it should be at the top of the viewport : expected 50 to be close to 0 +/- 15
AssertionError: Navbar's parent should be body and it should be at the top of the viewport : expected 50 to be close to 0 +/- 15
    at

[2018-11-21 16:51] llabrie opened #713 "14 passes out of 16"
Landing Page In Web Design Project

#### Issue Description

a@https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js:139:484
assert@https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js:284:1309
u@https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js:262:1140
https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js:325:131
strictEqual@https://cdn.freecodecamp.or

[2018-11-21 22:38] terry-sydaus commented on #707
Thank you very much Tracey.
That sorted the issue.
I love the live-server and the way it automatically updates the web page
when it detects a change in the source. Just awesome.

Do you know how I can submit my projects to FreeCodeCamp when they are
complete
I do not have a URL for my projects as the files reside on my local machine
and I have not set up a webserver.
I don't want to paste the code

[2018-11-21 23:33] terry-sydaus commented on #707
Awesome Tracey. Thank you again.
I have set up a single GitHub repository for all my FCC projects.
I have used Heroku as part of The Odin Project that I am also working my
way through.
So, I will explore both the options you have suggested.

On Thu, 22 Nov 2018 at 10:26, Tracey Bushman <notifications@github.com>
wrote:

[2018-11-21 23:35] tbushman commented on #707
@terry-sydaus I was looking more at GitHub Pages and it looks like a good bet for html/css/js . OK, great!

[2018-11-21 23:35] tbushman commented on #711
@kazimkorhan
Hello, please provide some more information about the error you are experiencing. Indicate which test is failing and provide a screenshot, a code sample, or a link to your project.

[2018-11-21 23:52] tbushman commented on #712
@Angelosne Although the navbar is technically behaving correctly because the `<ul>` element is positioned correctly, please ensure that the navbar element itself has the css properties that position it at the top. I tried adding this to the css, and the project passed the tests:
[code]

[2018-11-24 02:06] jokikim opened #714 "survey form bug- id=name, email"
#### Issue Description

Please review my code for the name and email inputs. for some reason, the test results keep saying that I didn't include id="name" and id="email" for my inputs, which i clearly did.

#### Browser Information

* Browser Name, Version: chrome
* Operating System:
* Mobile, Desktop, or Tablet: macbook

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-11-24 03:16] tbushman commented on #714
@jokikim This does look all correct. One thing that sometimes creates problems is curly-quotes. i.e., `id=“email”` in the code, which I'm not seeing here, but am wondering if they're present in your project. Maybe you can share a link to your project.

[2018-11-24 21:37] jokikim commented on #714
Thank you

Wishing you the best,
Jon

On Sat, Nov 24, 2018 at 3:28 AM Valeriy <notifications@github.com> wrote:

[2018-11-26 08:55] RedaDaug commented on #689
The issue is still present.

[2018-11-26 18:26] mazation opened #715 "Landing Page IFrame problem"
#### Issue Description
The test shows a mistake `#video should be an <iframe> or <video> element`. While I definitely included iframe tag in my html file.

#### Browser Information

* Browser Name, Version: Firefox 63
* Operating System: Ubuntu 18.04
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot
I've deleted `</video>` but it still doesn't work
!

[2018-11-26 18:55] ValeraS commented on #715
@mazation Two elements can't have the same `id`. Your code contains another element with `id=video`.

[2018-11-29 17:42] meera-c123 opened #716 "The .nav-link with href="#" is not linked to a corresponding element on the page : expected null to not equal null"
<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>

<header id="header">
  <nav id="nav-bar">
    <div class="nav-container">
      <div class="logo">
        <img src="https://images.pexels.com/photos/1162361/pexels-photo-1162361.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" id="header-img">
      </div>
      <div class="logo">
        <ul>
        <li><

[2018-11-29 17:46] meera-c123 opened #717 "12. When I click the #submit element, the email is submitted to a static page (use this mock URL: https://www.freecodecamp.com/email-submit) that confirms the email address was entered (and that it posted successfully)."
12. When I click the #submit element, the email is submitted to a static page (use this mock URL: https://www.freecodecamp.com/email-submit) that confirms the email address was entered (and that it posted successfully).

[2018-11-29 17:47] meera-c123 opened #718 "12. When I click the #submit element, the email is submitted to a static page (use this mock URL: https://www.freecodecamp.com/email-submit) that confirms the email address was entered (and that it posted successfully)."
<header id="header">
  <nav id="nav-bar">
    <div class="nav-container">
      <div class="logo">
        <img src="https://images.pexels.com/photos/1162361/pexels-photo-1162361.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" id="header-img">
      </div>
      <div class="logo">
        <ul>
        <li><a class="nav-link" href="#destination">Destination</a></li>
        <li><a href="#vacatio

[2018-11-29 20:11] #716 closed

[2018-11-29 20:11] #717 closed

[2018-11-29 20:17] #718 closed

[2018-11-29 23:08] Sehbaz opened #719 "RE: id="project-tlte""
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-11-29 23:09] Sehbaz commented on #719
For the test of the porfolio page it shows error in the id called "project-tile" which is wrong as it has an spelling error.

[2018-11-30 17:34] tbushman commented on #719
Hi, thanks for the reminder. This was fixed #706 and then wasn't merged into the CDN file. This will be remedied soon.

[2018-12-01 03:49] mscodecat opened #720 "Landing Page Test Bug"
#### Issue Description

Landing Page does not pass .nav-link test but all .nav-links are linked up as instructed.

#### Browser Information

* Browser Name, Version: Chrome 70
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: HP Laptop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

![navbarissue](https://user-images.githubusercontent.com/13889939/49323946-094b6880-f4f2-11e

[2018-12-01 03:56] mscodecat commented on #720
oops btw i should add i am still working on this, i'm not going to let it go looking awful :)

[2018-12-01 14:40] mscodecat commented on #720
SOLUTION:

the issue was, of course, my code. I had the 'class=nav-link' in the wrong place - inside the <li> tag instead of inside the <a href> tag. D'oh! After moving the class into the <a href> tag, all is well and everything passed.

[2018-12-03 04:27] #707 closed, assigned to nobody

[2018-12-05 12:04] joseph-mpo opened #721 "Portfolio tests #7"
#### Issue Description

I have nav links and they a linked to the corresponding section of my page. Yet I get this error at test 7 for unknown reasons.

[code]

#### Browser Information

* Browser Name, Version: Google Chrome, 70.0.3538.110
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-12-05 13:08] #721 closed

[2018-12-05 13:09] joseph-mpo commented on #721
I had a link in the nav that did not contain an href attribute. I fixed it.

[2018-12-07 16:08] jose1134 opened #722 "Checkbox-value, user story 14 bug"
#### Issue Description

I just did everything described to pass for all of the user stories and for some reason I still get a check box "value" problem even though all my checkboxes have value.****

#### Browser Information

* Browser Name, Version: Safari/ most up to date
* Operating System: Mac Osx
* Mobile, Desktop, or Tablet: laptop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-12-07 16:38] tbushman commented on #722
@jose1134 Your tests appear to be passing without errors in Chrome :). We're not officially supporting Safari yet. Thank you.

[2018-12-07 16:48] jose1134 commented on #722
Thank you

Sent from my iPhone X

[2018-12-08 17:18] leaf2fire opened #723 "Technical Documentation Page: User Story #14"
#### Issue Description

Sometimes fails depending on display dimensions and implementation in codepen. It seems to work consistently if the page fills the whole screen.

#### Browser Information

* Browser Name, Version: Google Chrome Version 70.0.3538.110 (Official Build) (64-bit)
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

Implemented

[2018-12-08 17:26] Code3759 opened #724 "Made this a bug post by mistake"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-12-09 02:28] seansangh opened #725 "Uncaught TypeError: Cannot read property 'bind' of undefined"
#### Issue Description

I am working on a Pomodoro Clock, and I don't understand how to correct the error below when it appears as though my output is accurate. (this error is shown for several tests)

Uncaught TypeError: Cannot read property 'bind' of undefined (pen.js:180)
Error: Uncaught TypeError: Cannot read property 'bind' of undefined (pen.js:180)
    at uncaughtException.a.onerror (https:/

[2018-12-09 08:25] gladrun opened #726 "Landing Page (media/Submit)"
#### Issue Description

Content #12 Test fails
Layout #2 Test Fails

#### Browser Information

* Browser Name, Version: Google Chrome Version 71.0.3578.80 (Official Build) (64-bit)
* Operating System: Windows 10 pro
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

![image](https://user-images.githubusercontent.com/11464381/49695000-11726a80-fbba-11

[2018-12-09 09:30] ValeraS commented on #725
@seansangh Please provide a link to your Pen.

from the error message, it is caused by a code of a Pen. Look at line 180.
[code]

[2018-12-09 09:36] ValeraS commented on #723
@leaf2fire It is correct behavior, tests should be run on a window with `width` greater 850px. It is said in an error message:

[2018-12-09 09:49] gladrun commented on #726
Thanks

[2018-12-09 09:49] #726 closed

[2018-12-09 13:04] seansangh commented on #725
https://codepen.io/seansangh/pen/BvaQEw

I still can't  seem to find the problem, because it appears as though line 180 isn't the problem.

[2018-12-09 13:46] ValeraS commented on #725
when I press a start button I see next errors in the console:
![image](https://user-images.githubusercontent.com/10867286/49698180-59e95280-fbd1-11e8-8527-08f1daa360e9.png)

try to fix them

[2018-12-09 16:21] #725 closed

[2018-12-10 18:07] X-ritch opened #727 "Responsive Web Design - Portfolio"
The code on the below have not passed the requirement #8 which is seen below. Although, there are the profile-link id and  on new Github page is directed, requirements could not completed yet. Is there any mistakes which I have not seen before?

#8 My portfolio should have a link with an id of profile-link, which opens my GitHub or FCC profile in a new tab.

#### Issue Description
 When the test s

[2018-12-10 20:01] fighder opened #728 "The tester's Select tag is disabled after adding the CDN in via settings"
I added the tester cdn as an external script in the settings option, but I was not able to change what I am testing. I checked the element in the browser as shown in the screen shot, and saw the select tag was disabled. I was able to manually remove that attribute and it worked, but after I change any code it refreshes and of course the disable attribute is back in the select tag.

![capture](http

[2018-12-11 02:11] MarkMcDaniels opened #729 "Tests failing but all user stories met."
The automated test for the Pomodoro Timer is failing when they work  manually.

My timer hits "00:00", and is not recognized. When incrementing/decrementing the display is updated appropriately. The test does not recognize it.

The audio also fires, and resets at "00:00". In fact, it only fires when it's at "00:00", and fires at the end of the test, but the test doesn't recognize it.

I built it u

[2018-12-11 02:47] #729 closed

[2018-12-11 02:48] MarkMcDaniels commented on #729
Decided to rewrite it without redux.

[2018-12-11 05:04] tbushman commented on #728
@fighder If you have this code
[code]
in the JS window, please remove it. If that's not it, please share a link. Thanks.

[2018-12-11 05:09] tbushman commented on #727
@X-ritch Can you please try it after first removing the `id="profile-link"` from this section
[code]
The `id=`  attribute must be unique to the whole script. Use it only in the second instance, with the `href="https://...` one. Thanks.

[2018-12-11 05:11] tbushman commented on #724
@Code3759 Should I close this issue? Let us know.
Hello, please provide some more information about the error you are experiencing. Indicate which test is failing and provide a screenshot, a code sample, or a link to your project.

[2018-12-11 13:26] ValeraS opened #731 "Place testable projects form CodePen into this repo"
pros:
- not depend on CodePen (if they change something our tests will be broken)
- quicker and simpler automated tests
- the standard process of changes (through a PR)
- history of changes

/cc @QuincyLarson @tbushman @raisedadead @tchaffee

[2018-12-11 13:36] X-ritch commented on #727
I got it. Thank you for your interest @tbushman

[2018-12-11 13:36] #727 closed

[2018-12-11 16:11] tchaffee commented on #731
Seems like a good idea. What would be ideal is if we can somehow publish the source code from here to CodePen so users can still view the solutions in the environment they are familiar with for coding solutions.
If we do this, I would suggest doing it with just one project first and then leaving it for a month or so to see if there are any cons we haven't thought of.

[2018-12-11 17:14] #722 closed

[2018-12-12 05:27] HarplingeTom opened #733 "Pomodoro Tests give false negative"
#### Issue Description

The Pomodoro tests fail on time counting down to 00:00
[code]
It's a false negative, timer does indeed go to 00:00
see my code at [Pomodoro Codepen](https://codepen.io/toms98033/pen/MZWOGN?editors=0010)

The problem appears to be the test. The test assumes that by hacking the global setInterval it will speed up the timer under test. As shown in the test code below, it runs

[2018-12-13 07:38] Joakima-Carr opened #735 "CarrJ_No Results from Typed Code"
#### Issue Description
All of the coding I put in after my section that links to a YouTube video does not show up. I can write the code and see it in the HTML and CSS windows, but nothing is generated below that shows what I created from the code. I keep checking what I wrote, but nothing helps. I am extremely new to coding so I am not sure what is going on. I have had no issues up to this point.

[2018-12-15 19:54] jakewebdevolper opened #736 "5. When I click a .nav-link button in the nav element, I am taken to the corresponding section of the landing page.'"
https://codepen.io/jakeelliott123/pen/aPNQzy
need help please.
<nav id="nav-bar">
      <ul>
        <li><a class="nav-link" href="#features">features</></li>
        <li><a class="nav-link" href="#components">components</>
          <li>
            <li><a class="nav-link" href="#music">Music</></li>
            <ul>
please help me on codepen

[2018-12-17 01:39] Akiv1965 opened #737 "I don't pass the drum machine test and my project works correctly..."
#### Issue Description
The test result is... _"When I click on a .drum-pad element, the audio clip contained in its child <audio> element should be triggered"_ and _"When I press the trigger key associated with each .drum-pad, the audio clip contained in its child <audio> element should be triggered (e.g. pressing the Q key should trigger the drum pad which contains the string "Q", pressing the W

[2018-12-17 04:52] ValeraS commented on #737
@Akiv1965 You set the audio source each time the `.drum-pad` element is clicked. Audio is loading and playing. Loading phase takes a time. Instead of setting sources each time, set them in HTML audio tags without `autoplay` and trigger playing on click and press events. To start to play an audio you can use
[code]
or with jQuery
[code]

[2018-12-17 05:08] ValeraS commented on #736
@jakewebdevolper The .nav-link with href="#features" is not linked to a corresponding element on the page. Your code contains link with `href=#features` but does not contain a `section` with `id="features"`.

[2018-12-17 05:18] ValeraS commented on #735
@Joakima-Carr As I can see the issue was resolved. Congrats!!!

[2018-12-17 12:33] Akiv1965 commented on #737
Thank you very much....!
 I passed the test.....

[2018-12-17 23:12] #733 closed

[2018-12-18 20:14] breese8009 opened #738 "Smallest Common Multiple Challenge"
#### Issue Description
When I enter my code for this challenge in repl or console, it will give me the expected result for the last test on this challenge. However if I console.log the results of my function, the last result changes each time I run the code on FCC.

#### Browser Information
I am using Chrome on a Mac.

#### Your Code / Link to Your Pen

[code]

#### Screenshot
![screen shot 2018-1

[2018-12-18 20:43] #738 closed

[2018-12-19 03:16] missstaff opened #739 "Issue with test 7 personal portfolio"
#### Issue Description

I am failing test 7, The navbar should contain at least one link that I can click on to navigate to different sections of the page. I have three links and they are not working. I am new to coding and admit I could be wrong but I have been over the a tags in the navbar and the id names for each section..I think there is an issue with the tester?

#### Browser Information

Ch

[2018-12-19 05:54] ValeraS commented on #739
@missstaff your code contains a wrong close tag `<a/>`. Amend it and you'll pass the test.
Also, link to a welcome section broken.

[2018-12-20 05:13] ededals opened #740 "Treemap diagram test #5 issue"
#### Issue Description

Test #5 is not passing allthough after inspecting the DOM I see that my "tile" element has all three of the required attributes.

#### Browser Information

* Browser Name, Version: Google Chrome, Version 71.0.3578.98 (Official Build) (64-bit)
* Operating System: Windows 10
* Mobile, Desktop, or Tablet:  Desktop

#### Your Code / Link to Your Pen
https://codepen.io/ededals/p

[2018-12-21 05:15] rsquaredwb opened #741 "Bug in Test Suite Template for Build a Personal Portfolio Webpage"
#### Issue Description
Test complains that there should be a link with an id of "profile-link" that opens Github or FCC profile in a new tab.

#### Browser Information
* Browser Name, Version:  Google Chrome. Version 71.0.3578.98 (Official Build) (64-bit)
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen
https://codepen.io/rsquaredwb/pen/pqeJbw

[2018-12-21 06:21] tbushman commented on #741
@rsquaredwb You have a duplicate `id='profile-link'` here:
`<a href="#welcome-section" id="profile-link">about</a>` and the test is probably clicking the one at the top of the dom tree first.

[2018-12-21 07:57] deepikagunda opened #742 "FCC Drum machine : The test 6 fails saying the sound is not triggered when q is pressed.Though it is working."
#### Issue Description

press q and you can hear the sound.
https://codepen.io/deepikag/full/EGNXbg

#### Browser Information

* Browser Name, Version: chrome
* Operating System: windows 10
* Mobile, Desktop, or Tablet: desktop

#### Your Code / Link to You
6. When I press the trigger key associated with each .drum-pad, the audio clip contained in its child <audio> element should be triggered (e.g

[2018-12-21 08:57] ValeraS commented on #742
@deepikagunda Test does not send a `keyup` event. Try using a `keydown` event instead of `keyup`.

[2018-12-21 18:08] rsquaredwb commented on #741
Hi Tracey,

Thanks for the quick response. That is indeed the issue. I guess I have to
double-check my code first whether I am doing the correct "find" procedure.
I did that at first before submitting the issue and I did not find
duplicates.  I probably did not do it correctly.

Thanks again for your help.

On Fri, Dec 21, 2018 at 1:21 AM Tracey Bushman <notifications@github.com>
wrote:

[2018-12-21 21:41] lasjorg opened #745 "Fix invalid HTML in technical documentation example project"
**Describe your problem and how to reproduce it:**

The technical documentation example project has (a lot of) invalid HTML. It really needs to be fixed.

Note: I'm not sure what the best approach for fixing the Codepen example projects are. At first, I wanted to document all the changes but I was not sure how best to do that, I can make a repo with the changes if needed.

This Codepen is a fixed

[2018-12-24 07:34] #741 closed

[2018-12-24 07:34] #737 closed

[2018-12-24 07:59] #572 closed

[2018-12-24 08:01] ValeraS commented on #592
resolved

[2018-12-24 08:01] #592 closed

[2018-12-24 08:02] #608 closed

[2018-12-24 08:05] ValeraS commented on #425
resolved

[2018-12-24 08:05] #425 closed

[2018-12-24 08:17] ValeraS commented on #599
resolved

[2018-12-24 08:17] #599 closed

[2018-12-24 08:39] #637 closed

[2018-12-24 08:40] #630 closed

[2018-12-24 08:49] #688 closed

[2018-12-24 08:52] #724 closed

[2018-12-24 09:38] ValeraS commented on #455
resolved

[2018-12-24 09:38] #455 closed

[2018-12-24 10:51] #740 closed

[2018-12-24 10:52] #735 closed

[2018-12-25 14:40] ValeraS commented on #602
for example, merge # 744.

[2018-12-25 14:51] #739 closed

[2018-12-25 15:49] raisedadead commented on #731
I am in favor of moving away from CodePen to our platform actually, we have some ideas planned in the future which will let us use `learn` to be able to build projects right within freeCodeCamp.

Right now, I think it would be just good to bring in the source code into version control here.

[2018-12-25 16:21] ValeraS commented on #602
It works

[2018-12-25 16:21] #602 closed

[2018-12-25 19:56] #742 closed

[2018-12-26 14:10] deepikagunda commented on #742
Thanks Tracey.That helped.

On Wed, Dec 26, 2018 at 1:26 AM Tracey Bushman <notifications@github.com>
wrote:

[2018-12-27 08:31] QuincyLarson commented on #731
@ValeraS Agreed! We will soon have a full-fledged code editor and won't need to send everyone to CodePen for this process. Moving the code over to hear is a good first step.

[2018-12-27 10:50] thembones79 opened #748 "pomodoro-clock test fails (and should pass)"
#### Issue Description
Hello!  :)
I've build Pomodoro App with React.
It is working like it supposed to, but fails three tests:
Timer: 2, Timer: 4, Timer: 6

Looks like it has some issues with decreasing values.
It is weird.

#### Browser Information
* Browser Name, Version: Chrome 71.0.3578.98 64-bit
* Operating System: Windows 10 64-bit
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Lin

[2018-12-27 11:48] ValeraS commented on #748
@thembones79 Your code sets the same `id` on two elements.
![image](https://user-images.githubusercontent.com/10867286/50479121-0c991d80-09e6-11e9-9eb2-b1a033c7bcba.png)
Correct this, and you'll pass the tests.

[2018-12-27 18:30] thembones79 commented on #748
@ValeraS - thank you very much :)

How could I missed this. Thank you :)

[2018-12-27 18:30] #748 closed

[2018-12-28 01:18] jagadeeshgudise92 opened #749 "Tried the code with media query still its not detected"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-12-28 03:03] tbushman commented on #749
Hello, please provide some more information about the error you are experiencing. Indicate which test is failing and provide a screenshot, a code sample, or a link to your project.
@jagadeeshgudise92 There are a couple of common reasons for this error: missing or unnecessary brackets in the CSS, or viewing index.html from a local file without a localhost. You can run a localhost server using `live

[2018-12-28 05:09] #731 closed

[2018-12-28 05:38] ValeraS commented on #745
@lasjorg Could you make a PR? Source code now in this repo https://github.com/freeCodeCamp/testable-projects-fcc/blob/master/src/projects/technical-documentation-page/index.html.

[2018-12-28 15:41] MuhammadZubairMoosani opened #751 "User Story #8: The img element should responsively resize, relative to the width of its parent element, without exceeding its original size."
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-12-28 15:42] MuhammadZubairMoosani commented on #751
google chrome
OS: linux
Desktop

[2018-12-29 11:41] calendee opened #752 "Tribute Test Passes With Virtually No Content"
#### Issue Description

When testing the "Tribute" challenge, it's possible to pass the test with a CodePen that is virtually empty.

Steps To Recreate:
- Browse to the challenge page : https://learn.freecodecamp.org/responsive-web-design/responsive-web-design-projects/build-a-tribute-page/
- Enter this CodePen URL in the Solution field : https://codepen.io/anon/pen/xmXamb?editors=1100
- Tap the "

[2018-12-30 22:42] YjangWynter opened #753 "There are no tests available"
#### Issue Description

There are no tests to check my work for tech document challenge in the the responsive design projects section.

#### Browser Information

* Browser Name, Version:  Firefox 64
* Operating System: Ubuntu: GNU/Linux
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-12-31 11:26] osuulola opened #754 "not testing layout right"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2018-12-31 13:39] lynxlynxlynx commented on #754
Please follow the template and add a description etc.  Now it is impossible to know what you are reporting.

[2018-12-31 13:39] #754 closed

[2018-12-31 14:21] #622 closed

[2018-12-31 14:21] #624 closed

[2018-12-31 14:21] #627 closed

[2018-12-31 14:21] #628 closed

[2018-12-31 14:21] #631 closed

[2018-12-31 14:21] #635 closed

[2018-12-31 14:21] #636 closed

[2018-12-31 14:21] #639 closed

[2018-12-31 14:21] #650 closed

[2018-12-31 14:21] #652 closed

[2018-12-31 14:21] #654 closed

[2018-12-31 14:21] #664 closed

[2018-12-31 14:21] #665 closed

[2018-12-31 14:21] #668 closed

[2018-12-31 14:21] #671 closed

[2018-12-31 14:21] #673 closed

[2018-12-31 14:21] #676 closed

[2018-12-31 14:21] #681 closed

[2018-12-31 14:21] #690 closed

[2018-12-31 14:21] #699 closed

[2018-12-31 14:21] #711 closed

[2018-12-31 14:21] #712 closed

[2018-12-31 14:21] #713 closed

[2018-12-31 14:21] #715 closed

[2018-12-31 14:21] #723 closed

[2018-12-31 14:21] #563 closed

[2018-12-31 14:21] #612 closed

[2019-01-05 19:38] abdusabri opened #755 "Suite is missing a test for a pomodoro clock edge case"
#### Issue Description

There is an edge case for the pomodoro clock project that is not covered by the test suite.

"When I first click the element with id="start_stop", the
      timer should begin running from the value currently displayed in
      id="session-length", even if the value has been incremented or
      decremented from the original value of 25."

If the session length is set to 60

[2019-01-06 02:18] petercr opened #756 "Pomodoro Clock doesn't pass test #3 but works as described"
#### Issue Description
I have a working Pomodoro Clock which doesn't have any problems until I go to test it.
It seems to be stuck in some kind of loop, with the **timer** unable to reach zero.
I have tried to play around with it, but it does not through any errors.
It will pass **11 tests** if you click run tests once, and **20 tests** if you click twice.
*I can't figure out exactly what'sis happ

[2019-01-06 05:05] astron97 opened #757 "random quote generator in react"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2019-01-06 05:09] astron97 commented on #757
This is just a simple quote generator i wrote in jsx and transpiled it to regular js using Babel.
I cant see any output when i use the following files in codepen.

[2019-01-06 05:10] astron97 commented on #757
https://codepen.io/astron97/pen/vvRzPM

[2019-01-06 07:44] ValeraS commented on #757
Do not transpile your code, paste as is. From your code remove import of React and ReactDOM. In settings, add links to React and ReactDOM.

![image](https://user-images.githubusercontent.com/10867286/50733485-685e6600-119f-11e9-984d-8308b171ee82.png)

[2019-01-06 09:03] tbushman commented on #756
@petercr Hello, I'm having trouble pinning down what could be causing the problem. A couple of things found so far: `I should not be able to set a session or break length to <= 0.` -- I am able to set the break-length to `0`
I am also noticing an elapse of time between when the display reaches `0:00` and quickly switches switch to session / break, before the countdown begins again.

[2019-01-06 09:05] astron97 commented on #757
Thanksy . . @ValeraS

[2019-01-06 09:07] tbushman commented on #753
@YjangWynter Please add this script to your html file: `<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>`

[2019-01-06 09:09] #757 closed

[2019-01-06 09:11] tbushman commented on #752
@calendee We have not yet implemented a check in the curriculum for completed projects. These tests should pass on the front-end before submitting your project URL, on the honor system at this point. The project urls will be listed on your portfolio page.

[2019-01-06 09:15] tbushman commented on #749
@jagadeeshgudise92 Sorry for the delay. You may share your project link. Also please try running the project through a localhost port -- using `live-server` or Python simpleHTTPServer.

[2019-01-06 09:52] ValeraS commented on #755
@abdusabri Why is this an edge case? For example, why is the edge case not equal to 100?

[2019-01-06 10:19] ValeraS commented on #745
Fixed by #750

[2019-01-06 10:19] #745 closed

[2019-01-06 11:59] abdusabri commented on #755
@tbushman, @ValeraS Thanks for your feedback!

@ValeraS the way I thought about it:
* According to the project requirements, 60 is the max allowed length - which is covered by another test already. So, 100 or any value higher than 60 would already fail the tests.
* This is the point where 60 minutes equals 1 hour 😄. And what is actually happening in the example project I linked, is that the time l

[2019-01-06 14:56] akash-more opened #758 "Multiply shown as "." instead of "x" in the calculator"
#### Issue Description

when I type the multiply button in the calculator, it is shown as a "." instead of "x"

#### Browser Information

* Browser Name, Version: Chrome
* Operating System: Windows 7
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

![image](https://user-images.githubusercontent.com/30334579/50737591-370e8600-11f1-11e9-9b7c-9ab04820

[2019-01-06 15:05] lynxlynxlynx commented on #758
Both centered dot and cross (not x) are symbols of multiplication, the dot being slightly more readable.

Non-issue to me.

[2019-01-06 15:17] #758 closed

[2019-01-06 17:50] lasjorg opened #759 "Question about updating tribute page project"
Just saw in another issue https://github.com/freeCodeCamp/testable-projects-fcc/issues/752 that testing apparently is not yet in place, so that kind of changes things. I don't know what the plans are for the tests though. I will just post my original question anyway.

I wanted to update the project and fix a few things. However, I ran into an issue. I really want to change the #img-div to a figure

[2019-01-06 21:06] petercr commented on #756
@tbushman Thank you for taking a look 😄  I had set the Google Bucket that help the sound file to _private_ access originally, but now it is set to **public** access if you want to go ahead and give it a try with the sound file.
The **_time delay_**  is to allow for the sound to completely play before beginning the other countdown timer. I thought that was a **requirement** of the project.
I will g

[2019-01-06 21:10] petercr commented on #756
Also please make sure you are in the `netlify-deploy` branch as that is the current development branch I am working on.
I say this because I had already handled the problem of being able to set either the break timer or the session timer length to a minimum of 1

[2019-01-08 00:36] zootechdrum opened #761 "Bar Chart--Test Passed and Fails"
My project seems to pass all test but only sometimes. The problem is with the tool-tip we have to create. The user story we have to pass is to have the tooltip have have a data-date property. I created one but for whatever reason it re-formats it and it takes away the zero in-front of the single digit. I don’t know why the re-formatting happens but i have taken the liberty of looking at the code p

[2019-01-08 05:25] IAmMyself opened #762 "React's built-in Markdown interpreter"
#### Issue Description

On markdown, if using Marked.js Markdown interpreter, the test to see if you are demonstrating Markdown will not accept the code block.

#### Browser Information

* Browser Name, Version:  Google Chrome Version 71.0.3578.98 (Official Build) (64-bit) and Microsoft Edge 42.17134.1.0
* Operating System: Windows 10 64-bit Home
* Mobile, Desktop, or Tablet: Desktop

#### Your Co

[2019-01-08 10:31] ValeraS commented on #762
@IAmMyself In a default text, an HTML `<pre>` tag is used. If using a special markdown syntax for a code block, your code will pass the test.

[2019-01-08 11:40] MilePaor opened #763 "React Calculator"
#### Issue Description

I am failing at test 8. I am sure that i gave id of display to my input. Check it out please.

PS: Can u give me further explanation of test num. 11. Thanks.

#### Browser Information

Chrome 71, Mac, Desktop,

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

![screen shot 2019-01-08 at 1

[2019-01-08 12:02] ValeraS commented on #763
@MilePaor Your `div` element with `id='display'` shows a clicked button. But tests expect to see a result in it.

[2019-01-08 12:33] MilePaor commented on #763
It shows results when u do calculation (press equal sign).

[2019-01-08 12:48] ValeraS commented on #763
@MilePaor Test checks:

But when I press `1`, `2` and `3`, I see `3` instead of `123`. Because of this the test fails.

Also, check input `5.5.5`.

[2019-01-08 13:38] IAmMyself commented on #762
I figured it out... I completely forgot that the backticks (`) need to be on their own line

[2019-01-08 13:38] #762 closed

[2019-01-08 13:57] MilePaor commented on #763
Okay, now i understand. Thank you!

[2019-01-08 13:57] #763 closed

[2019-01-08 20:57] meanyMina opened #766 "Survey Form Error of #4 and #5 ; added id but"
#### Issue Description

I added "name" and "email" as id but test doesn't count it.
Please check it.
Thank you in advance.

#### Browser Information

* Browser Name, Version: Chrome
* Operating System: Window
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[Link] https://codepen.io/Meanymina/pen/jXpPYr?editors=1100

============CODE===============

 <body>
  <header>

[2019-01-08 21:18] tbushman commented on #766
@meanyMina There should be only one `<form>` containing all of the inputs and their associated labels.
[code]

[2019-01-08 22:10] tbushman commented on #756
@petercr Still unsure of the cause. But when I reset the timer, then decrement break-length and session-length to 1 (or any value besides `initSessionLength` or `initBreakLength`), then start the timer, it still counts down from 25:00 ... also the audio was still not working in my local environment, so I switched in the mp3 from the fCC project, and the audio played indefinitely, but I think it's

[2019-01-09 09:02] ValeraS commented on #756
@petercr Some suggestions:
- remove an `alarmTimer` at all, it is not needed. Your code already calls `alarm` and `finish` in `timer` and `breakTimer` respectively.
- `increment` and `decrement` functions should update `timer` and `break` too.

[2019-01-09 18:39] petercr commented on #756
@ValeraS Thanks for the suggestions. 😄 👍
* I have tried removing both `alarmTimer` and `breakTimer` from both the State and the `Window` object, but without both of them the clock does not function properly.  But I will **definitely** give it a try
I think I see what you're saying now, I do already call `alarm` in the other functions
* That's funny because I just took out the functionality 2 commi

[2019-01-09 20:50] meanyMina commented on #766
Dear "tbushman",
Thank you for your reply!
If I code as you commented, grid looks disorganized.
Could you check it again please?
![1](https://user-images.githubusercontent.com/42491537/50927599-8f938c80-1458-11e9-835c-4512d7897332.PNG)

[2019-01-10 03:30] tbushman commented on #766
@meanyMina You can do something like this (give the `<form>` element the className `"container"`:
[code]

[2019-01-11 21:48] petercr commented on #756
@ValeraS Thank you you were **totally right about removing** `alarmTimer` from the code because I already called it. Removing it fixed the issue with both timers and Test # 11 😃 👏 👏

Also thank you @tbushman for taking a look at my code. You definately helped me to fix a couple of issues I thought were already working correctly. 🥇 👏

I was really stuck there so again thank you. I will go ahead and

[2019-01-12 18:58] eriic47 opened #767 "ISSUES"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2019-01-13 07:45] philrussel21 opened #768 "User Test numbers 10 and 12 keeps failing but all users met"
#### Issue Description
User tests numbers 10 and 12 were met but keeps failing.

#### Browser Information
I am using the latest version of Google Chrome

#### Your Code / Link to Your Pen
[code]

[2019-01-13 08:46] tbushman commented on #768
@philrussel21 Thanks for bringing this to our attention. The tests do not accommodate the question mark in the innerText for `.nav-link`

[code]
It might be bad practice to include a question mark in the `href`, but go ahead and try it out if you want to keep it. This code was modified to fix some of the nesting order.

[2019-01-13 08:48] tbushman commented on #767
@eriic47 Hello, please provide some more information about the error you are experiencing. Indicate which test is failing and provide a screenshot, a code sample, or a link to your project.

[2019-01-13 09:52] ValeraS commented on #768
@philrussel21
1. for test 10, correct the nesting order of some elements as suggested by @tbushman
2. for test 12, check `href`s and corresponding names of links, not all of them are equal. For example, `href="#Anatomy_of_an_HTML_Element"` and name `Anatomy of an HTML`

[2019-01-13 12:55] abdusabri commented on #755
@ValeraS  your feedback will be highly appreciated, so I can be sure to have answered your question before opening a pull request. Thank you!

[2019-01-14 06:51] poonam1994 opened #769 "survey"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2019-01-14 08:01] ValeraS commented on #755
Our reference project does not follow this. If we decide to check this we must update the project accordingly.

I think a test should try to set `61` and check the value is `60` for the session and the break.

Or we can amend the user story and add a test which tries to set `61` and checks the value is `61`.

@tbushman your thoughts on this?

[2019-01-14 13:49] ponyborn opened #770 "Test №7 for a Tribute Page project doesn't pass for a flexbox layout."
#### Issue Description

Test №7 for a Tribute Page project

expects "display" style property of image to have a value of "block" and therefore doesn't pass for a flexbox layout.

#### Browser Information

* Browser Name, Version: Firefox 64.0.2
* Operating System: Windows
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

https://codepen.io/ponyborn/pen/WLLgYO

#### Screensh

[2019-01-14 23:30] tbushman commented on #755
@abdusabri This discussion has basically determined that no change is necessary for this particular thing. I hear about other things people suspect are problematic with the pomodoro example and tests. But this change is possibly redundant, in that the user story already informs students of the project's limitation, and the test is in place for that user story. Feel free to open a PR to better demo

[2019-01-15 19:47] abdusabri commented on #755
@ValeraS , @tbushman thanks for your feedback and taking the time looking into this issue.

Maybe as @tbushman suggested, opening a PR might better-demonstrate the case i mentioned.

I will open a PR that will not require any changes to freeCodeCamp's example project or user stories.

The PR will amend an existing test case to ensure that the time-left is formatted correctly ("60:00") when the ses

[2019-01-16 15:08] JAYB1200 opened #771 "technical documentation"
#### Issue Description

#### Browser Information

* Browser Name, Version: chrome
* Operating System: ubuntu 18.04
* Mobile, Desktop, or Tablet:  laptop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2019-01-17 13:56] footios opened #773 "Hi, the drum-machine should pass, but it gets 5/8."
Link to codepen:
https://codepen.io/fooTios/pen/dwERLO?editors=0010

[2019-01-17 22:46] bishmiBradshaw opened #774 "Test does not read caption tag as a textual content tag"
#### Issue Description

Under the tribute project requirement # 5 reads as such:
"User Story #5: Within the img-div element, I should see an element with a corresponding id="img-caption" that contains textual content describing the image shown in img-div."
Yet when I place my id "img-caption" within my caption tag in my image div and run the test it fails. although if i change my caption element t

[2019-01-18 02:31] #756 closed

[2019-01-19 02:18] ganchoiliev opened #775 "4. Each <section> element with the class of "main-section" should also have an id that corresponds with the text of each <header> contained within it. Any spaces should be replaced with underscores (e.g. The <section> that contains the header "Javascript and Java" should have a corresponding id="Javascript_and_Java")."
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2019-01-19 05:20] SirRobLyon opened #776 "D3 Bar Chart tooltip tests pass in Firefox but not Chrome"
#### Issue Description

Test 14 doesn't pass in Chrome, but does pass in Firefox.

#### Browser Information

* Browser Name, Version: Firefox 64.0.2
Chrome Version 71.0.3578.98 (Official Build) (64-bit)
* Operating System: MacOS Mojave 10.14.2
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

https://codepen.io/captrob/full/qLeEpN

![screen shot 2019-01-19 at 1 17 07 pm](ht

[2019-01-19 08:58] ValeraS commented on #776
@SirRobLyon It's not a tooltip. Your code does not pass a test:

1. `xScale` and `width` do not take into account `margin.left`
2. calculating the `x` coordinate does not use `xScale` and tries to calculate it itself.

You can do next:
[code]
[code]
[code]

and need to fix `transform` of x-axis

[2019-01-19 08:59] #736 closed

[2019-01-19 08:59] #728 closed

[2019-01-19 09:06] ValeraS commented on #766
It seems you have solved the problem.

[2019-01-19 09:06] #766 closed

[2019-01-19 14:09] SirRobLyon commented on #776
Thank you!

I fixed my bugs with your corrections.

Much appreciated!

I’m still curious why it passed all tests in Firefox as it was before. But of course, glad all tests passing for my code in both browsers now.

Have a wonderful day!

Kind regards,
Rob

[2019-01-19 14:37] pragya1248 opened #777 "Inside the form element, I can select a field from one or more groups of radio buttons. Each group should be grouped using the name attribute."
I'm not able to pass the  test because of the issue mentioned above.

#### Your Code / Link to Your Pen

[code]

[2019-01-19 14:40] pragya1248 commented on #777
https://codepen.io/pragyapriya/pen/BvXpJL?editors=1100
code link is mentioned above

[2019-01-19 14:46] ValeraS commented on #777
@pragya1248 in the detailed description of the error said:
[code]

[2019-01-19 22:00] #775 closed

[2019-01-21 16:57] travis87 opened #778 "Tribute Page not seeing image resize"
#### Issue Description

The test is failing the responsive image item, however it works properly and is coded the way that the error states is wrong.  The project is using Bootstrap and some native CSS.

#### Browser Information

* Browser Name, Version: Chrome
* Operating System: Windows 7
* Mobile, Desktop, or Tablet: NA

![image](https://user-images.githubusercontent.com/28845661/51488167-71882

[2019-01-22 14:28] EliasMontsho opened #779 "Media Query Missing"
#### Issue Description

When ever I run the test, it seems it does not 'pick up' my media query in the CSS panel.

#### Browser Information

* Browser Name, Version: Google Chrome, Version 71.0.3578.98 (Official Build) (64-bit)
* Operating System: Apple MacBook Pro
* Mobile, Desktop, or Tablet: Laptop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

![Uploading Screen Shot 2019-01-22 a

[2019-01-22 18:55] fermarinsanchez opened #780 "5. When I click a .nav-link button in the nav element, I am taken to the corresponding section of the landing page.'"
Product Landing Page

#### Issue Description

I think it´s ok but don´t work! help please!!!

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2019-01-22 23:15] ValeraS commented on #779
@EliasMontsho In plain CSS, media queries can't be inside a declaration block. It seems you are using SCSS, if this is true, then in a code pen settings choose a CSS preprocessor.
![image](https://user-images.githubusercontent.com/10867286/51571904-a3a5a800-1eb4-11e9-8a8f-5e963bbef1d5.png)

[2019-01-22 23:22] ValeraS commented on #780
@fermarinsanchez move `class="nav-link"` from `li` to `a` tags.

[2019-01-23 14:47] fermarinsanchez commented on #780
@ValerS thank you but still don´t work.

[2019-01-23 14:49] fermarinsanchez commented on #780
@ValeraS thank you but still don´t work moving the class from li to a tags

[2019-01-23 14:58] ValeraS commented on #780
I've opened your pen and the class still set on `li` tags. If you move class from `li` to `a` and run tests you will get new error. Press `Tests` button, look at detailed description and you'll understand the problem.

[2019-01-23 15:12] fermarinsanchez commented on #780
Now I get the class="nav-link" to a tag and clear the class from the li tags. Still don´t work. I´ve look at detailed description and don´t understand the problem... my little brain hurts! :-)

[2019-01-23 15:12] fermarinsanchez commented on #780
and open my pen now and you will see it... thank you again!!!

[2019-01-23 20:14] fermarinsanchez commented on #780
I have removed from the <ul>, the <li> corresponding to nav-bar. Each button of the nav-bar takes to its corresponding site of the page. I do not know if the error is given because I link the href to a <a name='Servicios' for example''> tag instead of referring to an ID ... can that be the problem?

[2019-01-23 20:15] fermarinsanchez commented on #780
I have removed from the ul, the li corresponding to nav-bar. Each button of the nav-bar takes to its corresponding site of the page. I do not know if the error is given because I link the href to a:
 <a name='Servicios' for example''> tag instead of referring to an ID ... can that be the problem?

[2019-01-23 20:17] fermarinsanchez commented on #780
I have removed from the **ul**, the **li** corresponding to inicio to **nav-bar**. Each button of the nav-bar takes to its corresponding site of the page. I do not know if the error is given because I link the **href** to a **<a name='Servicios' for example''>** tag instead of referring to an ID ... can that be the problem?

[2019-01-23 20:46] ValeraS commented on #780
Yes, you are right. The test searches for an element with `id` equal to the value of href without the` # `.

[2019-01-23 20:46] fermarinsanchez commented on #780
YESSSSSS! IT WORKS!!!!!! THANKS A LOT @ValeraS !!!!

[2019-01-24 04:27] justindstauffer opened #782 "Tribute Page - Responsive Image with Bootstrap 4 - Img-fluid"
#### Issue Description

Bootstrap 4 uses the class="img-fluid" for responsive images. I used this class on my image but the test is failing. The image sizes down compared to the parent element and does not exceed the actual size of the image.

#### Browser Information

* Browser Name, Version: Chrome, Version 71.0.3578.98 (Official Build) (64-bit)
* Operating System: Windows 10
* Mobile, Desktop,

[2019-01-24 04:39] justindstauffer commented on #778
![image](https://user-images.githubusercontent.com/23200846/51654909-1ae84400-1f68-11e9-8d6e-7e0621fc5221.png)

[2019-01-24 15:01] petercr commented on #782
I just ran the tests on your CodePen page and your project passed all 10 tests for the tribute page.
Is there another issue I am missing?

Thanks,
Peter Cruckshank

![2019-01-24](https://user-images.githubusercontent.com/26460352/51686751-f66b8680-1fbe-11e9-80d9-5912b065d8c1.png)

[2019-01-24 17:18] justindstauffer commented on #782
I added some CSS code - display: block; AND margin: auto;

This fixed the problem but the class"img-fluid" does that. So I am confused
why I had to add those redundant lines of CSS.

On Thu, Jan 24, 2019, 10:02 AM Peter Cruckshank <notifications@github.com
wrote:

[2019-01-24 21:47] petercr commented on #782
Good questions, so I looked into it 😃 🤓

So since the project _doesn't **require**_ Bootstrap the easiest way to test for the image being responsive and centered is to check the CSS properties of the `<image>` element to see if `display:` is set to `block`. And **if** you set `display: block` then the image gets pushed to the left side of the `div`. This is why you need the extra line for `margin:

[2019-01-24 22:00] petercr commented on #770
@ponyborn You are correct. The test itself tests for `display: block` property of the `<img>` element.
Also it tests for `margin: auto`. If you add those 2 lines to the `#image` CSS then it will pass the final test.

This does however, seem to be a flaw in the testing code. As I just answered an almost exactly same problem 5 minutes ago.
**Same thing** it does not pass the tests if you use Flexbox

[2019-01-25 01:45] habagat007 opened #783 "Tribute page /product landing"
already completed as seen on my screenshot for both Product landing and Tribute page projects but after submitting it couple of times, my project status did not updated as finish or done.

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

[2019-01-25 18:59] astron97 opened #784 "Drum-machine Tests 5 & 6."
#### Issue Description

Hi, am a noob trying to learn the ways of react . . . I bound the functions directly to each component. I don't know why tests 5 & 6 are not working even though it is triggering sound. Any help/workarounds would be appreciated. Thanks.

#### Browser Information

* Browser Name, Version: Chrome, 71.0.3578.98 .
* Operating System: Win 10 Home.
* Mobile, Desktop, or Tablet: De

[2019-01-25 19:05] astron97 commented on #784
https://codepen.io/astron97/pen/MZLabY

[2019-01-25 21:33] tbushman commented on #784
@astron97 The main issue is the duplicate `id`s. Since the `<audio>` element is required to have the alphabetical letter, please use a different `id` value for the `<button>` elements.
The `<audio>` element itself is what the app will `play()`, so using the `Audio` constructor will not pass the tests.
[code]
where `key` is the `<audio id>`, or alphabetic letter.
After sorting that out, I wasn't ge

[2019-01-26 00:35] #773 closed

[2019-01-26 08:48] astron97 commented on #784
Hi, @tbushman , many thanks for the elaboration. I made the change of id and used the audio element . The audio is playing when a button is clicked but I can't understand what you meant by not getting event on a click.

[2019-01-26 08:51] tbushman commented on #784
@astron97 Hi, sorry I was short. In my understanding, your project does not yet include handlers for `keypress` events. I'm actually not sure.

[2019-01-26 09:02] SirRobLyon opened #785 "Test 12 on D3 Choropleth Not Passing"
#### Issue Description

1. Run Tests
2. Observe that test 12 for showing data-education attribute corresponding to the active county shown by the tooltip is matching
3. Hover over any county on my choropleth map and manually validate that the data shown by the tooltip is correct. The test should pass, yes?

#### Browser Information

* Browser Name, Version: Chrome Version 71.0.3578.98 (Official Bu

[2019-01-26 09:03] astron97 commented on #784
@tbushman Yea , my bad , Sorry I mistook click and keypress events. I understood what the 6th test is about. Thank you for the prompt reply.

[2019-01-26 09:03] #784 closed

[2019-01-26 10:36] ValeraS commented on #785
@SirRobLyon in your code I see 2 issues:
1. to get data for a map, your code uses an `infoset[i]` but for a tooltip, it uses a `FindRecord`. And it gets different results.
2. to set `data-education` a function is used. But it is not needed because the current area gets into a handler of `mouseover`.

[2019-01-26 14:02] SirRobLyon commented on #785
Hi Valeriy,

Please see my inline responses below

			I’ve modified the code to only use my lookup function FindRecord now for the map and for the tooltip. All the attributes and data are being set the same way now.

			While there may be a better way to write this functionality (I’d love to know it) - my solution is not incorrect, right? So why should it fail the tests if I choose to use a lookup

[2019-01-26 14:07] SirRobLyon commented on #785
Please disregard my last email. I just figured out what you meant in your first message. Doh!

Thank you for your help!!! :)

Wishing you a wonderful day!

Kind regards,
Rob

[2019-01-26 14:49] #780 closed

[2019-01-26 16:20] tbushman commented on #783
@habagat007 Can you please submit this issue at https://github.com/freeCodeCamp/freeCodeCamp/issues and reference this issue (https://github.com/freeCodeCamp/testable-projects-fcc/issues/783) ? Please include a screenshot of your curriculum page for each project that is not resolving.

[2019-01-26 16:44] tbushman commented on #774
@bishmiBradshaw Please provide the corresponding `html` and `css` so we can look at the configuration. Sorry to delay.

[2019-01-26 16:45] tbushman commented on #771
Hello @JAYB1200 , please provide some more information about the error you are experiencing. Indicate which test is failing and provide a screenshot, a code sample, or a link to your project.

[2019-01-26 16:45] tbushman commented on #769
Hello @poonam1994, please provide some more information about the error you are experiencing. Indicate which test is failing and provide a screenshot, a code sample, or a link to your project.

[2019-01-27 21:13] #753 closed

[2019-01-27 21:13] #767 closed

[2019-01-27 21:14] #785 closed

[2019-01-28 13:52] tchaffee opened #786 "Document gulpfile.js"
The `gulpfile.js' file needs inline documentation to help new contributors more easily understand what the file does. A high level overview at the top of the file along with inline comments for each section would be helpful because not everyone who might contribute is familiar with gulp.

[2019-01-28 13:54] tchaffee commented on #786
@ValeraS could you take a look at this when you get a chance? If I have time I might try to replace the gulpfile with just npm steps. And the inline docs would help me. If I don't find time to do that, the inline docs will help anyone who is trying to understand what the gulpfile does. So it's a win either way.

[2019-01-28 21:01] jessberr opened #787 "Can't Pass User Stories 4 and 13 Technical Document Page FCC"
#### Issue Description

I can't seem to pass the requirements for User Story 4 and 13(see below) for the Technical Documentation Page Project for Free Code Camp.

4. Each <section> element with the class of "main-section" should also have an id that corresponds with the text of each <header> contained within it. Any spaces should be replaced with underscores (e.g. The <section> that contains the h

[2019-01-28 21:19] ValeraS commented on #787
@jessberr
1. `id="Declaring_variables"` is set on a `header`
1. in `href` and `id`, `What_are_variables_?` should be `What_are_variables?`

[2019-01-28 21:22] jessberr commented on #787
Thank you so much, that fixed it!

[2019-01-28 22:11] #401 closed

[2019-01-29 12:29] elamuhombe opened #788 "Tests showing there are 2 issues in which I can't see"
I think my code is Ok but the tests are showing me the following issues:
1.  I should see an <a> element with a corresponding id="tribute-link", which links to an outside site that contains additional information about the subject of the tribute page. HINT: You must give your element an attribute of target and set it to "_blank" in order for your link to open in a new tab (i.e. target="_blank").

[2019-01-29 15:04] GabrielDom opened #789 "Can't Pass User Stories 9 Technical Document Page FCC"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]
![captura de pantalla 2019-01-29 a la s 12 04 56](https://user-images.githubusercontent.com/39173182/51917351-21d6e280-23be-11e9-9460-604c722007da.png)

#### Screenshot

[2019-01-29 16:49] tbushman commented on #788
Hello @elamuhombe , please provide a code sample or a link to your project for inspection.

[2019-01-29 16:52] tbushman commented on #789
@GabrielDom The link you provided is for an empty template.
Please provide a code sample, or a link to your project.

[2019-01-29 18:42] benjamin209 opened #790 "<a> and li error"
(Solved)

[2019-01-30 00:52] #776 closed

[2019-01-30 06:07] elamuhombe commented on #788
https://gist.github.com/elamuhombe/911b2eea741c153656aa266a0abd78cb

On Tue, Jan 29, 2019 at 7:49 PM Tracey Bushman <notifications@github.com>
wrote:

[2019-01-30 09:02] ValeraS commented on #788
@elamuhombe
1. `id="tribute-link"` should be on the `a` tag
2. `id="image"` should be on the `img` tag

[2019-01-30 13:15] GabrielDom commented on #789
I'm sorry, here's the code:

<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
<main id="main-doc">
  <section id="Description" class="main-section"><header>Description</header>
    <p></p>
    <p></p>

  </section>
  <section id="Second-Section" class="main-section"><header>Second-Section</header>
    <p></p>
    <li></li>
    <li></li>
    <p></p>

  </secti

[2019-01-30 13:16] GabrielDom commented on #789
`<script src="https://cdn.freecodecamp.org/testable-projects-fcc/v1/bundle.js"></script>
<main id="main-doc">
  <section id="Description" class="main-section"><header>Description</header>
    <p></p>
    <p></p>

  </section>
  <section id="Second-Section" class="main-section"><header>Second-Section</header>
    <p></p>
    <li></li>
    <li></li>
    <p></p>

  </section>
  <section id="Third-Sec

[2019-01-31 17:04] #755 closed

[2019-02-02 11:28] fermarinsanchez opened #791 "can´t pass the user stories 4 of Technical Document Page FCC And I think It´s ok...."
Technical Document Page FCC

 Can´t pass the user stories number  4  and I don´t know why.... Help please. I tryed to see other Technical Document Pages FCC and the´re coding like me.

#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2019-02-02 19:51] fermarinsanchez opened #792 "Technical Document Page FCC"
#### Issue Description

#### Browser Information

* Browser Name, Version:
* Operating System:
* Mobile, Desktop, or Tablet:

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2019-02-02 20:01] #792 closed

[2019-02-02 20:39] RXstoinkboy opened #793 "Random quote machine / not detecting that wrapper is in the center"
#### Issue Description
Problems with hirizontal centering. I might have missed something, but it seems to me that wrapper is in the center.
To reproduce the issue just please visit the project under below link and run the test. Everything should be green besides horizontal centering:

https://codepen.io/rxstoinkboy/full/Odpvbr

#### Browser Information
Codepen running on Chrome 71

* Browser Name,

[2019-02-03 00:54] akiko-pusu commented on #82
This is just a FYI:
I saw the same issue on my local machine.  My workaround is see the contents via local http server.

I think this is caused from Chrome’s security policy, CORS,  in case trying to see local contents via file:// protocol.

[code]

And all the tests are passed in case access the contents through http server locally.
In my case,  run the php’s build-in server.

[code]
(You can use

[2019-02-03 18:34] abdusabri commented on #793
Hi @RXstoinkboy ,

The styles for the `quote-box` needed a minor tweak. Following is the fix I applied. The fixed margins and padding were causing the issue.

[code]

Here is a link to a working fork of your project: https://codepen.io/abdusabri/full/LqLNpo

Well done completing the project! 🙂

[2019-02-03 20:43] RXstoinkboy commented on #793
Awsome! Thank yuo so much for helping with that. Much appreciated! What a stupid mistake. I do not even know why I put this margin there :)

[2019-02-03 20:43] #793 closed

[2019-02-03 20:48] abdusabri commented on #793
You are very much welcome! Glad I could help 🙂

[2019-02-04 16:22] purKhaos opened #794 "nav-link issues"
#### Issue Description

While running test for landing page, scenario #5 fails due to not having nav links send you to corresponding section upon being clicked. My links do in fact take me to the correct section upon being clicked and nav-link attribute is inside of the a tag, just as you recommended to another student.

#### Browser Information

* Browser Name, Version: All browsers
* Operating S

[2019-02-04 16:30] #794 closed

[2019-02-05 14:58] radifantaufik opened #795 "FreeCodeCamp - Product landing page bugs"
#### Issue Description

I just finished Responsive Web Design Projects - Product Landing Page. I think the system didn't recognize my media query and CSS flex-box, because I already did in my CSS.

#### Browser Information

* Browser Name, Version: Google Chrome 72
* Operating System: windows 10
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2019-02-05 15:12] ValeraS commented on #795
@radifantaufik choose the right CSS preprocessor and you will pass the test.
![image](https://user-images.githubusercontent.com/10867286/52282442-7c99ac80-2971-11e9-817d-3cc862b9a3c5.png)

[2019-02-05 17:48] JoaneniceS opened #796 "Codepen Full Page View FCC Test Issue"
Javascript Calculator

#### Issue Description
Free Code Camp Test pases all test on the editor view side of Codepen, but does not register or pick up on the Full Page View side of Codepen.

#### Browser Information

* Browser Name, Version: Chrome
* Operating System: Windows 10 64-bit processor ,x64
* Mobile, Desktop, or Tablet: Desktop

#### Your Code / Link to Your Pen

[code]

#### Screenshot

[2019-02-05 17:51] purKhaos opened #797 "Personal Portfolio Nav Issues"
#### Issue Description

My nav bar is position fixed and remaining at the top of the page upon scrolling, just like in the example. When I run the test, it says it fails for not staying at the top of the page.

#### Browser Information

* Browser Name, Version: All browsers
* Operating System: Windows 10
* Mobile, Desktop, or Tablet: Laptop

#### Your Code / Link to Your Pen

 https://codepen.io/p